NEW/workflows/n8n_old/TaskWork/BAT_Out_Processor_2.json
{
  "id": "UXKucUiHZm3bypSI",
  "name": "BAT Out Processor 2",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 3
            }
          ]
        }
      },
      "id": "47005e59-919c-4659-9eb6-7d51c55de00c",
      "name": "Every 3 Seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1504,
        80
      ]
    },
    {
      "parameters": {
        "operation": "pop",
        "list": "queue:outgoing",
        "options": {}
      },
      "id": "646653cf-ed72-4c27-ac2b-15f17f685300",
      "name": "Pop Outgoing Message",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1280,
        80
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-message",
              "leftValue": "={{ $json.value }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fd5911f1-a9e9-43da-9b93-ec4f4dab707a",
      "name": "Has Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const msgStr = $json.value;\nlet msg;\n\ntry {\n  msg = JSON.parse(msgStr);\n} catch (e) {\n  return { error: 'Failed to parse message', raw: msgStr };\n}\n\n// Ожидаемая структура:\n// {\n//   channel: 'avito' | 'whatsapp' | 'vk' | 'max' | 'telegram',\n//   external_chat_id: '...',\n//   message_text: '...',\n//   appeal_id: '...',\n//   tenant_id: '...',\n//   ... другие поля\n// }\n\nreturn {\n  channel: msg.channel,\n  out_message: msg\n};"
      },
      "id": "477c50cf-4cd7-4d50-9613-c074cb0e436f",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.channel }}",
              "value2": "avito"
            }
          ]
        }
      },
      "id": "69b527eb-8275-4cee-a367-3185eb57e90c",
      "name": "Avito?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -624,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.channel }}",
              "value2": "whatsapp"
            }
          ]
        }
      },
      "id": "043b7b09-c6f8-4a57-94ec-f1badd7ab4c2",
      "name": "WhatsApp?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -400,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.channel }}",
              "value2": "vk"
            }
          ]
        }
      },
      "id": "2bc643dd-87c4-47a6-bcf8-c8eb660110cb",
      "name": "VK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -176,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.channel }}",
              "value2": "max"
            }
          ]
        }
      },
      "id": "72b2e50c-7302-4ebd-8ac7-3cb8a157c1d0",
      "name": "MAX?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        48,
        272
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.channel }}",
              "value2": "telegram"
            }
          ]
        }
      },
      "id": "c42ccae0-0edf-4378-bbb5-73dc0d9b0fac",
      "name": "Telegram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        272,
        384
      ]
    },
    {
      "parameters": {
        "workflowId": "ktU66Uf8f654kHvk",
        "options": {}
      },
      "id": "a707ba70-fd25-4be6-b14c-5aeb0876e88e",
      "name": "Call OUT Avito",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -400,
        -128
      ]
    },
    {
      "parameters": {
        "workflowId": "YOs2tLdOlJAqY17o",
        "options": {}
      },
      "id": "5dcdd8fb-20ee-493e-8d16-eb9e73cf49a2",
      "name": "Call OUT WhatsApp",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -176,
        -16
      ]
    },
    {
      "parameters": {
        "workflowId": "3qluqpU6q269XuVK",
        "options": {}
      },
      "id": "9b4f0d36-4198-446f-88bf-5280fe8ce21e",
      "name": "Call OUT VK",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        48,
        80
      ]
    },
    {
      "parameters": {
        "workflowId": "RBGRJXr4o68VBJ6X",
        "options": {}
      },
      "id": "6a556ada-3247-462a-8fcd-5ab99f9df080",
      "name": "Call OUT MAX",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        272,
        176
      ]
    },
    {
      "parameters": {
        "workflowId": "OUT_TELEGRAM_WORKFLOW_ID",
        "options": {}
      },
      "id": "2ea8c643-adc3-4091-b3d3-e861339d71c6",
      "name": "Call OUT Telegram",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        480,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "// Неизвестный канал - логируем ошибку\nconst data = $json;\nconsole.error('Unknown channel:', data.channel);\n\nreturn {\n  error: 'Unknown channel',\n  channel: data.channel,\n  message: data.out_message\n};"
      },
      "id": "4a01d8fb-a49e-4aea-9dc4-3b7ba02e6c56",
      "name": "Unknown Channel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        480
      ]
    }
  ],
  "connections": {
    "Every 3 Seconds": {
      "main": [
        [
          {
            "node": "Pop Outgoing Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pop Outgoing Message": {
      "main": [
        [
          {
            "node": "Has Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Message?": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Avito?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avito?": {
      "main": [
        [
          {
            "node": "Call OUT Avito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp?": {
      "main": [
        [
          {
            "node": "Call OUT WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "VK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VK?": {
      "main": [
        [
          {
            "node": "Call OUT VK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MAX?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAX?": {
      "main": [
        [
          {
            "node": "Call OUT MAX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram?": {
      "main": [
        [
          {
            "node": "Call OUT Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "updatedAt": "2025-11-23T03:59:12.594Z",
      "createdAt": "2025-11-23T03:59:12.594Z",
      "id": "8zD9sDD78ytgu5T2",
      "name": "BattCRM"
    },
    {
      "updatedAt": "2025-11-25T13:52:16.776Z",
      "createdAt": "2025-11-25T13:52:16.776Z",
      "id": "KZWHB14qNi4HvGro",
      "name": "TaskWork"
    }
  ],
  "updatedAt": "2025-12-05T11:15:21.000Z",
  "createdAt": "2025-12-03T13:08:38.505Z"
}