Old/n8n_workflows/API/API_Android_Repair_Update.json
{
  "id": "qebudEcXswr927Q2",
  "name": "API_Android_Repair_Update",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "PATCH",
        "path": "android/appeal-repairs/:id",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1376,
        96
      ],
      "id": "c0ab7f9d-b2b4-42d9-b69d-797a752edd1f",
      "name": "Webhook",
      "webhookId": "android-repair-update"
    },
    {
      "parameters": {
        "jsCode": "const headers = $json.headers || {};\nconst body = $json.body || {};\nconst params = $json.params || {};\n\nlet token = headers['x-session-token'] || headers['X-Session-Token'] || '';\nif (!token) {\n  const authHeader = headers.authorization || headers.Authorization || '';\n  if (authHeader.startsWith('Bearer ')) token = authHeader.substring(7);\n}\n\nreturn {\n  session_token: token,\n  repair_id: params.id || '',\n  repair_category_id: body.repair_category_id,\n  repair_category_name: body.repair_category_name,\n  issue_type_id: body.issue_type_id,\n  issue_type_name: body.issue_type_name,\n  parts_owner: body.parts_owner\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        96
      ],
      "id": "dacbba94-afa3-4da0-a3f1-4d9238bf46cf",
      "name": "Parse Request"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT od.operator_id, od.tenant_id\nFROM operator_devices od\nJOIN operators o ON o.id = od.operator_id\nWHERE od.session_token = '{{ $json.session_token }}'\n  AND od.device_type = 'mobile'\n  AND o.is_active = true\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -896,
        96
      ],
      "id": "f1a33e54-98f0-4cf2-b1cb-d436b9437315",
      "name": "Get Tenant",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json;\nconst row = Array.isArray(input) ? (input[0] || null) : input;\nconst tenant_id = row?.tenant_id || null;\n\nconst prev = $('Parse Request').first()?.json || {};\n\nreturn {\n  ...prev,\n  tenant_id,\n  authorized: !!tenant_id\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        96
      ],
      "id": "a593b65e-8341-44d2-8650-4084ca9cd4e7",
      "name": "Check Auth"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.authorized }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -416,
        96
      ],
      "id": "a7f9c19b-de06-4c48-9988-1ba6272cda42",
      "name": "Authorized?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'unauthorized' } }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -176,
        256
      ],
      "id": "d7c71975-3c34-4361-8156-cd471983f895",
      "name": "Respond 401"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE appeal_repairs\nSET\n  repair_category_id = CASE WHEN '{{ $json.repair_category_id }}' = 'undefined' THEN repair_category_id ELSE NULLIF('{{ $json.repair_category_id }}', 'null')::uuid END,\n  repair_category_name = CASE WHEN '{{ $json.repair_category_name }}' = 'undefined' THEN repair_category_name ELSE NULLIF('{{ $json.repair_category_name }}', 'null') END,\n  issue_type_id = CASE WHEN '{{ $json.issue_type_id }}' = 'undefined' THEN issue_type_id ELSE NULLIF('{{ $json.issue_type_id }}', 'null')::uuid END,\n  issue_type_name = CASE WHEN '{{ $json.issue_type_name }}' = 'undefined' THEN issue_type_name ELSE NULLIF('{{ $json.issue_type_name }}', 'null') END,\n  parts_owner = CASE WHEN '{{ $json.parts_owner }}' = 'undefined' THEN parts_owner ELSE COALESCE(NULLIF('{{ $json.parts_owner }}', 'null'), parts_owner) END,\n  updated_at = NOW()\nWHERE id = '{{ $json.repair_id }}'::uuid\n  AND tenant_id = '{{ $json.tenant_id }}'::uuid\nRETURNING id, repair_category_name, issue_type_name, parts_owner;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -176,
        -64
      ],
      "id": "c10b4ef8-290b-49f2-8b2d-fa0c02eadd8c",
      "name": "SQL Update",
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first()?.json;\nconst row = Array.isArray(result) ? result[0] : result;\n\nif (!row || !row.id) {\n  return { success: false, error: 'update_failed' };\n}\n\nreturn {\n  success: true,\n  repair: row\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -64
      ],
      "id": "761e79eb-1af6-4afb-89c5-aefe0a5c63ef",
      "name": "Format Result"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.success ? 200 : 400 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        304,
        -64
      ],
      "id": "64bf5069-fd1d-480d-9112-94c4c250e2cd",
      "name": "Respond Result"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "Get Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tenant": {
      "main": [
        [
          {
            "node": "Check Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth": {
      "main": [
        [
          {
            "node": "Authorized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authorized?": {
      "main": [
        [
          {
            "node": "SQL Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Update": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "Respond Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "updatedAt": "2025-11-23T03:58:34.844Z",
      "createdAt": "2025-11-23T03:58:34.844Z",
      "id": "0yzk30hhaSzkl8bF",
      "name": "API"
    },
    {
      "updatedAt": "2025-11-23T03:59:12.594Z",
      "createdAt": "2025-11-23T03:59:12.594Z",
      "id": "8zD9sDD78ytgu5T2",
      "name": "BattCRM"
    }
  ],
  "updatedAt": "2025-12-02T07:54:02.000Z",
  "createdAt": "2025-11-29T12:31:48.164Z"
}