NEW/workflows/Graph Contour/ELO_Graph_Query.json
{
  "updatedAt": "2025-12-12T08:43:02.088Z",
  "createdAt": "2025-12-11T17:11:42.826Z",
  "id": "2ZzFlQ5LOZzJ5bGo",
  "name": "ELO_Graph_Query",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "elo-graph-query",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "45142c7b-0be0-492c-b982-261d71c300ec",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -656,
        -64
      ],
      "webhookId": "elo-graph-query-001"
    },
    {
      "parameters": {
        "jsCode": "// Validate Input - v2 compatible (no process.env)\nconst input = $input.first().json;\n\n// Required field check\nif (!input.query_code) {\n  throw new Error('Missing required field: query_code');\n}\n\n// Default params to empty object\nconst params = input.params || {};\n\n// Generate trace_id if not provided\nconst trace_id = input.trace_id || `trace_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\nreturn {\n  query_code: input.query_code,\n  params: params,\n  trace_id: trace_id,\n  received_at: new Date().toISOString()\n};"
      },
      "id": "3c9fa748-1c59-4f31-b3ca-37a1135d2893",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        -64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://45.144.177.128:8773/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query_code: $json.query_code, params: $json.params }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "c9498849-aacd-4617-875b-1e9e1160270a",
      "name": "Graph Tool Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Add trace_id to response\nconst validateNode = $('Validate Input').first().json;\nconst response = $input.first().json;\n\nreturn {\n  ...response,\n  trace_id: validateNode.trace_id\n};"
      },
      "id": "d96cdd54-7ce0-40f3-9abd-e12ca0094ffb",
      "name": "Add Trace ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -64
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "c5dbda6e-d5e0-4b9c-b1e2-0d757b8426f7",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        224,
        -64
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Graph Tool Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Graph Tool Request": {
      "main": [
        [
          {
            "node": "Add Trace ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Trace ID": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "c1ebcd9b-d1f2-415e-b22c-001105adad6a",
  "activeVersionId": null,
  "versionCounter": 5,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-11T17:11:42.834Z",
      "createdAt": "2025-12-11T17:11:42.834Z",
      "role": "workflow:owner",
      "workflowId": "2ZzFlQ5LOZzJ5bGo",
      "projectId": "x7frUSUEowDAk8Dt",
      "project": {
        "updatedAt": "2025-08-25T18:57:22.218Z",
        "createdAt": "2025-08-25T08:16:18.805Z",
        "id": "x7frUSUEowDAk8Dt",
        "name": "Dmitriy Remacs <dk@n8nsrv.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-25T08:16:18.805Z",
            "createdAt": "2025-08-25T08:16:18.805Z",
            "userId": "1d5222a1-8f53-4940-b7de-93daeae04393",
            "projectId": "x7frUSUEowDAk8Dt",
            "user": {
              "updatedAt": "2025-12-20T04:36:02.000Z",
              "createdAt": "2025-08-25T08:16:17.784Z",
              "id": "1d5222a1-8f53-4940-b7de-93daeae04393",
              "email": "dk@n8nsrv.ru",
              "firstName": "Dmitriy",
              "lastName": "Remacs",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RbSUhceYc7q41M5j",
                "userActivatedAt": 1756286438389
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-19",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-23T04:02:03.765Z",
      "createdAt": "2025-11-23T04:02:03.765Z",
      "id": "JkzPlhYcdcsJtFGG",
      "name": "Tool"
    },
    {
      "updatedAt": "2025-12-09T18:50:08.518Z",
      "createdAt": "2025-12-09T18:50:08.518Z",
      "id": "tMSCjbvPU3xrNUqz",
      "name": "ELO"
    }
  ],
  "activeVersion": null
}