NEW/workflows/Block 1 Messager/Channel Contour/ELO_Message_Router.json
{
  "updatedAt": "2025-12-20T17:13:57.081Z",
  "createdAt": "2025-12-17T08:46:33.101Z",
  "id": "EIBalgIkj2XP9iGm",
  "name": "ELO_Message_Router",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "router",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "aa5e47d8-6743-4823-a802-c3456beb7f45",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -960,
        -208
      ],
      "webhookId": "router-webhook"
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.item.json.body || $input.item.json;\nconst direction = msg.direction || 'in';\nconst status = msg.status || '';\n\nlet messageType;\nif (direction === 'in') {\n  messageType = 'from_client';\n} else if (direction === 'out') {\n  messageType = (status === 'approved') ? 'approved' : 'from_operator';\n} else {\n  messageType = 'from_client';\n}\n\nreturn {\n  json: {\n    ...msg,\n    _message_type: messageType\n  }\n};"
      },
      "id": "7b253383-543a-4b2d-bd00-091d4f68291b",
      "name": "Determine Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        -208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json._message_type }}",
              "value2": "from_client"
            }
          ]
        }
      },
      "id": "e58fe2a7-35fa-4ca8-be41-985f0f5126ff",
      "name": "Is From Client?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -512,
        -208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json._message_type }}",
              "value2": "approved"
            }
          ]
        }
      },
      "id": "d2d2d1cc-6d83-4924-b571-5395daa2b1a8",
      "name": "Is Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -512,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.item.json;\n\nreturn {\n  json: {\n    route_action: 'push_to_operator',\n    payload: {\n      action: 'new_message',\n      message: {\n        id: msg.id,\n        channel: msg.channel,\n        chat_id: msg.chat_id,\n        sender_id: msg.sender_id,\n        sender_name: msg.sender_name,\n        sender_phone: msg.sender_phone,\n        text: msg.text,\n        has_audio: msg.has_audio || false,\n        transcription: msg.transcription,\n        has_media: msg.has_media || false,\n        media_type: msg.media_type,\n        media_url: msg.media_url,\n        media_local_path: msg.media_local_path,\n        timestamp: msg.timestamp,\n        server_id: msg.server_id\n      }\n    }\n  }\n};"
      },
      "id": "3582d751-8be4-4a4c-aa0a-758b779ab31a",
      "name": "From Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        -336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://eldoleado.ru"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-2.0-flash-001\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a Russian text editor. Fix grammar, spelling, and punctuation errors. Keep the meaning intact. Output ONLY the corrected text, nothing else.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.text || '') }}\n    }\n  ],\n  \"max_tokens\": 1000,\n  \"temperature\": 0.1\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "f50e0a98-91a2-4dc7-802f-3d7b2353b105",
      "name": "Normalize Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        128
      ],
      "credentials": {
        "openRouterApi": {
          "id": "ameOTCcGgTm3hbtM",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Determine Type').item.json;\nconst response = $input.item.json;\nconst normalized = response.choices?.[0]?.message?.content?.trim() || msg.text;\n\nreturn {\n  json: {\n    route_action: 'push_to_operator',\n    payload: {\n      action: 'show_draft',\n      message: {\n        id: msg.id,\n        channel: msg.channel,\n        chat_id: msg.chat_id,\n        original_text: msg.text,\n        normalized_text: normalized,\n        timestamp: msg.timestamp,\n        server_id: msg.server_id\n      }\n    }\n  }\n};"
      },
      "id": "e7e434f8-2a82-4dd8-82d5-b65a9a206c8b",
      "name": "Build Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.item.json;\n\nreturn {\n  json: {\n    route_action: 'send_to_client',\n    payload: {\n      action: 'send_message',\n      channel: msg.channel,\n      chat_id: msg.chat_id,\n      text: msg.final_text || msg.text,\n      server_id: msg.server_id,\n      message_id: msg.id\n    }\n  }\n};"
      },
      "id": "4c03b269-b858-4cc2-8de5-0f7f76b07dd3",
      "name": "Approved",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "7465e5d9-492e-456d-9b65-e656b28e6d5c",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        176,
        -112
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Determine Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Type": {
      "main": [
        [
          {
            "node": "Is From Client?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is From Client?": {
      "main": [
        [
          {
            "node": "From Client",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Approved?": {
      "main": [
        [
          {
            "node": "Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "From Client": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Text": {
      "main": [
        [
          {
            "node": "Build Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Draft": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b36d6a19-bd25-4850-af16-3ce4dcbc2e4c",
  "activeVersionId": "b36d6a19-bd25-4850-af16-3ce4dcbc2e4c",
  "versionCounter": 16,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-17T08:46:33.108Z",
      "createdAt": "2025-12-17T08:46:33.108Z",
      "role": "workflow:owner",
      "workflowId": "EIBalgIkj2XP9iGm",
      "projectId": "x7frUSUEowDAk8Dt",
      "project": {
        "updatedAt": "2025-08-25T18:57:22.218Z",
        "createdAt": "2025-08-25T08:16:18.805Z",
        "id": "x7frUSUEowDAk8Dt",
        "name": "Dmitriy Remacs <dk@n8nsrv.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-25T08:16:18.805Z",
            "createdAt": "2025-08-25T08:16:18.805Z",
            "userId": "1d5222a1-8f53-4940-b7de-93daeae04393",
            "projectId": "x7frUSUEowDAk8Dt",
            "user": {
              "updatedAt": "2025-12-24T06:45:04.000Z",
              "createdAt": "2025-08-25T08:16:17.784Z",
              "id": "1d5222a1-8f53-4940-b7de-93daeae04393",
              "email": "dk@n8nsrv.ru",
              "firstName": "Dmitriy",
              "lastName": "Remacs",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RbSUhceYc7q41M5j",
                "userActivatedAt": 1756286438389
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-23",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-12-20T17:13:48.080Z",
      "createdAt": "2025-12-20T17:13:48.080Z",
      "id": "ePhQXf5e7xS1lbk9",
      "name": "OperatorCore"
    },
    {
      "updatedAt": "2025-12-09T18:50:08.518Z",
      "createdAt": "2025-12-09T18:50:08.518Z",
      "id": "tMSCjbvPU3xrNUqz",
      "name": "ELO"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-20T17:13:57.082Z",
    "createdAt": "2025-12-20T17:13:57.082Z",
    "versionId": "b36d6a19-bd25-4850-af16-3ce4dcbc2e4c",
    "workflowId": "EIBalgIkj2XP9iGm",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "router",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "aa5e47d8-6743-4823-a802-c3456beb7f45",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -960,
          -208
        ],
        "webhookId": "router-webhook"
      },
      {
        "parameters": {
          "jsCode": "const msg = $input.item.json.body || $input.item.json;\nconst direction = msg.direction || 'in';\nconst status = msg.status || '';\n\nlet messageType;\nif (direction === 'in') {\n  messageType = 'from_client';\n} else if (direction === 'out') {\n  messageType = (status === 'approved') ? 'approved' : 'from_operator';\n} else {\n  messageType = 'from_client';\n}\n\nreturn {\n  json: {\n    ...msg,\n    _message_type: messageType\n  }\n};"
        },
        "id": "7b253383-543a-4b2d-bd00-091d4f68291b",
        "name": "Determine Type",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -736,
          -208
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json._message_type }}",
                "value2": "from_client"
              }
            ]
          }
        },
        "id": "e58fe2a7-35fa-4ca8-be41-985f0f5126ff",
        "name": "Is From Client?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -512,
          -208
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json._message_type }}",
                "value2": "approved"
              }
            ]
          }
        },
        "id": "d2d2d1cc-6d83-4924-b571-5395daa2b1a8",
        "name": "Is Approved?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -512,
          16
        ]
      },
      {
        "parameters": {
          "jsCode": "const msg = $input.item.json;\n\nreturn {\n  json: {\n    route_action: 'push_to_operator',\n    payload: {\n      action: 'new_message',\n      message: {\n        id: msg.id,\n        channel: msg.channel,\n        chat_id: msg.chat_id,\n        sender_id: msg.sender_id,\n        sender_name: msg.sender_name,\n        sender_phone: msg.sender_phone,\n        text: msg.text,\n        has_audio: msg.has_audio || false,\n        transcription: msg.transcription,\n        has_media: msg.has_media || false,\n        media_type: msg.media_type,\n        media_url: msg.media_url,\n        media_local_path: msg.media_local_path,\n        timestamp: msg.timestamp,\n        server_id: msg.server_id\n      }\n    }\n  }\n};"
        },
        "id": "3582d751-8be4-4a4c-aa0a-758b779ab31a",
        "name": "From Client",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -256,
          -336
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://openrouter.ai/api/v1/chat/completions",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openRouterApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "HTTP-Referer",
                "value": "https://eldoleado.ru"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"google/gemini-2.0-flash-001\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a Russian text editor. Fix grammar, spelling, and punctuation errors. Keep the meaning intact. Output ONLY the corrected text, nothing else.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.text || '') }}\n    }\n  ],\n  \"max_tokens\": 1000,\n  \"temperature\": 0.1\n}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "f50e0a98-91a2-4dc7-802f-3d7b2353b105",
        "name": "Normalize Text",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -256,
          128
        ],
        "credentials": {
          "openRouterApi": {
            "id": "ameOTCcGgTm3hbtM",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const msg = $('Determine Type').item.json;\nconst response = $input.item.json;\nconst normalized = response.choices?.[0]?.message?.content?.trim() || msg.text;\n\nreturn {\n  json: {\n    route_action: 'push_to_operator',\n    payload: {\n      action: 'show_draft',\n      message: {\n        id: msg.id,\n        channel: msg.channel,\n        chat_id: msg.chat_id,\n        original_text: msg.text,\n        normalized_text: normalized,\n        timestamp: msg.timestamp,\n        server_id: msg.server_id\n      }\n    }\n  }\n};"
        },
        "id": "e7e434f8-2a82-4dd8-82d5-b65a9a206c8b",
        "name": "Build Draft",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          128
        ]
      },
      {
        "parameters": {
          "jsCode": "const msg = $input.item.json;\n\nreturn {\n  json: {\n    route_action: 'send_to_client',\n    payload: {\n      action: 'send_message',\n      channel: msg.channel,\n      chat_id: msg.chat_id,\n      text: msg.final_text || msg.text,\n      server_id: msg.server_id,\n      message_id: msg.id\n    }\n  }\n};"
        },
        "id": "4c03b269-b858-4cc2-8de5-0f7f76b07dd3",
        "name": "Approved",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -240,
          -112
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json) }}",
          "options": {}
        },
        "id": "7465e5d9-492e-456d-9b65-e656b28e6d5c",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          176,
          -112
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Determine Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Determine Type": {
        "main": [
          [
            {
              "node": "Is From Client?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is From Client?": {
        "main": [
          [
            {
              "node": "From Client",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is Approved?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Approved?": {
        "main": [
          [
            {
              "node": "Approved",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Normalize Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "From Client": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Text": {
        "main": [
          [
            {
              "node": "Build Draft",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Draft": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Approved": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dmitriy Remacs",
    "name": null,
    "description": null
  }
}