NEW/workflows/Input Contour/ELO_Input_Worker.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 3
            }
          ]
        }
      },
      "id": "ac5f3ef3-139b-48c0-8211-79433b30ce6b",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2704,
        1152
      ],
      "notes": "POLL_INTERVAL: 1 sec"
    },
    {
      "parameters": {
        "jsCode": "// === CONFIG ===\nconst DEBOUNCE_MS = 10000;  // 10 сек тишины\nconst MAX_WAIT_MS = 40000;  // 40 сек максимум\n\nreturn [{\n  json: {\n    config: {\n      debounce_ms: DEBOUNCE_MS,\n      max_wait_ms: MAX_WAIT_MS\n    },\n    now: Date.now()\n  }\n}];"
      },
      "id": "2bd61a35-a03c-4007-ba9d-acc8e5b7716d",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2496,
        1152
      ]
    },
    {
      "parameters": {
        "operation": "pop",
        "list": "queue:incoming",
        "options": {}
      },
      "id": "e961c557-1dbe-4ad4-be70-b139d89763c8",
      "name": "Pop Message",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2304,
        1152
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      },
      "notes": "LPOP - забираем одно сообщение"
    },
    {
      "parameters": {
        "jsCode": "// Парсим сообщение\n  // Redis POP может вернуть данные в value (строка) или propertyName (объект)\n  const config = $('Config').first().json.config;\n  const now = $('Config').first().json.now;\n\n  let raw = $json.value;\n  let message = null;\n\n  // Проверяем разные форматы вывода Redis node\n  if ($json.propertyName && typeof $json.propertyName === 'object') {\n    // Данные уже распарсены в propertyName\n    message = $json.propertyName;\n    raw = JSON.stringify(message);\n  } else if (raw) {\n    // Данные в value как строка\n    try {\n      message = JSON.parse(raw);\n    } catch (e) {\n      return [{ json: { phase: 'empty', config: config, now: now, error: 'parse_error' } }];\n    }\n  }\n\n  if (!message) {\n    return [{ json: { phase: 'empty', config: config, now: now } }];\n  }\n\n  const batch_key = `${message.channel || 'unknown'}:${message.external_chat_id || 'unknown'}`;\n\n  return [{\n    json: {\n      phase: 'process',\n      message: message,\n      batch_key: batch_key,\n      message_json: raw,\n      config: config,\n      now: now\n    }\n  }];"
      },
      "id": "80c22d08-bcdf-4713-b02a-ed9b2ee6f8e7",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2096,
        1152
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "phase-check",
              "leftValue": "={{$json.phase}}",
              "rightValue": "empty",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "c32a5ef9-2770-45ec-942a-f0a38e4d896e",
      "name": "If Empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1904,
        1152
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=first_seen:{{$json.batch_key}}",
        "options": {}
      },
      "id": "608d6a09-061d-4780-910e-59c2dca94d7f",
      "name": "Get First Seen",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1696,
        1264
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Вычисляем deadline\nconst prev = $('Parse Message').first().json;\nconst first_seen_raw = $json.value;\nconst now = prev.now;\nconst config = prev.config;\n\nlet first_seen = first_seen_raw ? parseInt(first_seen_raw, 10) : null;\nlet is_new_batch = false;\n\nif (!first_seen) {\n  first_seen = now;\n  is_new_batch = true;\n}\n\n// deadline = min(first_seen + max_wait, now + debounce)\nconst max_deadline = first_seen + config.max_wait_ms;\nconst debounce_deadline = now + config.debounce_ms;\nconst final_deadline = Math.min(max_deadline, debounce_deadline);\n\nreturn [{\n  json: {\n    batch_key: prev.batch_key,\n    message_json: prev.message_json,\n    first_seen: first_seen,\n    is_new_batch: is_new_batch,\n    deadline: final_deadline,\n    now: now\n  }\n}];"
      },
      "id": "113d5eee-7f97-403d-82b7-d5f4d394537a",
      "name": "Calc Deadline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        1264
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "new-batch",
              "leftValue": "={{$json.is_new_batch}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "ba20cd9c-1f10-42e8-93b3-19435e1f0b85",
      "name": "If New Batch",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1312,
        1344
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=first_seen:{{$json.batch_key}}",
        "value": "={{String($json.first_seen)}}",
        "expire": true,
        "ttl": 120
      },
      "id": "11100c80-0140-415f-9f97-9217b367d31d",
      "name": "Set First Seen",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1136,
        1248
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pass through\nreturn [$('Calc Deadline').first()];"
      },
      "id": "20fad053-dd2a-4890-9121-50d473217c5b",
      "name": "Pass Through",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        1360
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=batch:{{$json.batch_key}}",
        "messageData": "={{$json.message_json}}",
        "tail": true
      },
      "id": "8433fa90-897b-434f-923f-bd7f62625105",
      "name": "Push To Batch",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -736,
        1264
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      },
      "notes": "Добавляем сообщение в батч"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=deadline:{{$('Calc Deadline').first().json.batch_key}}",
        "value": "={{String($('Calc Deadline').first().json.deadline)}}",
        "expire": true,
        "ttl": 120
      },
      "id": "b87c101f-27ef-4dff-b6bd-89919c0ee140",
      "name": "Set Deadline",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -544,
        1264
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "batch:*"
      },
      "id": "50e7e4ff-83e4-41d3-9b74-ddcd26d506f4",
      "name": "Get All Batches",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -352,
        1152
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Проверяем есть ли batches\n// Redis KEYS возвращает ключи как свойства объекта\nconst allKeys = Object.keys($json);\nconst keys = allKeys.filter(k => k.startsWith('batch:'));\nconst now = Date.now();\n\nif (keys.length === 0) {\n  return [{ json: { has_batches: false, batch_keys: [], now: now } }];\n}\n\nreturn [{\n  json: {\n    has_batches: true,\n    batch_keys: keys,\n    now: now\n  }\n}];"
      },
      "id": "79acecac-c1cf-4374-b81d-eaab0921eae0",
      "name": "Prepare Batch Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        1152
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-keys",
              "leftValue": "={{$json.has_batches}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "90690f58-c47b-48a7-aa9e-51e76509e050",
      "name": "If Has Batches",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        32,
        1152
      ]
    },
    {
      "parameters": {},
      "id": "2f243b85-7c8d-4216-b775-e253e5970abc",
      "name": "NoOp End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        224,
        1024
      ]
    },
    {
      "parameters": {
        "jsCode": "// Разбиваем batch ключи для проверки\nconst batch_keys = $json.batch_keys || [];\nconst now = $json.now;\n\nreturn batch_keys.map(k => ({\n  json: {\n    batch_list_key: k,\n    batch_key: k.replace('batch:', ''),\n    deadline_key: 'deadline:' + k.replace('batch:', ''),\n    now: now\n  }\n}));"
      },
      "id": "2dad5456-1e58-45dc-a3af-5d487a96d39a",
      "name": "Split Batch Keys",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1264
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{$json.deadline_key}}",
        "options": {}
      },
      "id": "30eee0d2-21da-40e7-835f-3ff9086f26ca",
      "name": "Get Deadline Value",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        416,
        1264
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Проверяем нужно ли обрабатывать batch\nconst prev = $('Split Batch Keys').item.json;\nconst now = prev.now;\n\n// Redis GET возвращает значение в ключе или в value\nlet deadlineValue = $json.value;\nif (!deadlineValue) {\n  // Пробуем найти значение в ключах объекта\n  const keys = Object.keys($json);\n  for (const k of keys) {\n    if (k.startsWith('deadline:')) {\n      deadlineValue = $json[k];\n      break;\n    }\n  }\n}\n\nconst deadline = parseInt(deadlineValue || '0', 10);\n\n// is_due = true если:\n// 1. deadline не существует (orphan batch) → deadline = 0\n// 2. deadline <= now (истёк)\nconst is_orphan = deadline === 0;\nconst is_expired = deadline > 0 && deadline <= now;\nconst is_due = is_orphan || is_expired;\n\nreturn [{\n  json: {\n    batch_key: prev.batch_key,\n    batch_list_key: prev.batch_list_key,\n    deadline: deadline,\n    now: now,\n    is_due: is_due,\n    is_orphan: is_orphan,\n    is_expired: is_expired,\n    reason: is_orphan ? 'orphan' : (is_expired ? 'timeout' : 'waiting')\n  }\n}];"
      },
      "id": "615e09e5-da8c-4a30-820e-d2f9fcdc0f3d",
      "name": "Check If Due",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        1264
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-due",
              "leftValue": "={{$json.is_due}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "bfa8d62a-d40f-49a7-922a-be07b2a909bb",
      "name": "If Due",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        800,
        1264
      ]
    },
    {
      "parameters": {
        "jsCode": "  // Инициализируем сбор сообщений\n  const prev = $json;\n  const msgJson = $('Parse Message').first().json.message_json;\n  const parsedMsg = JSON.parse(msgJson);\n\n  return [{\n    json: {\n      batch_key: prev.batch_key,\n      batch_list_key: prev.batch_list_key,\n      reason: prev.reason,\n      messages: [parsedMsg],  // ← МАССИВ с распарсенным объектом\n      collecting: true\n    }\n  }];"
      },
      "id": "7b250f7a-e944-43dc-a37b-936c055142d0",
      "name": "Init Collect",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        1104
      ]
    },
    {
      "parameters": {
        "operation": "pop",
        "list": "={{$json.batch_list_key}}",
        "options": {}
      },
      "id": "ad33365b-28a1-4331-a034-92b4a6110099",
      "name": "Pop Batch Item",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1232,
        1104
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      },
      "notes": "LPOP - забираем сообщение из батча"
    },
    {
      "parameters": {
        "jsCode": " // Собираем сообщения\n  const prev = $('Init Collect').first().json;\n  let messages = [...(prev.messages || [])];\n  let has_more = false;\n\n  // Redis POP может вернуть данные в value (строка) или propertyName (объект)\n  let popped = $json.value;\n  let parsedMessage = null;\n\n  if ($json.propertyName && typeof $json.propertyName === 'object') {\n    // Данные уже распарсены\n    parsedMessage = $json.propertyName;\n  } else if (popped) {\n    try {\n      parsedMessage = JSON.parse(popped);\n    } catch (e) {\n      // skip invalid\n    }\n  }\n\n  if (parsedMessage) {\n    messages.push(parsedMessage);\n    has_more = true;\n  }\n\n  return [{\n    json: {\n      batch_key: prev.batch_key,\n      batch_list_key: prev.batch_list_key,\n      reason: prev.reason,\n      messages: messages,\n      has_more: has_more\n    }\n  }];"
      },
      "id": "9f5e3a80-6b5b-4dc3-bd40-81c9e4c2c84f",
      "name": "Collect Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        1120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-more",
              "leftValue": "={{$json.has_more}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "68439116-c186-41fb-9465-36caad04a556",
      "name": "If Has More",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1600,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "// Обновляем Init Collect для следующей итерации\nconst prev = $json;\nreturn [{\n  json: {\n    batch_key: prev.batch_key,\n    batch_list_key: prev.batch_list_key,\n    reason: prev.reason,\n    messages: prev.messages,\n    collecting: true\n  }\n}];"
      },
      "id": "487e3f66-d5bc-4285-817f-4e9cc9994134",
      "name": "Loop Back",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        1104
      ]
    },
    {
      "parameters": {
        "jsCode": "// Мержим все сообщения\nconst data = $json;\nconst messages = data.messages || [];\nconst batch_key = data.batch_key;\nconst reason = data.reason;\n\nif (messages.length === 0) {\n  return [{ json: { skip: true, batch_key: batch_key } }];\n}\n\n// Merge texts\nconst texts = messages.map(m => m.text || '').filter(Boolean);\nconst merged_text = texts.join('\\n\\n');\n\n// Merge media\nconst all_media = [];\nfor (const msg of messages) {\n  if (msg.media && Object.keys(msg.media).length > 0) {\n    all_media.push(msg.media);\n  }\n}\n\n// Message IDs\nconst message_ids = messages.map(m => m.message_id || m.meta?.external_message_id).filter(Boolean);\n\n// Sample = last message\nconst sample = messages[messages.length - 1];\n\nconst payload = {\n  channel: sample.channel,\n  bot_token: sample.bot_token,\n  external_user_id: sample.external_user_id,\n  external_chat_id: sample.external_chat_id,\n  client_name: sample.client_name,\n  client_phone: sample.client_phone,\n  text: merged_text,\n  timestamp: sample.timestamp,\n  message_ids: message_ids,\n  trace_id: sample.trace_id || `trace_${Date.now()}`,\n  media: all_media.length === 1 ? all_media[0] : (all_media.length > 1 ? all_media : {}),\n  tenant_id: sample.tenant_id,\n  tenant_name: sample.tenant_name,\n  tenant_config: sample.tenant_config,\n  meta: {\n    ...(sample.meta || {}),\n    batched: messages.length > 1,\n    batch_size: messages.length,\n    batch_reason: reason\n  }\n};\n\nreturn [{\n  json: {\n    skip: false,\n    batch_key: batch_key,\n    payload: payload\n  }\n}];"
      },
      "id": "2345068b-6c05-4816-9c3c-2706dc198151",
      "name": "Merge Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        1680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "skip",
              "leftValue": "={{$json.skip}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "71cc1591-4864-4152-b3a8-f52e84ff1a6d",
      "name": "If Skip",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2048,
        1632
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "error",
              "leftValue": "={{$json.error}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "52936991-5a54-467a-8c9a-2ee5c0d6a4d6",
      "name": "If Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2464,
        1888
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "dlq:input_contour",
        "messageData": "={{ JSON.stringify({ batch_key: $('Merge Batch').first().json.batch_key, payload: $('Merge Batch').first().json.payload, error: $json.error || 'unknown', failed_at: new Date().toISOString() }) }}",
        "tail": true
      },
      "id": "cfed96aa-64d6-4c6c-bf33-f2cadfdadbeb",
      "name": "Push DLQ",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2944,
        1584
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=deadline:{{$('Merge Batch').first().json.batch_key}}"
      },
      "id": "5dce1f59-fcb4-4dfd-8087-02ac4ce3a30b",
      "name": "Cleanup Deadline",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2960,
        1888
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=first_seen:{{$('Merge Batch').first().json.batch_key}}"
      },
      "id": "7669b9a4-d889-4cdb-9b02-2cce4cfd37f2",
      "name": "Cleanup First Seen",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3280,
        1824
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OHjjTQDguN2G6xin",
          "mode": "list",
          "cachedResultUrl": "/workflow/OHjjTQDguN2G6xin",
          "cachedResultName": "ELO_Client_Resolve"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2208,
        1776
      ],
      "id": "9cc8b9f8-fa27-41d5-b0c3-73a7c1de74bf",
      "name": "Call 'ELO_Client_Resolve'"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Pop Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pop Message": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "If Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Empty": {
      "main": [
        [
          {
            "node": "Get All Batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get First Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get First Seen": {
      "main": [
        [
          {
            "node": "Calc Deadline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calc Deadline": {
      "main": [
        [
          {
            "node": "If New Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If New Batch": {
      "main": [
        [
          {
            "node": "Set First Seen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass Through",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set First Seen": {
      "main": [
        [
          {
            "node": "Pass Through",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Through": {
      "main": [
        [
          {
            "node": "Push To Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push To Batch": {
      "main": [
        [
          {
            "node": "Set Deadline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Deadline": {
      "main": [
        [
          {
            "node": "Get All Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Batches": {
      "main": [
        [
          {
            "node": "Prepare Batch Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Batch Check": {
      "main": [
        [
          {
            "node": "If Has Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Batches": {
      "main": [
        [
          {
            "node": "Split Batch Keys",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Batch Keys": {
      "main": [
        [
          {
            "node": "Get Deadline Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Deadline Value": {
      "main": [
        [
          {
            "node": "Check If Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Due": {
      "main": [
        [
          {
            "node": "If Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Due": {
      "main": [
        [
          {
            "node": "Init Collect",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Collect": {
      "main": [
        [
          {
            "node": "Pop Batch Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pop Batch Item": {
      "main": [
        [
          {
            "node": "Collect Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Message": {
      "main": [
        [
          {
            "node": "If Has More",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has More": {
      "main": [
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back": {
      "main": [
        [
          {
            "node": "Pop Batch Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Batch": {
      "main": [
        [
          {
            "node": "If Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Skip": {
      "main": [
        [
          {
            "node": "Cleanup Deadline",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'ELO_Client_Resolve'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Error": {
      "main": [
        [
          {
            "node": "Push DLQ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cleanup Deadline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push DLQ": {
      "main": [
        [
          {
            "node": "Cleanup Deadline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Deadline": {
      "main": [
        [
          {
            "node": "Cleanup First Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'ELO_Client_Resolve'": {
      "main": [
        [
          {
            "node": "If Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Schedule Trigger": [
      {
        "timestamp": "2025-12-13T17:01:57.001+04:00",
        "Readable date": "December 13th 2025, 5:01:57 pm",
        "Readable time": "5:01:57 pm",
        "Day of week": "Saturday",
        "Year": "2025",
        "Month": "December",
        "Day of month": "13",
        "Hour": "17",
        "Minute": "01",
        "Second": "57",
        "Timezone": "Europe/Samara (UTC+04:00)"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ae77ca901b15c37bb42b26ea9b5a21b78217dd557a563108d875a64964c49bb"
  }
}