NEW/workflows/Block 2 Context/ELO_Context_Collector.json
{
  "name": "ELO_Context_Collector",
  "description": "Block 2 Entry Point: Receives from Block 1, saves state, triggers async extraction. Non-blocking.",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "elo-core-ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-800, 0],
      "webhookId": "elo-core-ingest"
    },
    {
      "parameters": {
        "jsCode": "// Block 2: Context Collector (Async Entry Point)\nconst input = $input.first().json.body || $input.first().json;\n\nconst trace_id = input.trace_id || `ctx_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\nreturn {\n  tenant_id: input.tenant_id,\n  client_id: input.client_id,\n  dialog_id: input.dialog_id,\n  channel_id: input.channel_id,\n  channel_account_id: input.channel_account_id,\n  channel: input.channel,\n  external_chat_id: input.external_chat_id,\n  text: input.text || '',\n  media: input.media || null,\n  is_new_client: input.is_new_client || false,\n  is_new_dialog: input.is_new_dialog || false,\n  trace_id: trace_id,\n  block2_start: Date.now()\n};"
      },
      "id": "prepare-input",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-576, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  d.id as dialog_id,\n  d.current_stage,\n  d.context,\n  d.vertical_id,\n  fs.code as stage_code,\n  fs.behavior_type\nFROM elo_t_dialogs d\nLEFT JOIN elo_funnel_stages fs ON fs.id = d.current_stage\nWHERE d.id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ [$json.dialog_id] }}"
        }
      },
      "id": "get-dialog-state",
      "name": "Get Dialog State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-352, 0],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge input with dialog state\nconst input = $('Prepare Input').first().json;\nconst dialogState = $input.first().json || {};\n\nreturn {\n  ...input,\n  current_stage: dialogState.stage_code || 'lead',\n  current_stage_id: dialogState.current_stage || null,\n  behavior_type: dialogState.behavior_type || null,\n  vertical_id: dialogState.vertical_id || 1,\n  existing_context: dialogState.context || {},\n  dialog_key: `elo:dialog:${input.trace_id}`\n};"
      },
      "id": "merge-state",
      "name": "Merge State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-128, 0]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.dialog_key }}",
        "value": "={{ JSON.stringify({ tenant_id: $json.tenant_id, client_id: $json.client_id, dialog_id: $json.dialog_id, channel: $json.channel, channel_id: $json.channel_id, channel_account_id: $json.channel_account_id, external_chat_id: $json.external_chat_id, text: $json.text, media: $json.media, is_new_client: $json.is_new_client, is_new_dialog: $json.is_new_dialog, current_stage: $json.current_stage, current_stage_id: $json.current_stage_id, behavior_type: $json.behavior_type, vertical_id: $json.vertical_id, existing_context: $json.existing_context, trace_id: $json.trace_id, block2_start: $json.block2_start }) }}",
        "expire": true,
        "ttl": 300
      },
      "id": "save-dialog-state",
      "name": "Save Dialog State",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [96, 0],
      "credentials": {"redis": {"id": "7FQcEivUY94atW24", "name": "Redis account"}}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.n8nsrv.ru/webhook/elo-ai-extract",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  message: $json.text,\n  tenant_id: $json.tenant_id,\n  dialog_id: $json.dialog_id,\n  client_id: $json.client_id,\n  channel: $json.channel,\n  context: $json.existing_context,\n  trace_id: $json.trace_id,\n  callback_url: 'https://n8n.n8nsrv.ru/webhook/elo-extract-complete'\n}) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "call-extract-async",
      "name": "Call ELO_AI_Extract (Async)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  status: 'processing',\n  trace_id: $('Prepare Input').first().json.trace_id,\n  message: 'Context extraction started'\n}) }}",
        "options": {"responseCode": 202}
      },
      "id": "respond-accepted",
      "name": "Respond Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [544, 0]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Prepare Input", "type": "main", "index": 0}]]
    },
    "Prepare Input": {
      "main": [[{"node": "Get Dialog State", "type": "main", "index": 0}]]
    },
    "Get Dialog State": {
      "main": [[{"node": "Merge State", "type": "main", "index": 0}]]
    },
    "Merge State": {
      "main": [[{"node": "Save Dialog State", "type": "main", "index": 0}]]
    },
    "Save Dialog State": {
      "main": [[{"node": "Call ELO_AI_Extract (Async)", "type": "main", "index": 0}]]
    },
    "Call ELO_AI_Extract (Async)": {
      "main": [[{"node": "Respond Accepted", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {"id": "eiI07cPEeFxzR69p", "name": "Core"},
    {"id": "tMSCjbvPU3xrNUqz", "name": "ELO"}
  ]
}
