NEW/workflows/Block 2 Context/ELO_AI_Extract.json
{
  "name": "ELO_AI_Extract_v3",
  "description": "Context extraction via Redis queue. Publishes tasks, exits immediately. Callback on completion.",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "elo-ai-extract",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-960, 300],
      "webhookId": "elo-ai-extract"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body || $input.first().json;\n\nif (!input.message) {\n  throw new Error('Missing required field: message');\n}\nif (!input.tenant_id) {\n  throw new Error('Missing required field: tenant_id');\n}\n\nconst traceId = input.trace_id || `extract_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\nreturn {\n  message: input.message,\n  tenant_id: input.tenant_id,\n  dialog_id: input.dialog_id || null,\n  client_id: input.client_id || null,\n  channel: input.channel || null,\n  context: input.context || {},\n  trace_id: traceId,\n  model: input.model || 'qwen/qwen3-4b:free',\n  callback_url: input.callback_url || 'https://n8n.n8nsrv.ru/webhook/elo-extract-complete',\n  _start_time: Date.now()\n};"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-736, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT code, name, default_prompt, output_schema, agent_tier, 'global' as level, NULL as domain_code, NULL as vertical_code\nFROM elo_context_types\nWHERE is_active = true\nORDER BY sort_order;",
        "options": {}
      },
      "id": "load-global",
      "name": "Load Global",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-480, 100],
      "credentials": {"postgres": {"id": "n2SyhP9QhMnp1ryk", "name": "Postgres account"}}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT dct.code, dct.name, \n  COALESCE(tco.custom_prompt, dct.default_prompt) as default_prompt, \n  COALESCE(tco.custom_output_schema, dct.output_schema) as output_schema,\n  COALESCE(tco.custom_agent_tier, dct.agent_tier) as agent_tier,\n  'domain' as level, d.code as domain_code, NULL as vertical_code\nFROM elo_d_context_types dct\nJOIN elo_domains d ON d.id = dct.domain_id\nJOIN elo_t_tenant_domains ttd ON ttd.domain_id = d.id\nLEFT JOIN elo_t_context_type_overrides tco ON tco.d_context_type_id = dct.id AND tco.tenant_id = $1\nWHERE ttd.tenant_id = $1\n  AND dct.is_active = true AND d.is_active = true\n  AND COALESCE(tco.is_active, true) = true\nORDER BY d.code, dct.sort_order;",
        "options": {"queryReplacement": "={{ [$('Validate Input').first().json.tenant_id] }}"}
      },
      "id": "load-domain",
      "name": "Load Domain",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-480, 300],
      "credentials": {"postgres": {"id": "n2SyhP9QhMnp1ryk", "name": "Postgres account"}}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT vct.code, vct.name, \n  COALESCE(tco.custom_prompt, vct.default_prompt) as default_prompt, \n  COALESCE(tco.custom_output_schema, vct.output_schema) as output_schema,\n  COALESCE(tco.custom_agent_tier, vct.agent_tier) as agent_tier,\n  'vertical' as level, d.code as domain_code, v.code as vertical_code\nFROM elo_v_context_types vct\nJOIN elo_verticals v ON v.id = vct.vertical_id\nJOIN elo_domains d ON d.id = v.domain_id\nJOIN elo_t_tenant_verticals ttv ON ttv.vertical_id = v.id\nLEFT JOIN elo_t_context_type_overrides tco ON tco.v_context_type_id = vct.id AND tco.tenant_id = $1\nWHERE ttv.tenant_id = $1\n  AND vct.is_active = true AND v.is_active = true\n  AND COALESCE(tco.is_active, true) = true\nORDER BY d.code, v.code, vct.sort_order;",
        "options": {"queryReplacement": "={{ [$('Validate Input').first().json.tenant_id] }}"}
      },
      "id": "load-vertical",
      "name": "Load Vertical",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-480, 500],
      "credentials": {"postgres": {"id": "n2SyhP9QhMnp1ryk", "name": "Postgres account"}}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT field_code, pattern, normalized_value, priority\nFROM elo_normalization_rules WHERE is_active = true\nORDER BY priority DESC;",
        "options": {}
      },
      "id": "load-normalization",
      "name": "Load Normalization",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-480, 700],
      "credentials": {"postgres": {"id": "n2SyhP9QhMnp1ryk", "name": "Postgres account"}}
    },
    {
      "parameters": {
        "jsCode": "// Merge all context types and create tasks for Redis\nconst input = $('Validate Input').first().json;\nconst globalTypes = $('Load Global').all().map(i => i.json);\nconst domainTypes = $('Load Domain').all().map(i => i.json);\nconst verticalTypes = $('Load Vertical').all().map(i => i.json);\nconst normRules = $('Load Normalization').all().map(i => i.json);\n\nconst allTypes = [...globalTypes, ...domainTypes, ...verticalTypes];\nconst defaultTier = input.agent_tier || 'nano';\n\nif (allTypes.length === 0) {\n  return {\n    skip: true,\n    trace_id: input.trace_id,\n    tasks: [],\n    normalization_rules: normRules\n  };\n}\n\n// Create task for each context type\nconst tasks = allTypes.map((ct, idx) => {\n  const schema = typeof ct.output_schema === 'string' \n    ? ct.output_schema \n    : JSON.stringify(ct.output_schema || {});\n    \n  const systemPrompt = `You extract \"${ct.code}\" from messages.\\n${ct.default_prompt || ct.name}\\nReturn JSON matching schema: ${schema}\\nRules: JSON only, no explanations.`;\n  \n  // Use agent_tier from context_type, fallback to input.agent_tier, then default 'nano'\n  const agentTier = ct.agent_tier || defaultTier;\n  \n  return {\n    task_id: `${input.trace_id}_${ct.code}_${idx}`,\n    trace_id: input.trace_id,\n    task_type: 'llm_extraction',\n    config: {\n      agent_tier: agentTier,\n      message: input.message,\n      system_prompt: systemPrompt,\n      prompt: `Extract \"${ct.code}\" from message.`,\n      output_schema: ct.output_schema,\n      temperature: 0.1,\n      max_tokens: 200\n    },\n    meta: {\n      code: ct.code,\n      level: ct.level,\n      domain_code: ct.domain_code,\n      vertical_code: ct.vertical_code,\n      total_tasks: allTypes.length,\n      tenant_id: input.tenant_id\n    },\n    callback: {\n      result_key: `elo:results:${input.trace_id}`,\n      counter_key: `elo:counter:${input.trace_id}`,\n      status_key: `elo:status:${input.trace_id}`,\n      notify_webhook: input.callback_url\n    }\n  };\n});\n\nreturn {\n  skip: false,\n  trace_id: input.trace_id,\n  total_tasks: tasks.length,\n  tasks: tasks,\n  normalization_rules: normRules,\n  result_key: `elo:results:${input.trace_id}`,\n  context_key: `elo:context:${input.trace_id}`,\n  input: input\n};"
      },
      "id": "create-tasks",
      "name": "Create Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-192, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [{
            "id": "has-tasks",
            "leftValue": "={{ $json.skip }}",
            "rightValue": true,
            "operator": {"type": "boolean", "operation": "notEquals"}
          }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-tasks",
      "name": "Has Tasks?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [32, 300]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.context_key }}",
        "value": "={{ JSON.stringify({ input: $json.input, normalization_rules: $json.normalization_rules, total_tasks: $json.total_tasks }) }}",
        "expire": true,
        "ttl": 300
      },
      "id": "save-context",
      "name": "Save Context",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [256, 200],
      "credentials": {"redis": {"id": "7FQcEivUY94atW24", "name": "Redis account"}}
    },
    {
      "parameters": {
        "jsCode": "// Prepare tasks for split\nconst data = $('Create Tasks').first().json;\nreturn data.tasks.map(t => ({ task: t }));"
      },
      "id": "split-tasks",
      "name": "Split Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 200]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "elo:tasks:pending",
        "messageData": "={{ JSON.stringify($json.task) }}"
      },
      "id": "push-to-redis",
      "name": "Push Tasks to Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [704, 200],
      "credentials": {"redis": {"id": "7FQcEivUY94atW24", "name": "Redis account"}}
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'processing', trace_id: $('Create Tasks').first().json.trace_id, total_tasks: $('Create Tasks').first().json.total_tasks, callback_url: $('Validate Input').first().json.callback_url }) }}",
        "options": {"responseCode": 202}
      },
      "id": "respond-accepted",
      "name": "Respond Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [928, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'skipped', entities: [], grouped: { global: [], domain: {}, vertical: {} }, message: $('Validate Input').first().json.message, trace_id: $('Validate Input').first().json.trace_id, reason: 'no context types configured' }) }}",
        "options": {}
      },
      "id": "respond-empty",
      "name": "Respond Empty",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [256, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Validate Input", "type": "main", "index": 0}]]
    },
    "Validate Input": {
      "main": [[
        {"node": "Load Global", "type": "main", "index": 0},
        {"node": "Load Domain", "type": "main", "index": 0},
        {"node": "Load Vertical", "type": "main", "index": 0},
        {"node": "Load Normalization", "type": "main", "index": 0}
      ]]
    },
    "Load Global": {
      "main": [[{"node": "Create Tasks", "type": "main", "index": 0}]]
    },
    "Load Domain": {
      "main": [[{"node": "Create Tasks", "type": "main", "index": 0}]]
    },
    "Load Vertical": {
      "main": [[{"node": "Create Tasks", "type": "main", "index": 0}]]
    },
    "Load Normalization": {
      "main": [[{"node": "Create Tasks", "type": "main", "index": 0}]]
    },
    "Create Tasks": {
      "main": [[{"node": "Has Tasks?", "type": "main", "index": 0}]]
    },
    "Has Tasks?": {
      "main": [
        [{"node": "Save Context", "type": "main", "index": 0}],
        [{"node": "Respond Empty", "type": "main", "index": 0}]
      ]
    },
    "Save Context": {
      "main": [[{"node": "Split Tasks", "type": "main", "index": 0}]]
    },
    "Split Tasks": {
      "main": [[{"node": "Push Tasks to Redis", "type": "main", "index": 0}]]
    },
    "Push Tasks to Redis": {
      "main": [[{"node": "Respond Accepted", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "tags": [
    {"id": "8dihLRJvdhkW2kZ1", "name": "AI"},
    {"id": "tMSCjbvPU3xrNUqz", "name": "ELO"}
  ],
  "meta": {"templateCredsSetupCompleted": true}
}
