NEW/workflows/AI Contour/ELO_Core_Graph_Writer.json
{
  "name": "ELO_Core_Graph_Writer",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "path": "elo-core-graph-writer",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "elo-core-graph-writer"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst context = input.context;\nconst writeMode = input.write_mode || 'incremental';\n\n// Validate required fields\nif (!context) {\n  throw new Error('Missing required field: context');\n}\n\nconst clientId = context.client_id;\nconst dialogId = context.dialog_id;\nconst tenantId = context.tenant_id;\n\nif (!clientId) {\n  throw new Error('Missing required field: context.client_id');\n}\n\n// Prepare data for Neo4j writes\nconst writes = {\n  client: {\n    id: clientId,\n    name: context.client?.name || null,\n    phone: context.client?.phone || null,\n    tenant_id: tenantId\n  },\n  devices: [],\n  problems: [],\n  touchpoint: {\n    dialog_id: dialogId,\n    timestamp: new Date().toISOString(),\n    stage: context.current_stage,\n    channel_id: context.channel_id\n  }\n};\n\n// Extract devices and problems from lines\nif (context.lines && context.lines.length > 0) {\n  for (const line of context.lines) {\n    const device = line.slots?.device;\n    if (device) {\n      writes.devices.push({\n        line_id: line.id,\n        brand: device.brand,\n        model: device.model,\n        owner_label: device.owner_label || 'main'\n      });\n    }\n    \n    // Problem from symptom/diagnosis\n    const symptom = line.slots?.symptom;\n    const diagnosis = line.slots?.diagnosis;\n    const repair = line.slots?.repair_type;\n    \n    if (symptom || diagnosis) {\n      writes.problems.push({\n        line_id: line.id,\n        symptom_text: symptom?.text,\n        symptom_type_code: line.slots?.symptom_type?.code,\n        diagnosis_code: diagnosis?.code,\n        repair_code: repair?.code,\n        price: line.slots?.price?.amount,\n        status: line.status === 'done' ? 'quoted' : 'collecting_info'\n      });\n    }\n  }\n}\n\nreturn {\n  context: context,\n  writes: writes,\n  write_mode: writeMode,\n  trace_id: context.trace_id\n};"
      },
      "id": "prepare-writes",
      "name": "Prepare Writes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://45.144.177.128:7474/db/neo4j/tx/commit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  statements: [{\n    statement: `\n      MERGE (c:Client {id: $clientId})\n      ON CREATE SET \n        c.created_at = datetime(),\n        c.tenant_id = $tenantId\n      ON MATCH SET\n        c.updated_at = datetime()\n      SET\n        c.name = COALESCE($clientName, c.name),\n        c.phone = COALESCE($clientPhone, c.phone)\n      RETURN c.id as client_id, c.name as client_name\n    `,\n    parameters: {\n      clientId: $json.writes.client.id,\n      clientName: $json.writes.client.name,\n      clientPhone: $json.writes.client.phone,\n      tenantId: $json.writes.client.tenant_id\n    }\n  }]\n}) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 30000
        }
      },
      "id": "write-client",
      "name": "Write Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "neo4j-auth",
          "name": "Neo4j"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prepareData = $('Prepare Writes').first().json;\nconst devices = prepareData.writes.devices;\n\nif (!devices || devices.length === 0) {\n  return { skip: true, devices_written: 0 };\n}\n\n// Build batch MERGE statements for devices\nconst statements = devices.map((device, idx) => ({\n  statement: `\n    MATCH (c:Client {id: $clientId})\n    MERGE (d:Device {\n      client_id: $clientId,\n      brand: $brand,\n      model: $model,\n      owner_label: $ownerLabel\n    })\n    ON CREATE SET\n      d.id = randomUUID(),\n      d.created_at = datetime()\n    ON MATCH SET\n      d.updated_at = datetime()\n    MERGE (c)-[:OWNS]->(d)\n    RETURN d.id as device_id, d.brand as brand, d.model as model\n  `,\n  parameters: {\n    clientId: prepareData.writes.client.id,\n    brand: device.brand,\n    model: device.model,\n    ownerLabel: device.owner_label || 'main'\n  }\n}));\n\nreturn {\n  skip: false,\n  statements: statements,\n  client_id: prepareData.writes.client.id\n};"
      },
      "id": "prepare-devices",
      "name": "Prepare Devices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-devices",
      "name": "Has Devices?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://45.144.177.128:7474/db/neo4j/tx/commit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ statements: $json.statements }) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 30000
        }
      },
      "id": "write-devices",
      "name": "Write Devices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 200],
      "credentials": {
        "httpBasicAuth": {
          "id": "neo4j-auth",
          "name": "Neo4j"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prepareData = $('Prepare Writes').first().json;\nconst problems = prepareData.writes.problems;\nconst devices = prepareData.writes.devices;\n\nif (!problems || problems.length === 0) {\n  return { skip: true, problems_written: 0 };\n}\n\n// Build batch statements for problems\nconst statements = problems.map((problem, idx) => {\n  // Find corresponding device\n  const device = devices.find(d => d.line_id === problem.line_id);\n  \n  return {\n    statement: `\n      MATCH (c:Client {id: $clientId})-[:OWNS]->(d:Device)\n      WHERE d.brand = $brand AND d.model = $model\n      MERGE (p:Problem {\n        device_id: d.id,\n        symptom_text: $symptomText\n      })\n      ON CREATE SET\n        p.id = randomUUID(),\n        p.created_at = datetime(),\n        p.status = $status\n      ON MATCH SET\n        p.updated_at = datetime()\n      SET\n        p.symptom_type_code = $symptomTypeCode,\n        p.diagnosis_code = $diagnosisCode,\n        p.repair_code = $repairCode,\n        p.price = $price,\n        p.status = $status\n      MERGE (d)-[:HAS_PROBLEM]->(p)\n      WITH p\n      OPTIONAL MATCH (pt:ProblemType {code: $symptomTypeCode})\n      FOREACH (_ IN CASE WHEN pt IS NOT NULL THEN [1] ELSE [] END |\n        MERGE (p)-[:OF_TYPE]->(pt)\n      )\n      RETURN p.id as problem_id, p.status as status\n    `,\n    parameters: {\n      clientId: prepareData.writes.client.id,\n      brand: device?.brand || 'Unknown',\n      model: device?.model || 'Unknown',\n      symptomText: problem.symptom_text || 'Unknown issue',\n      symptomTypeCode: problem.symptom_type_code,\n      diagnosisCode: problem.diagnosis_code,\n      repairCode: problem.repair_code,\n      price: problem.price,\n      status: problem.status\n    }\n  };\n});\n\nreturn {\n  skip: false,\n  statements: statements\n};"
      },
      "id": "prepare-problems",
      "name": "Prepare Problems",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-skip-problems",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-problems",
      "name": "Has Problems?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1790, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://45.144.177.128:7474/db/neo4j/tx/commit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ statements: $json.statements }) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 30000
        }
      },
      "id": "write-problems",
      "name": "Write Problems",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2010, 200],
      "credentials": {
        "httpBasicAuth": {
          "id": "neo4j-auth",
          "name": "Neo4j"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prepareData = $('Prepare Writes').first().json;\nconst touchpoint = prepareData.writes.touchpoint;\nconst clientId = prepareData.writes.client.id;\nconst devices = prepareData.writes.devices;\n\n// Create touchpoint for this interaction\nconst statements = [{\n  statement: `\n    MATCH (c:Client {id: $clientId})\n    CREATE (t:Touchpoint {\n      id: randomUUID(),\n      dialog_id: $dialogId,\n      timestamp: datetime($timestamp),\n      stage: $stage,\n      channel_id: $channelId\n    })\n    MERGE (c)-[:HAD_TOUCHPOINT]->(t)\n    WITH t\n    UNWIND $deviceBrands as deviceBrand\n    OPTIONAL MATCH (c)-[:OWNS]->(d:Device {brand: deviceBrand.brand, model: deviceBrand.model})\n    FOREACH (_ IN CASE WHEN d IS NOT NULL THEN [1] ELSE [] END |\n      MERGE (t)-[:ABOUT_DEVICE]->(d)\n    )\n    RETURN t.id as touchpoint_id\n  `,\n  parameters: {\n    clientId: clientId,\n    dialogId: touchpoint.dialog_id,\n    timestamp: touchpoint.timestamp,\n    stage: touchpoint.stage,\n    channelId: touchpoint.channel_id,\n    deviceBrands: devices.map(d => ({ brand: d.brand, model: d.model }))\n  }\n}];\n\nreturn { statements: statements };"
      },
      "id": "prepare-touchpoint",
      "name": "Prepare Touchpoint",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2230, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://45.144.177.128:7474/db/neo4j/tx/commit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ statements: $json.statements }) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 30000
        }
      },
      "id": "write-touchpoint",
      "name": "Write Touchpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2450, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "neo4j-auth",
          "name": "Neo4j"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prepareData = $('Prepare Writes').first().json;\nconst devicesWritten = $('Prepare Devices').first()?.json?.skip === false ? \n  prepareData.writes.devices.length : 0;\nconst problemsWritten = $('Prepare Problems').first()?.json?.skip === false ?\n  prepareData.writes.problems.length : 0;\n\nreturn {\n  success: true,\n  writes: {\n    client: 1,\n    devices: devicesWritten,\n    problems: problemsWritten,\n    touchpoint: 1\n  },\n  trace_id: prepareData.trace_id\n};"
      },
      "id": "build-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2670, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2890, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Writes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Writes": {
      "main": [
        [
          {
            "node": "Write Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Client": {
      "main": [
        [
          {
            "node": "Prepare Devices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Devices": {
      "main": [
        [
          {
            "node": "Has Devices?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Devices?": {
      "main": [
        [
          {
            "node": "Write Devices",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Problems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Devices": {
      "main": [
        [
          {
            "node": "Prepare Problems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Problems": {
      "main": [
        [
          {
            "node": "Has Problems?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Problems?": {
      "main": [
        [
          {
            "node": "Write Problems",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Touchpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Problems": {
      "main": [
        [
          {
            "node": "Prepare Touchpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Touchpoint": {
      "main": [
        [
          {
            "node": "Write Touchpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Touchpoint": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "instanceId": ""
  },
  "tags": [
    {
      "name": "ELO_Core_AI"
    }
  ]
}
