NEW/workflows/AI Contour/ELO_Core_AI_Derive.json
{
  "updatedAt": "2025-12-17T08:57:58.742Z",
  "createdAt": "2025-12-15T17:25:08.704Z",
  "id": "i9aZ3bd5btVjzZs8",
  "name": "ELO_Core_AI_Derive",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "derive",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9e6f39a4-92e2-4ac9-99bb-1a904e2f477e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -832,
        16
      ],
      "webhookId": "ef57356f-aa75-4747-8561-b3f062e40251"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst context = input.context;\nconst linesToDerive = input.lines_to_derive || [];\n\n// Get lines that need derivation\nconst lines = context.lines.filter(line => {\n  if (linesToDerive.length > 0) {\n    return linesToDerive.includes(line.id);\n  }\n  return line.slots?.symptom && !line.slots?.diagnosis;\n});\n\nreturn {\n  context: context,\n  lines: lines,\n  has_lines_to_derive: lines.length > 0\n};"
      },
      "id": "65082b91-31b3-4a41-8faf-b77295ae6691",
      "name": "Filter Lines",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.has_lines_to_derive }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b378d6d2-7e22-4e94-a5d8-e9ec0fb2e251",
      "name": "Has Lines?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -400,
        16
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0369acd0-0faf-4ffa-8639-086440d36c1a",
      "name": "Split Lines",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -112,
        -336
      ]
    },
    {
      "parameters": {
        "jsCode": "const context = $('Filter Lines').first().json.context;\nconst lines = $('Filter Lines').first().json.lines;\nconst currentIndex = $itemIndex;\nconst line = lines[currentIndex];\n\nconst symptomText = line?.slots?.symptom?.text || '';\nconst deviceBrand = line?.slots?.device?.brand || '';\nconst deviceModel = line?.slots?.device?.model || '';\nconst tenantId = context.tenant_id;\nconst verticalId = context.vertical_id || 1;\n\nreturn {\n  line_id: line.id,\n  symptom_text: symptomText.toLowerCase(),\n  device_brand: deviceBrand,\n  device_model: deviceModel,\n  tenant_id: tenantId,\n  vertical_id: verticalId\n};"
      },
      "id": "94e81fc5-4aa9-4126-a7c6-199a766e3b92",
      "name": "Prepare Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -352
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH symptom_match AS (\n  SELECT \n    st.id as symptom_type_id,\n    st.uuid as symptom_type_uuid,\n    st.code as symptom_code,\n    st.name_ru as symptom_name,\n    sm.aliases,\n    1 as match_rank\n  FROM elo_symptom_types st\n  JOIN elo_v_symptom_mappings sm ON sm.symptom_type_id = st.id\n  WHERE sm.vertical_id = {{ $json.vertical_id }}\n    AND sm.is_active = true\n    AND EXISTS (\n      SELECT 1 FROM jsonb_array_elements_text(sm.aliases) alias\n      WHERE $1 LIKE '%' || lower(alias) || '%'\n         OR lower(alias) LIKE '%' || $1 || '%'\n    )\n  ORDER BY \n    CASE WHEN $1 = ANY(SELECT lower(x) FROM jsonb_array_elements_text(sm.aliases) x) THEN 0 ELSE 1 END\n  LIMIT 1\n),\ndiagnosis_match AS (\n  SELECT \n    dt.id as diagnosis_type_id,\n    dt.uuid as diagnosis_type_uuid,\n    dt.code as diagnosis_code,\n    dt.name_ru as diagnosis_name,\n    sdl.confidence\n  FROM symptom_match sm\n  JOIN elo_symptom_diagnosis_links sdl ON sdl.symptom_type_id = sm.symptom_type_id\n  JOIN elo_diagnosis_types dt ON dt.id = sdl.diagnosis_type_id\n  WHERE sdl.is_primary = true AND sdl.is_active = true\n  LIMIT 1\n),\nrepair_match AS (\n  SELECT \n    ra.id as repair_action_id,\n    ra.uuid as repair_action_uuid,\n    ra.code as repair_code,\n    ra.name_ru as repair_name\n  FROM diagnosis_match dm\n  JOIN elo_diagnosis_repair_links drl ON drl.diagnosis_type_id = dm.diagnosis_type_id\n  JOIN elo_repair_actions ra ON ra.id = drl.repair_action_id\n  WHERE drl.is_primary = true AND drl.is_active = true\n  LIMIT 1\n),\nprice_match AS (\n  SELECT \n    p.id as price_id,\n    p.price_min,\n    p.price_max,\n    p.currency,\n    CASE WHEN p.price_min = p.price_max THEN false ELSE true END as is_estimate\n  FROM elo_t_price_list p\n  JOIN repair_match rm ON p.repair_action_id = rm.repair_action_id\n  WHERE p.is_active = true\n    AND (p.tenant_id = $2::uuid OR p.tenant_id IS NULL)\n    AND (\n      (lower(p.brand) = lower($3) AND lower(p.model) LIKE '%' || lower($4) || '%')\n      OR (lower(p.brand) = lower($3) AND p.model IS NULL)\n      OR p.brand IS NULL\n    )\n  ORDER BY \n    CASE WHEN p.tenant_id = $2::uuid THEN 0 ELSE 1 END,\n    CASE WHEN p.model IS NOT NULL THEN 0 ELSE 1 END\n  LIMIT 1\n)\nSELECT \n  sm.symptom_type_uuid,\n  sm.symptom_code,\n  sm.symptom_name,\n  dm.diagnosis_type_uuid,\n  dm.diagnosis_code,\n  dm.diagnosis_name,\n  dm.confidence,\n  rm.repair_action_uuid,\n  rm.repair_code,\n  rm.repair_name,\n  pm.price_id,\n  pm.price_min,\n  pm.price_max,\n  pm.currency,\n  pm.is_estimate\nFROM symptom_match sm\nLEFT JOIN diagnosis_match dm ON true\nLEFT JOIN repair_match rm ON true\nLEFT JOIN price_match pm ON true;",
        "options": {
          "queryReplacement": "={{ [$json.symptom_text, $json.tenant_id, $json.device_brand, $json.device_model] }}"
        }
      },
      "id": "3865c9bb-7352-4d1f-b484-6a74065cec58",
      "name": "PostgreSQL Derive",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        560,
        -352
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const queryResult = $input.first().json;\nconst prepareData = $('Prepare Query').first().json;\n\nconst derivation = {\n  line_id: prepareData.line_id,\n  derived: {}\n};\n\nif (queryResult.symptom_type_uuid) {\n  derivation.derived.symptom_type = {\n    uuid: queryResult.symptom_type_uuid,\n    code: queryResult.symptom_code,\n    name: queryResult.symptom_name\n  };\n}\n\nif (queryResult.diagnosis_type_uuid) {\n  derivation.derived.diagnosis = {\n    uuid: queryResult.diagnosis_type_uuid,\n    code: queryResult.diagnosis_code,\n    text: queryResult.diagnosis_name,\n    confidence: parseFloat(queryResult.confidence) || 0.8\n  };\n}\n\nif (queryResult.repair_action_uuid) {\n  derivation.derived.repair_type = {\n    uuid: queryResult.repair_action_uuid,\n    code: queryResult.repair_code,\n    text: queryResult.repair_name\n  };\n}\n\nif (queryResult.price_min) {\n  derivation.derived.price = {\n    amount: queryResult.price_min === queryResult.price_max \n      ? parseFloat(queryResult.price_min)\n      : (parseFloat(queryResult.price_min) + parseFloat(queryResult.price_max)) / 2,\n    min: parseFloat(queryResult.price_min),\n    max: parseFloat(queryResult.price_max),\n    currency: queryResult.currency || 'RUB',\n    is_estimate: queryResult.is_estimate || false\n  };\n}\n\nreturn derivation;"
      },
      "id": "df4c689b-8ca3-460d-9c8a-0e11eae63f09",
      "name": "Format Derivation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -352
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst context = $('Filter Lines').first().json.context;\n\nconst derivations = items.map(item => item.json);\n\nreturn {\n  derivations: derivations,\n  context: context\n};"
      },
      "id": "e6ac961d-f13d-4e3c-a421-6cd012478d13",
      "name": "Aggregate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  derivations: [],\n  context: $('Filter Lines').first().json.context\n};"
      },
      "id": "4c4dc571-856a-450d-b926-a1f3c35786a3",
      "name": "Empty Derivations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        32
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "7441cf24-e71d-451d-8249-5ff099f5db94",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        384,
        16
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "60855ba6-eb31-4aa5-ac31-a55085584c5e",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        624,
        16
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Lines": {
      "main": [
        [
          {
            "node": "Has Lines?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Lines?": {
      "main": [
        [
          {
            "node": "Split Lines",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Empty Derivations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Lines": {
      "main": [
        [
          {
            "node": "Prepare Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Query": {
      "main": [
        [
          {
            "node": "PostgreSQL Derive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL Derive": {
      "main": [
        [
          {
            "node": "Format Derivation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Derivation": {
      "main": [
        [
          {
            "node": "Split Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empty Derivations": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "512be403-bec4-4616-aca4-a4b601b66eff",
  "activeVersionId": null,
  "versionCounter": 5,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-15T17:25:08.710Z",
      "createdAt": "2025-12-15T17:25:08.710Z",
      "role": "workflow:owner",
      "workflowId": "i9aZ3bd5btVjzZs8",
      "projectId": "x7frUSUEowDAk8Dt",
      "project": {
        "updatedAt": "2025-08-25T18:57:22.218Z",
        "createdAt": "2025-08-25T08:16:18.805Z",
        "id": "x7frUSUEowDAk8Dt",
        "name": "Dmitriy Remacs <dk@n8nsrv.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-25T08:16:18.805Z",
            "createdAt": "2025-08-25T08:16:18.805Z",
            "userId": "1d5222a1-8f53-4940-b7de-93daeae04393",
            "projectId": "x7frUSUEowDAk8Dt",
            "user": {
              "updatedAt": "2025-12-20T04:36:02.000Z",
              "createdAt": "2025-08-25T08:16:17.784Z",
              "id": "1d5222a1-8f53-4940-b7de-93daeae04393",
              "email": "dk@n8nsrv.ru",
              "firstName": "Dmitriy",
              "lastName": "Remacs",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RbSUhceYc7q41M5j",
                "userActivatedAt": 1756286438389
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-19",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-12-12T08:39:41.170Z",
      "createdAt": "2025-12-12T08:39:41.170Z",
      "id": "8dihLRJvdhkW2kZ1",
      "name": "AI"
    },
    {
      "updatedAt": "2025-12-09T18:50:08.518Z",
      "createdAt": "2025-12-09T18:50:08.518Z",
      "id": "tMSCjbvPU3xrNUqz",
      "name": "ELO"
    }
  ],
  "activeVersion": null
}