NEW/workflows/AI Contour/ELO_Core_AI_Test_Stub.json
{
  "updatedAt": "2025-12-14T09:04:45.250Z",
  "createdAt": "2025-12-12T09:11:54.134Z",
  "id": "DgnJMtf2Qu6LCha5",
  "name": "ELO_Core_AI_Test_Stub",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "elo-core-ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "345dd5f7-ea31-48f9-b9cf-d663c93d4004",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -192,
        -48
      ],
      "webhookId": "elo-core-ingest"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\n  const input = raw.body || raw;\n\n  console.log('=== ELO_Core_AI_Test_Stub ===');\n  console.log('Received:', JSON.stringify(input, null, 2));\n\n  const response = {\n    tenant_id: input.tenant_id,\n    dialog_id: input.dialog_id,\n    channel_id: input.channel_id,\n    external_chat_id: input.external_chat_id,\n\n    message: {\n      text: `[TEST] Получено: \"${input.text || 'пусто'}\"`,\n      buttons: [],\n      attachments: []\n    },\n\n    context_updated: true,\n    trace_id: input.trace_id || `trace_${Date.now()}`,\n\n    _debug: {\n      received_at: new Date().toISOString(),\n      input_keys: Object.keys(input),\n      client: input.client,\n      meta: input.meta\n    }\n  };\n\n  return response;"
      },
      "id": "93bf5bda-53f2-4a4d-a7f4-eb9bcb4e3ba7",
      "name": "Build Test Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        -48
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "2c6082a8-da90-4288-a1d4-f07ab8e98bdf",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        256,
        -48
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Test Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Test Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.n8nsrv.ru",
            "user-agent": "axios/1.12.0",
            "content-length": "620",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "via": "1.1 Caddy",
            "x-forwarded-for": "172.19.0.1",
            "x-forwarded-host": "n8n.n8nsrv.ru",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "tenant_id": "11111111-1111-1111-1111-111111111111",
            "domain_id": 1,
            "client_id": "d8d45394-ae91-4257-82bb-f35fe8b79a1b",
            "dialog_id": "7e76b10c-8f94-4b0a-bda9-7e26125b607b",
            "channel_id": 1,
            "external_chat_id": "tg_test_001",
            "text": "Message 1\n\nMessage 2\n\nMessage 3",
            "timestamp": "2025-12-14T10:00:02Z",
            "message_ids": [],
            "trace_id": "trace_1765701585267",
            "media": {},
            "meta": {
              "batched": true,
              "batch_size": 3,
              "batch_reason": "orphan",
              "is_new_client": true,
              "is_new_dialog": true,
              "tenant_from_cache": false,
              "client_from_cache": false,
              "dialog_from_cache": false
            },
            "client": {
              "id": "d8d45394-ae91-4257-82bb-f35fe8b79a1b",
              "name": null,
              "phone": null
            }
          },
          "webhookUrl": "https://n8n.n8nsrv.ru/webhook/elo-core-ingest",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "4b996811-a150-4fb8-af8a-d43d01d8c3fb",
  "activeVersionId": "4b996811-a150-4fb8-af8a-d43d01d8c3fb",
  "versionCounter": 10,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-12T09:11:54.144Z",
      "createdAt": "2025-12-12T09:11:54.144Z",
      "role": "workflow:owner",
      "workflowId": "DgnJMtf2Qu6LCha5",
      "projectId": "x7frUSUEowDAk8Dt",
      "project": {
        "updatedAt": "2025-08-25T18:57:22.218Z",
        "createdAt": "2025-08-25T08:16:18.805Z",
        "id": "x7frUSUEowDAk8Dt",
        "name": "Dmitriy Remacs <dk@n8nsrv.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-25T08:16:18.805Z",
            "createdAt": "2025-08-25T08:16:18.805Z",
            "userId": "1d5222a1-8f53-4940-b7de-93daeae04393",
            "projectId": "x7frUSUEowDAk8Dt",
            "user": {
              "updatedAt": "2025-12-20T04:36:02.000Z",
              "createdAt": "2025-08-25T08:16:17.784Z",
              "id": "1d5222a1-8f53-4940-b7de-93daeae04393",
              "email": "dk@n8nsrv.ru",
              "firstName": "Dmitriy",
              "lastName": "Remacs",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RbSUhceYc7q41M5j",
                "userActivatedAt": 1756286438389
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-19",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-12-09T18:50:08.518Z",
      "createdAt": "2025-12-09T18:50:08.518Z",
      "id": "tMSCjbvPU3xrNUqz",
      "name": "ELO"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-14T09:04:45.253Z",
    "createdAt": "2025-12-14T09:04:45.253Z",
    "versionId": "4b996811-a150-4fb8-af8a-d43d01d8c3fb",
    "workflowId": "DgnJMtf2Qu6LCha5",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "elo-core-ingest",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "345dd5f7-ea31-48f9-b9cf-d663c93d4004",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -192,
          -48
        ],
        "webhookId": "elo-core-ingest"
      },
      {
        "parameters": {
          "jsCode": "const raw = $input.first().json;\n  const input = raw.body || raw;\n\n  console.log('=== ELO_Core_AI_Test_Stub ===');\n  console.log('Received:', JSON.stringify(input, null, 2));\n\n  const response = {\n    tenant_id: input.tenant_id,\n    dialog_id: input.dialog_id,\n    channel_id: input.channel_id,\n    external_chat_id: input.external_chat_id,\n\n    message: {\n      text: `[TEST] Получено: \"${input.text || 'пусто'}\"`,\n      buttons: [],\n      attachments: []\n    },\n\n    context_updated: true,\n    trace_id: input.trace_id || `trace_${Date.now()}`,\n\n    _debug: {\n      received_at: new Date().toISOString(),\n      input_keys: Object.keys(input),\n      client: input.client,\n      meta: input.meta\n    }\n  };\n\n  return response;"
        },
        "id": "93bf5bda-53f2-4a4d-a7f4-eb9bcb4e3ba7",
        "name": "Build Test Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          32,
          -48
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "id": "2c6082a8-da90-4288-a1d4-f07ab8e98bdf",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          256,
          -48
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Build Test Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Test Response": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dmitriy Remacs",
    "name": null,
    "description": null
  }
}