NEW/workflows/AI Contour/ELO_Core_Triggers_Checker.json
{
  "name": "ELO_Core_Triggers_Checker",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "path": "elo-core-triggers-checker",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "elo-core-triggers-checker"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst context = input.context;\nconst stage = input.stage || context.current_stage;\n\n// Define triggers (will be loaded from Neo4j in production)\nconst TRIGGERS = [\n  {\n    trigger_id: 'trig_apple_display_warranty',\n    trigger_name: 'Apple display warranty info',\n    stage: 'presentation',\n    conditions: {\n      'device.brand': 'Apple',\n      'repair_type.code': 'display_replacement'\n    },\n    once_per_dialog: true,\n    action: {\n      type: 'send_message',\n      message: 'На замену дисплея Apple предоставляется гарантия 6 месяцев. Используем оригинальные комплектующие.'\n    }\n  },\n  {\n    trigger_id: 'trig_high_price_discount',\n    trigger_name: 'High price discount offer',\n    stage: 'presentation',\n    conditions: {\n      'price.amount': { '$gt': 7000 }\n    },\n    once_per_dialog: true,\n    action: {\n      type: 'send_message',\n      message: 'При записи сегодня - скидка 5%!'\n    }\n  },\n  {\n    trigger_id: 'trig_battery_care',\n    trigger_name: 'Battery care info',\n    stage: 'presentation',\n    conditions: {\n      'repair_type.code': 'battery_replacement'\n    },\n    once_per_dialog: true,\n    action: {\n      type: 'send_message',\n      message: 'После замены батареи рекомендуем выполнить 2-3 полных цикла зарядки для калибровки.'\n    }\n  }\n];\n\n// Filter triggers for current stage\nconst stageTriggers = TRIGGERS.filter(t => t.stage === stage);\n\nreturn {\n  context: context,\n  triggers: stageTriggers,\n  executed_trigger_ids: context.executed_triggers || []\n};"
      },
      "id": "load-triggers",
      "name": "Load Triggers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "const context = $json.context;\nconst triggers = $json.triggers;\nconst executedIds = $json.executed_trigger_ids;\n\nconst triggersToFire = [];\nconst triggersSkipped = [];\n\n// Build flat context for condition checking\nfunction buildFlatContext(ctx) {\n  const flat = {\n    stage: ctx.current_stage,\n    vertical_id: ctx.vertical_id,\n    tenant_id: ctx.tenant_id,\n    client_name: ctx.client?.name,\n    client_phone: ctx.client?.phone\n  };\n  \n  // Add line data (focus line)\n  const focusLine = ctx.lines.find(l => l.id === ctx.focus_line_id) || ctx.lines[0];\n  if (focusLine?.slots) {\n    flat['device.brand'] = focusLine.slots.device?.brand;\n    flat['device.model'] = focusLine.slots.device?.model;\n    flat['symptom.text'] = focusLine.slots.symptom?.text;\n    flat['diagnosis.code'] = focusLine.slots.diagnosis?.code;\n    flat['repair_type.code'] = focusLine.slots.repair_type?.code;\n    flat['price.amount'] = focusLine.slots.price?.amount;\n  }\n  \n  return flat;\n}\n\n// Check if conditions match\nfunction matchConditions(conditions, flatContext) {\n  if (!conditions) return true;\n  \n  for (const [key, expectedValue] of Object.entries(conditions)) {\n    const actualValue = flatContext[key];\n    \n    // Handle different comparison types\n    if (expectedValue === null) {\n      if (actualValue !== null && actualValue !== undefined) return false;\n    } else if (typeof expectedValue === 'object') {\n      // Advanced conditions\n      if (expectedValue.$gt && !(actualValue > expectedValue.$gt)) return false;\n      if (expectedValue.$lt && !(actualValue < expectedValue.$lt)) return false;\n      if (expectedValue.$in && !expectedValue.$in.includes(actualValue)) return false;\n    } else {\n      // Simple equality (case-insensitive for strings)\n      const actual = typeof actualValue === 'string' ? actualValue.toLowerCase() : actualValue;\n      const expected = typeof expectedValue === 'string' ? expectedValue.toLowerCase() : expectedValue;\n      if (actual !== expected) return false;\n    }\n  }\n  \n  return true;\n}\n\nconst flatContext = buildFlatContext(context);\n\nfor (const trigger of triggers) {\n  // Check if already executed\n  if (trigger.once_per_dialog && executedIds.includes(trigger.trigger_id)) {\n    triggersSkipped.push({\n      trigger_id: trigger.trigger_id,\n      reason: 'already_executed'\n    });\n    continue;\n  }\n  \n  // Check conditions\n  if (matchConditions(trigger.conditions, flatContext)) {\n    triggersToFire.push({\n      trigger_id: trigger.trigger_id,\n      trigger_name: trigger.trigger_name,\n      action: trigger.action,\n      once_per_dialog: trigger.once_per_dialog,\n      executed: true\n    });\n  }\n}\n\n// Mark executed triggers in context\ncontext.executed_triggers = [\n  ...(context.executed_triggers || []),\n  ...triggersToFire.filter(t => t.once_per_dialog).map(t => t.trigger_id)\n];\n\nreturn {\n  triggers_fired: triggersToFire,\n  triggers_skipped: triggersSkipped,\n  context: context\n};"
      },
      "id": "evaluate-triggers",
      "name": "Evaluate Triggers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Load Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Triggers": {
      "main": [
        [
          {
            "node": "Evaluate Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Triggers": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "instanceId": ""
  },
  "tags": [
    {
      "name": "ELO_Core_AI"
    }
  ]
}
