n8n_workflows/Out/BAT_OUT_VK.json
{
  "id": "3qluqpU6q269XuVK",
  "name": "BAT OUT VK",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vk.com/method/messages.send",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "peer_id",
              "value": "={{ $json.out_message.external_chat_id }}"
            },
            {
              "name": "message",
              "value": "={{ $json.out_message.message_text }}"
            },
            {
              "name": "random_id",
              "value": "={{ Math.floor(Math.random() * 1000000000) }}"
            },
            {
              "name": "v",
              "value": "5.131"
            }
          ]
        },
        "options": {}
      },
      "id": "7edea6db-2ee9-4163-894f-6578610ebac5",
      "name": "Send VK Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -240,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nif (response.error) {\n  throw new Error(`VK API Error: ${response.error.error_msg}`);\n}\n\nconst inMessage = $('Execute Workflow Trigger').first().json;\n\nreturn {\n  ...inMessage,\n  vk_response: response.response,\n  message_id: response.response?.toString() || 'unknown',\n  sent_at: new Date().toISOString()\n};"
      },
      "id": "a22d8fe1-7646-4dfd-8b54-ca8dd6730fc6",
      "name": "Process VK Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages_history (\n  tenant_id,\n  appeal_id,\n  message_type,\n  message_text,\n  channel, channel_id,\n  external_message_id,\n  external_chat_id\n)\nSELECT\n  '{{ $json.out_message.tenant_id }}'::uuid,\n  '{{ $json.out_message.appeal_id }}'::uuid,\n  'agent',\n  '{{ $json.out_message.message_text }}',\n  'vk',\n  (SELECT id FROM channels WHERE code = 'vk' LIMIT 1),\n  '{{ $json.message_id }}',\n  '{{ $json.out_message.external_chat_id }}'\nRETURNING *;",
        "options": {}
      },
      "id": "50ec9ebe-202c-4104-8361-f73eba0495a2",
      "name": "Save Message History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        208,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "id": "a00fc8c3-f8fb-4d50-83bb-715e37fc5ed6",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Send VK Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send VK Message": {
      "main": [
        [
          {
            "node": "Process VK Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process VK Response": {
      "main": [
        [
          {
            "node": "Save Message History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "updatedAt": "2025-11-23T03:59:12.594Z",
      "createdAt": "2025-11-23T03:59:12.594Z",
      "id": "8zD9sDD78ytgu5T2",
      "name": "BattCRM"
    },
    {
      "updatedAt": "2025-11-23T04:03:34.766Z",
      "createdAt": "2025-11-23T04:03:34.766Z",
      "id": "IbDkJphbr4EygdRZ",
      "name": "Out"
    }
  ],
  "updatedAt": "2025-12-03T13:22:43.000Z",
  "createdAt": "2025-10-14T06:46:37.310Z"
}