n8n_workflows/Out/BAT_OUT_Telegram.json
{
  "id": "v1s1eefpYkPCfikZ",
  "name": "BAT OUT Telegram",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "02498640-4ce7-4ae5-a21d-2342b713551c",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  SELECT\n    a.ad_channel as channel,\n    c.telegram_id,\n    c.vk_id,\n    c.whatsapp_id,\n    c.avito_id,\n    c.phone\n  FROM appeals a\n  JOIN clients c ON c.id = a.client_id\n  WHERE a.id = '{{ $json.appeal_id }}'::uuid\n",
        "options": {}
      },
      "id": "43c9a54e-4d07-4498-b2ff-553c13d542fc",
      "name": "Fetch Chat Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -464,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "  const trigger = $('Execute Workflow Trigger').first().json;\n  const chat = $('Fetch Chat Data').first().json;\n\n  const chatId = chat.telegram_id || chat.whatsapp_id || chat.vk_id || chat.avito_id;\n\n  return {\n    appeal_id: trigger.appeal_id,\n    tenant_id: trigger.tenant_id,\n    operator_id: trigger.operator_id,\n    response_text: trigger.response_text,\n    media_type: trigger.media_type,\n    media_data: trigger.media_data,\n    action_source: trigger.action_source,\n    channel: trigger.channel || chat.channel || (chat.telegram_id ? 'telegram' : chat.whatsapp_id ? 'whatsapp' : chat.vk_id ? 'vk' : 'avito'),\n    chat_id: chatId,\n    external_chat_id: chatId,\n    telegram_id: chat.telegram_id,\n    phone: chat.phone\n  };"
      },
      "id": "7a3410c4-be1a-4708-9e87-00b81a65a374",
      "name": "Prepare Telegram Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages_history (\n  tenant_id,\n  appeal_id,\n  message_type,\n  message_text,\n  channel,\n  channel_id,\n  external_message_id,\n  external_chat_id\n)\nSELECT\n  NULLIF('{{ $('Prepare Telegram Payload').item.json.tenant_id }}','')::uuid,\n  '{{ $('Prepare Telegram Payload').item.json.appeal_id }}'::uuid,\n  'operator',\n  '{{ $json.result.text }}',\n  '{{ $('Prepare Telegram Payload').item.json.channel }}',\n  (SELECT id FROM channels WHERE code = '{{ $('Prepare Telegram Payload').item.json.channel }}' LIMIT 1),\n  '{{ $json.result.message_id }}',\n  NULLIF('{{ $('Prepare Telegram Payload').item.json.chat_id }}','')\nRETURNING *;",
        "options": {}
      },
      "id": "cf0186cf-2d6a-4a34-8004-bb6604f663fd",
      "name": "Save Message History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        400,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message_id\": $('Send Telegram Message').item.json.message_id } }}",
        "options": {}
      },
      "id": "269d3a96-9dd0-4ebe-90c7-815a72c42408",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        656,
        -80
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.external_chat_id }}",
        "text": "={{ $json.response_text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "78fe24e3-ec74-47a8-b71a-040dcb89ca89",
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        128,
        -80
      ],
      "webhookId": "61c272e7-905c-460c-8ebc-b9ea78cc2ba1",
      "credentials": {
        "telegramApi": {
          "id": "pp6VRePNlKLBuoCQ",
          "name": "Client TG"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Fetch Chat Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Chat Data": {
      "main": [
        [
          {
            "node": "Prepare Telegram Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Telegram Payload": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Message History": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Message": {
      "main": [
        [
          {
            "node": "Save Message History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "updatedAt": "2025-11-23T03:59:12.594Z",
      "createdAt": "2025-11-23T03:59:12.594Z",
      "id": "8zD9sDD78ytgu5T2",
      "name": "BattCRM"
    },
    {
      "updatedAt": "2025-11-23T04:03:34.766Z",
      "createdAt": "2025-11-23T04:03:34.766Z",
      "id": "IbDkJphbr4EygdRZ",
      "name": "Out"
    }
  ],
  "updatedAt": "2025-12-01T12:25:00.000Z",
  "createdAt": "2025-10-14T07:03:45.869Z"
}