NEW/workflows/Chanel Contour/ELO_Out/ELO_Out_WhatsApp.json
{
  "updatedAt": "2025-12-20T11:45:52.240Z",
  "createdAt": "2025-12-10T10:01:53.940Z",
  "id": "j8SAGf1ZIC8uqDya",
  "name": "ELO_Out_WhatsApp",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "ceab2ae7-43f1-4759-8f97-18a51ed89372",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        -32
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  ca.credentials->>'session_id' as session_id,\n  ca.account_id,\n  ca.account_name\nFROM elo_t_channel_accounts ca\nWHERE ca.tenant_id = '{{ $json.out_message.tenant_id }}'::uuid\n  AND ca.channel_id = 2\n  AND ca.is_active = true\nLIMIT 1;",
        "options": {}
      },
      "id": "59054814-6b59-484e-a36e-1ef6330afb02",
      "name": "Get WhatsApp Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -384,
        -32
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-session",
              "leftValue": "={{ $json.session_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "498c70ab-a9f9-493e-a357-c74777c7b8b4",
      "name": "IF Session Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -160,
        -32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://217.145.79.27:8766/messages/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sessionId\": \"{{ $('Get WhatsApp Session').item.json.session_id }}\",\n  \"to\": \"{{ $('Execute Workflow Trigger').item.json.out_message.external_chat_id }}\",\n  \"text\": \"{{ $('Execute Workflow Trigger').item.json.out_message.message_text.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "f519f27a-0a8e-49d7-919c-bbc380d8bc84",
      "name": "Send via Baileys",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        64,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('Execute Workflow Trigger').first().json;\nconst sessionData = $('Get WhatsApp Session').first().json;\nconst response = $input.first().json;\n\n// Check if send was successful\nconst success = response.success === true;\nconst messageId = response.data?.messageId || Date.now().toString();\n\n// Determine touchpoint direction\nconst actionSource = trigger.out_message?.action_source || '';\nconst touchpointDirection = ['promo', 'greeting', 'broadcast'].includes(actionSource) ? 'promo' : 'outbound';\n\nreturn {\n  ...trigger,\n  baileys_response: response,\n  message_id: messageId,\n  sent_at: new Date().toISOString(),\n  touchpoint_direction: touchpointDirection,\n  send_success: success,\n  session_id: sessionData.session_id\n};"
      },
      "id": "206b5b8a-8b22-4ce2-9e3a-680dbb8e9d0d",
      "name": "Process Baileys Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -128
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO elo_t_messages (\n  tenant_id, dialog_id, client_id, direction_id, actor_type, actor_id,\n  content, external_message_id, timestamp\n)\nVALUES (\n  '{{ $json.out_message.tenant_id }}'::uuid,\n  '{{ $json.out_message.dialog_id }}'::uuid,\n  '{{ $json.out_message.client_id }}'::uuid,\n  2,\n  '{{ $json.out_message.actor_type || \"operator\" }}',\n  {{ $json.out_message.actor_id ? \"'\" + $json.out_message.actor_id + \"'::uuid\" : \"NULL\" }},\n  '{{ $json.out_message.message_text.replace(/'/g, \"''\") }}',\n  '{{ $json.message_id }}',\n  NOW()\n)\nRETURNING id;",
        "options": {}
      },
      "id": "fe2a1703-940c-4938-aec9-028650ecd39f",
      "name": "Save Outbound Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        -128
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE elo_t_dialogs SET\n  last_message_at = NOW(),\n  last_operator_message_at = NOW(),\n  updated_at = NOW()\nWHERE id = '{{ $('Execute Workflow Trigger').item.json.out_message.dialog_id }}'::uuid;",
        "options": {}
      },
      "id": "6bc8af44-61c0-4a34-9e24-6b03c9dd031e",
      "name": "Update Dialog Timestamp",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        736,
        -128
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Return error - no WhatsApp session configured\nconst trigger = $('Execute Workflow Trigger').first().json;\n\nreturn {\n  success: false,\n  error: 'No active WhatsApp session found for tenant',\n  tenant_id: trigger.out_message?.tenant_id,\n  out_message: trigger.out_message\n};"
      },
      "id": "7b83e681-9a09-4007-969b-4d3792f013be",
      "name": "No Session Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        64
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get WhatsApp Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get WhatsApp Session": {
      "main": [
        [
          {
            "node": "IF Session Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Session Exists": {
      "main": [
        [
          {
            "node": "Send via Baileys",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Session Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via Baileys": {
      "main": [
        [
          {
            "node": "Process Baileys Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Baileys Response": {
      "main": [
        [
          {
            "node": "Save Outbound Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Outbound Message": {
      "main": [
        [
          {
            "node": "Update Dialog Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "16632913-9c45-4456-99bf-ced71407c4c5",
  "activeVersionId": null,
  "versionCounter": 7,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-10T10:01:53.948Z",
      "createdAt": "2025-12-10T10:01:53.948Z",
      "role": "workflow:owner",
      "workflowId": "j8SAGf1ZIC8uqDya",
      "projectId": "x7frUSUEowDAk8Dt",
      "project": {
        "updatedAt": "2025-08-25T18:57:22.218Z",
        "createdAt": "2025-08-25T08:16:18.805Z",
        "id": "x7frUSUEowDAk8Dt",
        "name": "Dmitriy Remacs <dk@n8nsrv.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-25T08:16:18.805Z",
            "createdAt": "2025-08-25T08:16:18.805Z",
            "userId": "1d5222a1-8f53-4940-b7de-93daeae04393",
            "projectId": "x7frUSUEowDAk8Dt",
            "user": {
              "updatedAt": "2025-12-20T04:36:02.000Z",
              "createdAt": "2025-08-25T08:16:17.784Z",
              "id": "1d5222a1-8f53-4940-b7de-93daeae04393",
              "email": "dk@n8nsrv.ru",
              "firstName": "Dmitriy",
              "lastName": "Remacs",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RbSUhceYc7q41M5j",
                "userActivatedAt": 1756286438389
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-19",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-23T04:03:34.766Z",
      "createdAt": "2025-11-23T04:03:34.766Z",
      "id": "IbDkJphbr4EygdRZ",
      "name": "Out"
    },
    {
      "updatedAt": "2025-12-09T18:50:08.518Z",
      "createdAt": "2025-12-09T18:50:08.518Z",
      "id": "tMSCjbvPU3xrNUqz",
      "name": "ELO"
    }
  ],
  "activeVersion": null
}