NEW/workflows/Chanel Contour/ELO_Out/ELO_Out_MAX.json
{
  "updatedAt": "2025-12-21T11:26:20.156Z",
  "createdAt": "2025-12-10T10:01:07.683Z",
  "id": "8SxXTnGJe4qnN4Kx",
  "name": "ELO_Out_MAX",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 3
            }
          ]
        }
      },
      "id": "3c9a21a4-ea12-4d14-86fb-b8c449d549c9",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1392,
        -64
      ]
    },
    {
      "parameters": {
        "operation": "pop",
        "list": "queue:outgoing:max",
        "options": {}
      },
      "id": "41aa49f0-c8db-47e8-a216-0b61ba6dedd9",
      "name": "Redis Pop Message",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1168,
        -64
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-message",
              "leftValue": "={{ $json.message_json }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "acaac8f2-f909-45fa-ab8c-82db470b3a8a",
      "name": "IF Has Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -944,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "const messageJson = $json.message_json;\nconst message = JSON.parse(messageJson);\n\nreturn {\n  out_message: message\n};"
      },
      "id": "83074b92-31ec-4dfb-8420-e32306cab3d0",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  ca.credentials->>'bot_token' as bot_token,\n  ca.account_id,\n  ca.account_name\nFROM elo_t_channel_accounts ca\nWHERE ca.tenant_id = '{{ $json.out_message.tenant_id }}'::uuid\n  AND ca.channel_id = 5\n  AND ca.is_active = true\nLIMIT 1;",
        "options": {}
      },
      "id": "2aede235-2939-47a4-80fd-69411416db30",
      "name": "Get MAX Token",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -496,
        -160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-token",
              "leftValue": "={{ $json.bot_token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ff0736f2-8633-4c22-9df6-62aad46870e4",
      "name": "IF Token Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -272,
        -160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.max.ru/bot/{{ $json.bot_token }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $('Parse Message').item.json.out_message.external_chat_id }}\",\n  \"text\": {{ JSON.stringify($('Parse Message').item.json.out_message.message_text) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "72da228c-793f-4877-ba98-2ff7e88f7188",
      "name": "Send MAX Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -48,
        -256
      ]
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse Message').first().json;\nconst response = $input.first().json;\n\nconst success = !response.error;\nconst messageId = response.message_id || response.id || Date.now().toString();\n\nreturn {\n  ...parsed,\n  max_response: response,\n  message_id: messageId,\n  sent_at: new Date().toISOString(),\n  send_success: success\n};"
      },
      "id": "6b860f3a-727c-41f7-9561-3972a939c5bb",
      "name": "Process MAX Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -256
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE elo_t_dialogs SET\n  last_message_at = NOW(),\n  last_operator_message_at = NOW(),\n  updated_at = NOW()\nWHERE id = '{{ $json.out_message.dialog_id }}'::uuid;",
        "options": {}
      },
      "id": "0d7df1e7-de7b-43eb-85fe-edf0cf32cae8",
      "name": "Update Dialog Timestamp",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        400,
        -256
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// No token found - log error\nconst parsed = $('Parse Message').first().json;\n\nconsole.error('No MAX bot token found for tenant:', parsed.out_message?.tenant_id);\n\nreturn {\n  success: false,\n  error: 'No MAX bot token found for tenant',\n  tenant_id: parsed.out_message?.tenant_id,\n  out_message: parsed.out_message\n};"
      },
      "id": "847e6fba-636d-4c08-9357-fd4187899825",
      "name": "No Token Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "// No message in queue - just return\nreturn { empty: true };"
      },
      "id": "d8f5166e-937f-463e-9d02-4236c2d759aa",
      "name": "No Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        32
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Redis Pop Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Pop Message": {
      "main": [
        [
          {
            "node": "IF Has Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Message": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Get MAX Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get MAX Token": {
      "main": [
        [
          {
            "node": "IF Token Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Token Exists": {
      "main": [
        [
          {
            "node": "Send MAX Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Token Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send MAX Message": {
      "main": [
        [
          {
            "node": "Process MAX Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process MAX Response": {
      "main": [
        [
          {
            "node": "Update Dialog Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0588ee26-ce23-49d8-9f04-ea0393f2395c",
  "activeVersionId": null,
  "versionCounter": 4,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-10T10:01:07.689Z",
      "createdAt": "2025-12-10T10:01:07.689Z",
      "role": "workflow:owner",
      "workflowId": "8SxXTnGJe4qnN4Kx",
      "projectId": "x7frUSUEowDAk8Dt",
      "project": {
        "updatedAt": "2025-08-25T18:57:22.218Z",
        "createdAt": "2025-08-25T08:16:18.805Z",
        "id": "x7frUSUEowDAk8Dt",
        "name": "Dmitriy Remacs <dk@n8nsrv.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-25T08:16:18.805Z",
            "createdAt": "2025-08-25T08:16:18.805Z",
            "userId": "1d5222a1-8f53-4940-b7de-93daeae04393",
            "projectId": "x7frUSUEowDAk8Dt",
            "user": {
              "updatedAt": "2025-12-28T09:13:23.000Z",
              "createdAt": "2025-08-25T08:16:17.784Z",
              "id": "1d5222a1-8f53-4940-b7de-93daeae04393",
              "email": "dk@n8nsrv.ru",
              "firstName": "Dmitriy",
              "lastName": "Remacs",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RbSUhceYc7q41M5j",
                "userActivatedAt": 1756286438389
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-27",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-23T04:03:34.766Z",
      "createdAt": "2025-11-23T04:03:34.766Z",
      "id": "IbDkJphbr4EygdRZ",
      "name": "Out"
    },
    {
      "updatedAt": "2025-12-09T18:50:08.518Z",
      "createdAt": "2025-12-09T18:50:08.518Z",
      "id": "tMSCjbvPU3xrNUqz",
      "name": "ELO"
    }
  ],
  "activeVersion": null
}