workflows_to_import/BAT_AI_Appeal_Router_v3.json
{
  "id": "Flhmu33l0ZhZhr90",
  "name": "BAT AI Appeal Router",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "b9180c34-7aa2-4705-b5cc-aeb922bd0838",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -2440,
        32
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  a.*,\n  b.name as brand_name,\n  m.name as model_name,\n  c.phone as client_phone,\n  c.name as client_name,\n  COALESCE(\n    (SELECT json_agg(json_build_object(\n      'timestamp', mh.created_at,\n      'is_client', CASE WHEN mh.message_type = 'client' THEN true ELSE false END,\n      'text', mh.message_text\n    ) ORDER BY mh.created_at ASC)\n    FROM messages_history mh \n    WHERE mh.appeal_id = a.id),\n    '[]'::json\n  ) as messages,\n  COALESCE(\n    (SELECT json_agg(json_build_object(\n      'id', ad.id,\n      'device_index', ad.device_index,\n      'brand_id', ad.brand_id,\n      'brand_name', db.name,\n      'model_id', ad.model_id,\n      'model_name', dm.name,\n      'repairs', (SELECT json_agg(json_build_object(\n        'id', ar.id,\n        'category_id', ar.repair_category_id,\n        'category_name', rc.name\n      )) FROM appeal_repairs ar LEFT JOIN repair_categories rc ON rc.id = ar.repair_category_id WHERE ar.appeal_device_id = ad.id)\n    ) ORDER BY ad.device_index)\n    FROM appeal_devices ad\n    LEFT JOIN brands db ON db.id = ad.brand_id\n    LEFT JOIN models dm ON dm.id = ad.model_id\n    WHERE ad.appeal_id = a.id),\n    '[]'::json\n  ) as devices\nFROM appeals a\nLEFT JOIN brands b ON b.id = a.brand_id AND b.tenant_id = a.tenant_id\nLEFT JOIN models m ON m.id = a.model_id AND m.tenant_id = a.tenant_id\nLEFT JOIN clients c ON c.id = a.client_id AND c.tenant_id = a.tenant_id\nWHERE a.id = '{{ $json.appeal.id }}'::uuid\n  AND a.tenant_id = '{{ $json.tenant_id }}'::uuid;",
        "options": {}
      },
      "id": "8fe829cb-7ab4-44c8-b260-63409bf5a6af",
      "name": "Load Appeal & Devices",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -2160,
        -64
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  field_name,\n  is_required,\n  collection_order,\n  tool_name as extraction_prompt\nFROM context_fields_config\nWHERE tenant_id = '{{ $json.tenant_id }}'::uuid\n  AND (deal_type_id IS NULL)\n  AND is_active = true\nORDER BY collection_order ASC;",
        "options": {}
      },
      "id": "48fd7523-d839-422c-b9f4-fd0fc3a9b064",
      "name": "Load Fields Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -2160,
        128
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge Appeal Data + Fields Config\nlet appealData = null;\nlet fieldsConfig = [];\nlet inputData = null;\n\ntry {\n  inputData = $('Execute Workflow Trigger').first()?.json || {};\n} catch (e) {\n  inputData = {};\n}\n\ntry {\n  appealData = $('Load Appeal & Devices').first()?.json || null;\n} catch (e) {\n  console.error('Could not get appeal data:', e.message);\n}\n\ntry {\n  const fieldsItems = $('Load Fields Config').all();\n  fieldsConfig = fieldsItems.map(item => item.json);\n} catch (e) {\n  console.error('Could not get fields config:', e.message);\n}\n\nconsole.log('=== MERGE DATA ===');\nconsole.log('Appeal ID:', appealData?.id);\nconsole.log('Fields config count:', fieldsConfig.length);\n\nif (!appealData || !appealData.id) {\n  throw new Error('Appeal data not loaded!');\n}\n\nreturn {\n  ...appealData,\n  text: inputData.text,\n  channel: inputData.channel || appealData.channel,\n  external_chat_id: inputData.external_chat_id,\n  external_user_id: inputData.external_user_id,\n  fields_config: fieldsConfig,\n  appeal: {\n    id: appealData.id,\n    tenant_id: appealData.tenant_id,\n    client_id: appealData.client_id,\n    stage: appealData.stage,\n    channel: appealData.channel || inputData.channel,\n    operation_mode: appealData.operation_mode\n  }\n};"
      },
      "id": "merge-appeal-fields-001",
      "name": "Merge Appeal & Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare context with completeness check\nconst data = $input.first().json;\nconst devices = data.devices || [];\nconst appeal = data;\nconst history = data.messages || [];\nconst fieldsConfig = data.fields_config || [];\nconst text = data.text || '';\n\nconsole.log('=== PREPARE CONTEXT ===');\nconsole.log('Appeal ID:', appeal.id);\nconsole.log('Devices count:', devices.length);\n\n// Build device list for context\nconst deviceList = devices.map((d, i) => {\n  const repairs = d.repairs?.map(r => r.category_name).join(', ') || 'нет ремонтов';\n  return `#${d.device_index || i+1}: ${d.brand_name || '?'} ${d.model_name || '?'} - ${repairs}`;\n}).join('\\n');\n\n// Completeness check\nconst firstDevice = devices[0] || {};\nconst firstRepair = firstDevice.repairs?.[0] || {};\n\nconst currentState = {\n  brand: appeal.brand_name || firstDevice.brand_name || null,\n  brand_id: appeal.brand_id || firstDevice.brand_id || null,\n  model: appeal.model_name || firstDevice.model_name || null,\n  model_id: appeal.model_id || firstDevice.model_id || null,\n  repair_category: firstRepair.category_name || null,\n  repair_category_id: firstRepair.category_id || null\n};\n\nconst fieldMapping = {\n  'brand': 'brand_id',\n  'model': 'model_id',\n  'repair_type': 'repair_category_id',\n  'repair_category': 'repair_category_id',\n  'type': 'repair_category_id'\n};\n\nconst requiredFields = fieldsConfig.filter(f => f.is_required);\nconst missingFields = [];\nlet filledCount = 0;\n\nfor (const field of requiredFields) {\n  const stateKey = fieldMapping[field.field_name] || field.field_name;\n  if (currentState[stateKey]) {\n    filledCount++;\n  } else {\n    missingFields.push(field.field_name);\n  }\n}\n\nconst totalRequired = requiredFields.length || 1;\nconst completionPercentage = Math.round((filledCount / totalRequired) * 100);\nconst isComplete = missingFields.length === 0 && devices.length > 0 && firstDevice.brand_id && firstRepair.category_id;\n\nconsole.log('Missing fields:', missingFields);\nconsole.log('Is complete:', isComplete);\n\nreturn {\n  json: {\n    ...data,\n    appeal: data.appeal,\n    devices,\n    deviceList,\n    history,\n    text,\n    deviceCount: devices.length,\n    is_complete: isComplete,\n    completion_percentage: completionPercentage,\n    missing_fields: missingFields,\n    current_state: currentState,\n    extracted_data: currentState,\n    fields_config: fieldsConfig\n  }\n};"
      },
      "id": "c01550e9-1311-401b-9677-dc2db477e8ed",
      "name": "Prepare Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "needs-extraction",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.is_complete }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "75b2633f-5a8d-4817-bd6f-c716483b1ac2",
      "name": "Needs Extraction?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1440,
        32
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aEzuOXgpLBTNZ4ie",
          "mode": "list",
          "cachedResultUrl": "/workflow/aEzuOXgpLBTNZ4ie",
          "cachedResultName": "BAT AI Task Dispatcher"
        },
        "options": {}
      },
      "id": "f8e44b65-6538-4ea5-80ad-28a3d26c54dd",
      "name": "Call Task Dispatcher",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -1200,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Skip extraction - пробрасываем данные дальше\nconst context = $input.first().json;\n\nconsole.log('=== SKIP EXTRACTION ===');\n\nreturn {\n  action: 'skip_extraction',\n  ...context,\n  total_tasks: 0,\n  completed: 0,\n  elapsed_ms: 0\n};"
      },
      "id": "1006bc14-ae29-4126-8bfe-1439a0dbd923",
      "name": "Skip Extraction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge Results\nconst items = $input.all();\n\nif (items.length === 0) {\n  try {\n    const ctx = $('Prepare Context').first()?.json;\n    if (ctx) return ctx;\n  } catch (e) {}\n  return [];\n}\n\nconst result = items[0].json;\n\nlet context = null;\ntry {\n  context = $('Prepare Context').first()?.json;\n} catch (e) {}\n\nif (context && result.action !== 'skip_extraction') {\n  const merged = {\n    ...context,\n    ...result,\n    dispatcher_result: result\n  };\n  if (result.extracted_data) {\n    merged.extracted_data = { ...context.extracted_data, ...result.extracted_data };\n  }\n  return merged;\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        32
      ],
      "id": "e00b1f66-f5eb-46dd-ab6a-bdd2fd437905",
      "name": "Merge Results"
    },
    {
      "parameters": {
        "jsCode": "// Build AI context string\nconst data = $input.first().json;\nconst { appeal, devices, deviceList, history, text, missing_fields } = data;\n\nlet context = '';\ncontext += `Заявка #${appeal?.id || data.id}\\n`;\ncontext += `Канал: ${data.channel || appeal?.channel}\\n`;\n\nif (deviceList) {\n  context += `\\nУстройства клиента:\\n${deviceList}\\n`;\n} else {\n  context += `\\nУстройств пока нет\\n`;\n}\n\nif (missing_fields && missing_fields.length > 0) {\n  context += `\\nНужно уточнить: ${missing_fields.join(', ')}\\n`;\n}\n\nif (history && history.length > 0) {\n  const recent = history.slice(-5);\n  context += `\\nИстория (последние ${recent.length}):\\n`;\n  recent.forEach(h => {\n    const sender = h.is_client ? 'Клиент' : 'Мы';\n    context += `[${sender}] ${h.text?.substring(0, 100) || ''}\\n`;\n  });\n}\n\nif (text) {\n  context += `\\nТекущее сообщение клиента: \"${text}\"\\n`;\n}\n\nreturn { \n  json: { \n    ...data,\n    context,\n    chatInput: text || 'Здравствуйте'\n  } \n};"
      },
      "id": "1a5eaa26-e686-4a5f-84e8-6cf2102ad4d3",
      "name": "Build AI Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        32
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.context }}\n\nСообщение клиента: {{ $json.chatInput }}",
        "options": {
          "systemMessage": "Ты — дружелюбный ассистент сервисного центра по ремонту телефонов.\n\nПРАВИЛА:\n1. Будь кратким и по делу (2-3 предложения максимум)\n2. НЕ используй markdown\n3. Говори естественным разговорным языком\n4. Если что-то не хватает - вежливо попроси уточнить\n5. Если всё заполнено - предложи рассчитать стоимость\n6. НЕ повторяй всю информацию - только подтверди ключевое\n\nПРИМЕРЫ ОТВЕТОВ:\n- \"Понял, ремонт iPhone 12 Pro. Что именно нужно починить?\"\n- \"Замена дисплея на iPhone 14, запчасть наша. Сейчас рассчитаю стоимость.\"\n- \"Здравствуйте! Чем могу помочь?\"\n- \"Это второй телефон к заявке или замена первого?\""
        }
      },
      "id": "51862306-5a58-45b4-ba24-f10b1698fe39",
      "name": "AI Response Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -480,
        32
      ]
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 300,
          "temperature": 0.7
        }
      },
      "id": "9c8a8a29-e5ab-4714-8f4a-aa55b15a8487",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -560,
        256
      ],
      "credentials": {
        "openAiApi": {
          "id": "ptoy1RvCOn39G0Af",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare Response\nconst context = $('Build AI Context').first().json;\nconst aiResponse = $input.first().json;\n\nconst responseText = aiResponse.output || aiResponse.text || 'Здравствуйте! Чем могу помочь?';\n\nconst extracted_data = context.extracted_data || {};\nconst missing_fields = context.missing_fields || [];\n\nlet nextAction = 'continue';\nif (context.is_complete) {\n  nextAction = 'calculate_cost';\n} else if (missing_fields.length > 0) {\n  nextAction = 'wait_clarification';\n}\n\nlet route = 'minimal';\nif (extracted_data.brand_id && extracted_data.model_id && extracted_data.repair_category_id) {\n  route = 'full';\n} else if (extracted_data.brand_id || extracted_data.model_id) {\n  route = 'partial';\n}\n\nconst operationMode = context.appeal?.operation_mode || context.operation_mode || 'assist';\nconst appeal_id = context.appeal?.id || context.id;\nconst tenant_id = context.tenant_id || context.appeal?.tenant_id;\n\nconsole.log('=== PREPARE RESPONSE ===');\nconsole.log('Appeal ID:', appeal_id);\nconsole.log('Route:', route);\n\nreturn {\n  appeal_id: appeal_id,\n  tenant_id: tenant_id,\n  channel: context.channel || context.appeal?.channel,\n  external_chat_id: context.external_chat_id,\n  client_name: context.client_name,\n  response_text: responseText,\n  next_action: nextAction,\n  route: route,\n  extracted_data: extracted_data,\n  completion_percentage: context.completion_percentage || 0,\n  dispatcher_result: context.dispatcher_result,\n  devices: context.devices,\n  device_count: context.deviceCount || 0,\n  operation_mode: operationMode,\n  approval_data: {\n    channel: context.channel,\n    external_chat_id: context.external_chat_id,\n    appeal_id: appeal_id,\n    client_name: context.client_name,\n    response_text: responseText,\n    next_action: nextAction,\n    appeal: context.appeal,\n    extracted_data: extracted_data,\n    operation_mode: operationMode,\n    completeness: {\n      percentage: context.completion_percentage || 0,\n      missing: missing_fields\n    }\n  }\n};"
      },
      "id": "6d1e2697-8386-4e2d-b2a9-1b16d40f1963",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        32
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "full",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "full"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "partial",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "partial"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "minimal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "minimal"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "cfed9de3-802d-4e9e-b699-caef707911ee",
      "name": "Route by Completeness",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        96,
        16
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Full update: appeal_devices + appeal_repairs\nWITH device_upsert AS (\n  INSERT INTO appeal_devices (appeal_id, tenant_id, device_index, brand_id, model_id)\n  VALUES (\n    '{{ $json.appeal_id }}'::uuid,\n    '{{ $json.tenant_id }}'::uuid,\n    COALESCE((SELECT MAX(device_index) + 1 FROM appeal_devices WHERE appeal_id = '{{ $json.appeal_id }}'::uuid), 1),\n    {{ $json.extracted_data.brand_id ? \"'\" + $json.extracted_data.brand_id + \"'::uuid\" : 'NULL' }},\n    {{ $json.extracted_data.model_id ? \"'\" + $json.extracted_data.model_id + \"'::uuid\" : 'NULL' }}\n  )\n  ON CONFLICT (appeal_id, device_index) \n  DO UPDATE SET \n    brand_id = COALESCE(EXCLUDED.brand_id, appeal_devices.brand_id),\n    model_id = COALESCE(EXCLUDED.model_id, appeal_devices.model_id),\n    updated_at = NOW()\n  RETURNING id\n),\nrepair_upsert AS (\n  INSERT INTO appeal_repairs (appeal_id, appeal_device_id, tenant_id, repair_category_id)\n  SELECT \n    '{{ $json.appeal_id }}'::uuid,\n    (SELECT id FROM device_upsert),\n    '{{ $json.tenant_id }}'::uuid,\n    {{ $json.extracted_data.repair_category_id ? \"'\" + $json.extracted_data.repair_category_id + \"'::uuid\" : 'NULL' }}\n  WHERE {{ $json.extracted_data.repair_category_id ? 'true' : 'false' }}\n  RETURNING id\n)\nUPDATE appeals \nSET \n  updated_at = NOW(),\n  stage = 'Расчёт стоимости'\nWHERE id = '{{ $json.appeal_id }}'::uuid;",
        "options": {}
      },
      "id": "32cb3485-2670-433e-bec3-484160d31f71",
      "name": "Update Full Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        320,
        -144
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Partial update: appeal_devices only\nWITH device_upsert AS (\n  INSERT INTO appeal_devices (appeal_id, tenant_id, device_order, brand_id, model_id)\n  VALUES (\n    '{{ $json.appeal_id }}'::uuid,\n    '{{ $json.tenant_id }}'::uuid,\n    COALESCE((SELECT MAX(device_order) + 1 FROM appeal_devices WHERE appeal_id = '{{ $json.appeal_id }}'::uuid), 1),\n    {{ $json.extracted_data.brand_id ? \"'\" + $json.extracted_data.brand_id + \"'::uuid\" : 'NULL' }},\n    {{ $json.extracted_data.model_id ? \"'\" + $json.extracted_data.model_id + \"'::uuid\" : 'NULL' }}\n  )\n  ON CONFLICT (appeal_id, device_order)\n  DO UPDATE SET\n    brand_id = COALESCE(EXCLUDED.brand_id, appeal_devices.brand_id),\n    model_id = COALESCE(EXCLUDED.model_id, appeal_devices.model_id),\n    updated_at = NOW()\n  RETURNING id\n)\nUPDATE appeals\nSET updated_at = NOW()\nWHERE id = '{{ $json.appeal_id }}'::uuid;",
        "options": {}
      },
      "id": "a8b562c8-6217-4815-9674-236362dd488d",
      "name": "Update Partial Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        320,
        32
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Minimal update: just timestamp and stage\nUPDATE appeals \nSET \n  updated_at = NOW(),\n  stage = COALESCE(stage, 'Сбор информации')\nWHERE id = '{{ $json.appeal_id }}'::uuid;",
        "options": {}
      },
      "id": "9cd435fe-5812-4fe2-adcd-2170d76fddb2",
      "name": "Update Minimal",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        320,
        208
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge After Update\nlet data = null;\ntry {\n  data = $('Prepare Response').first().json;\n} catch (e) {\n  const items = $input.all();\n  if (items.length > 0) data = items[0].json;\n}\nreturn data || {};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        32
      ],
      "id": "4e1ac181-48e9-44e5-8767-7a8a8fc22f4c",
      "name": "Merge After Update"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages_history (tenant_id, appeal_id, message_type, message_text, channel)\n  VALUES (\n    '{{ $json.tenant_id }}'::uuid,\n    '{{ $json.appeal_id }}'::uuid,\n    'agent',\n    '{{ $json.response_text.replace(/'/g, \"''\") }}',\n    '{{ $json.channel }}'\n  );",
        "options": {}
      },
      "id": "dc5f323f-cdef-41b4-9855-f5bee9e17157",
      "name": "Save Response",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        768,
        32
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.operation_mode }}",
                    "rightValue": "auto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "auto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.operation_mode }}",
                    "rightValue": "assist",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "assist"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "0f58fed3-150c-4c86-915b-f102b95cb514",
      "name": "Route By Mode",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        992,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare Notifier Data\nlet data = null;\ntry {\n  data = $('Prepare Response').first().json;\n} catch (e) {\n  data = $input.first()?.json || {};\n}\n\nreturn {\n  tenant_id: data.tenant_id,\n  appeal_id: data.appeal_id,\n  client_name: data.client_name || '',\n  channel: data.channel,\n  text: data.text || '',\n  response_text: data.response_text || '',\n  external_chat_id: data.external_chat_id,\n  appeal: data.appeal,\n  missing_fields: data.missing_fields\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        128
      ],
      "id": "ca6cc01d-e8f9-4881-ae23-425496d23196",
      "name": "Prepare Notifier Data"
    },
    {
      "parameters": {
        "workflowId": "GUeLgLcNnawYfpf9",
        "options": {}
      },
      "id": "f2a59c35-f1ae-437e-94cc-a44d97a4ea93",
      "name": "Call Operator Notifier",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1440,
        128
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"appeal_id\": $('Prepare Response').item.json.appeal_id,\n  \"response_text\": $('Prepare Response').item.json.response_text,\n  \"next_action\": $('Prepare Response').item.json.next_action,\n  \"completion_percentage\": $('Prepare Response').item.json.completion_percentage\n} }}",
        "options": {}
      },
      "id": "2b5601a7-0a47-4ee9-9e16-0482fb393b8f",
      "name": "Return Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1664,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare Auto Send\nconst data = $input.first().json;\n\nlet clientId = null;\ntry {\n  const ctx = $('Build AI Context').first()?.json;\n  clientId = ctx?.appeal?.client_id || ctx?.client_id;\n} catch (e) {}\n\nif (!clientId) {\n  clientId = data.approval_data?.appeal?.client_id;\n}\n\nif (!clientId) {\n  throw new Error('client_id not found');\n}\n\nreturn {\n  appeal_id: data.appeal_id,\n  client_id: clientId,\n  response_to_send: data.response_text,\n  channel: data.channel || 'telegram',\n  response_type: 'text',\n  operator_action: 'auto_response',\n  operator_name: 'ИИ-агент',\n  client_telegram_id: data.external_chat_id,\n  source_workflow: 'BAT AI Appeal Router (auto)',\n  extracted_data: data.extracted_data,\n  completion_percentage: data.completion_percentage,\n  approval_data: data.approval_data,\n  operation_mode: data.operation_mode,\n  client_name: data.client_name\n};"
      },
      "id": "55b49cf0-1965-4eb8-ac8c-cdc9c7f274dd",
      "name": "Prepare Auto Send",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -64
      ]
    },
    {
      "parameters": {
        "workflowId": "Gxd1gIKgk8HxuOya",
        "options": {}
      },
      "id": "977f1502-623c-4047-8627-23be09cdcbe9",
      "name": "Call Client Response Sender",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1440,
        -64
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Load Appeal & Devices",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Fields Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Appeal & Devices": {
      "main": [
        [
          {
            "node": "Merge Appeal & Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Fields Config": {
      "main": [
        [
          {
            "node": "Merge Appeal & Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Appeal & Fields": {
      "main": [
        [
          {
            "node": "Prepare Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context": {
      "main": [
        [
          {
            "node": "Needs Extraction?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Extraction?": {
      "main": [
        [
          {
            "node": "Skip Extraction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Task Dispatcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Task Dispatcher": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Extraction": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Build AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Context": {
      "main": [
        [
          {
            "node": "AI Response Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Response Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Response Generator": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Route by Completeness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Completeness": {
      "main": [
        [
          {
            "node": "Update Full Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Partial Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Minimal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Minimal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Full Data": {
      "main": [
        [
          {
            "node": "Merge After Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Partial Data": {
      "main": [
        [
          {
            "node": "Merge After Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Minimal": {
      "main": [
        [
          {
            "node": "Merge After Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge After Update": {
      "main": [
        [
          {
            "node": "Save Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Response": {
      "main": [
        [
          {
            "node": "Route By Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route By Mode": {
      "main": [
        [
          {
            "node": "Prepare Auto Send",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Notifier Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Notifier Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Notifier Data": {
      "main": [
        [
          {
            "node": "Call Operator Notifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Operator Notifier": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Auto Send": {
      "main": [
        [
          {
            "node": "Call Client Response Sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": [
    {
      "updatedAt": "2025-11-23T03:59:12.594Z",
      "createdAt": "2025-11-23T03:59:12.594Z",
      "id": "8zD9sDD78ytgu5T2",
      "name": "BattCRM"
    },
    {
      "updatedAt": "2025-11-23T04:04:01.292Z",
      "createdAt": "2025-11-23T04:04:01.292Z",
      "id": "eiI07cPEeFxzR69p",
      "name": "Core"
    }
  ]
}
