workflows_to_import/ELO_Core_Batcher_v2.json
{
  "name": "ELO_Core_Batcher",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-node",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [432, 216]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json;\n\n// Генерируем ключи для Redis\nconst batchKey = `elo:${msg.channel}:${msg.external_chat_id}`;\n\n// Получаем batch_timeout из tenant_settings или используем default 10 сек\nconst batchTimeout = msg.tenant_settings?.batch_timeout_sec || 10;\n\nreturn {\n  batch_key: batchKey,\n  queue_key: `queue:${batchKey}`,\n  last_seen_key: `last_seen:${batchKey}`,\n  lock_key: `lock:${batchKey}`,\n  now_iso: new Date().toISOString(),\n  batch_timeout_sec: batchTimeout,\n  batch_timeout_ms: batchTimeout * 1000,\n  message: msg\n};"
      },
      "id": "prepare-keys",
      "name": "Prepare Keys",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 216]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.queue_key }}",
        "messageData": "={{ JSON.stringify($json.message) }}",
        "tail": true
      },
      "id": "push-to-queue",
      "name": "Push to Queue",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [912, 216],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.last_seen_key }}",
        "value": "={{ $json.now_iso }}",
        "expire": true,
        "ttl": 600
      },
      "id": "update-last-seen",
      "name": "Update Last Seen",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1120, 216],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.lock_key }}",
        "options": {}
      },
      "id": "get-lock",
      "name": "Get Lock",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1312, 216],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.value === null || $json.value === undefined || $json.value === '' }}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "lock-exists",
      "name": "Lock Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1520, 216]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Prepare Keys').item.json.lock_key }}",
        "value": "busy",
        "expire": true,
        "ttl": 300
      },
      "id": "acquire-lock",
      "name": "Acquire Lock (TTL 300s)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1728, 104],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ $('Prepare Keys').item.json.batch_timeout_sec }}",
        "unit": "seconds"
      },
      "id": "wait-batch-timeout",
      "name": "Wait Batch Timeout",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1936, 104],
      "webhookId": "elo-batcher-wait"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Prepare Keys').item.json.last_seen_key }}",
        "options": {}
      },
      "id": "get-last-seen",
      "name": "Get Last Seen",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [2144, 104],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const last = $json.value ? Date.parse($json.value) : 0;\nconst batchTimeoutMs = $('Prepare Keys').item.json.batch_timeout_ms || 10000;\nconst quiet = Date.now() - last >= batchTimeoutMs;\nreturn { quiet, last_seen: $json.value, elapsed_ms: Date.now() - last };"
      },
      "id": "check-quiet",
      "name": "Quiet >= Timeout?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2336, 104]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.quiet === true }}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "silence-reached",
      "name": "Silence Reached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2544, 104]
    },
    {
      "parameters": {
        "operation": "pop",
        "list": "={{ $('Prepare Keys').item.json.queue_key }}",
        "tail": false,
        "propertyName": "popped_messages",
        "options": {}
      },
      "id": "pop-all-queue",
      "name": "Pop All Queue",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [2768, 104],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем все сообщения из очереди через LRANGE\nconst queueKey = $('Prepare Keys').item.json.queue_key;\n\n// Используем данные из batch_messages если они пришли от Queue Processor\nconst inputData = $('Execute Workflow Trigger').first().json;\nlet messages = [];\n\nif (inputData.batch_messages && Array.isArray(inputData.batch_messages)) {\n  // Данные уже пришли от Queue Processor\n  messages = inputData.batch_messages;\n} else if ($json.popped_messages) {\n  // Данные из Redis pop\n  const raw = Array.isArray($json.popped_messages) ? $json.popped_messages : [$json.popped_messages];\n  messages = raw.filter(v => v).map(s => {\n    try {\n      return typeof s === 'string' ? JSON.parse(s) : s;\n    } catch (e) {\n      return { text: String(s) };\n    }\n  });\n}\n\nreturn { messages, count: messages.length };"
      },
      "id": "normalize-messages",
      "name": "Normalize Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2992, 104]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.count }}",
              "operation": "smaller",
              "value2": 1
            }
          ]
        },
        "options": {}
      },
      "id": "empty-check",
      "name": "Empty?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3200, 104]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Prepare Keys').item.json.queue_key }}"
      },
      "id": "delete-queue",
      "name": "Delete Queue",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [3408, 200],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Объединяем сообщения из батча\nconst messages = $json.messages || [];\n\nif (messages.length === 0) {\n  return [{ json: { error: 'empty_batch' } }];\n}\n\n// Сортируем по timestamp\nconst toTs = (m) => {\n  const t = m.timestamp ? Date.parse(m.timestamp) : NaN;\n  return Number.isFinite(t) ? t : Number.MAX_SAFE_INTEGER;\n};\nmessages.sort((a, b) => toTs(a) - toTs(b));\n\n// Собираем тексты\nconst texts = messages\n  .map(m => m.media?.voice_transcribed_text\n    ? `[Голосовое]: ${m.media.voice_transcribed_text}`\n    : (m.text || ''))\n  .filter(t => t.trim());\n\nconst combinedText = texts.join('\\n\\n');\n\n// Берём первое сообщение как базу\nconst base = messages[0];\n\n// Находим последнее с raw данными\nconst lastWithRaw = [...messages].reverse().find(m => m?.meta?.raw);\n\n// Формируем выход\nconst output = {\n  ...base,\n  text: combinedText,\n  meta: {\n    ...base.meta,\n    ...(lastWithRaw?.meta?.raw ? { raw: lastWithRaw.meta.raw } : {}),\n    batched: true,\n    batch_size: messages.length,\n    batch_timeout_sec: $('Prepare Keys').item.json.batch_timeout_sec,\n    original_messages: messages.map(m => ({\n      timestamp: m.timestamp,\n      type: m.meta?.original_media_type || 'text',\n      text_length: (m.text || '').length\n    })),\n    combined_at: new Date().toISOString()\n  }\n};\n\nreturn [{ json: output }];"
      },
      "id": "combine-messages",
      "name": "Combine Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3632, 200]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Prepare Keys').item.json.lock_key }}"
      },
      "id": "release-lock",
      "name": "Release Lock",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [3856, 200],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "empty-batch-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "empty_batch",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [4080, 200],
      "id": "skip-empty",
      "name": "Skip Empty?"
    },
    {
      "parameters": {
        "jsCode": "// Подготавливаем итоговый контракт для Dialog Engine\nconst input = $input.first()?.json || {};\n\nconst output = {\n  ...input,\n  success: true\n};\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4304, 296],
      "id": "prepare-output",
      "name": "Prepare Output"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LcB53NcwVT0K3K6U",
          "mode": "id"
        },
        "options": {}
      },
      "id": "call-dialog-engine",
      "name": "Execute Dialog Engine",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [4528, 296]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Prepare Keys').item.json.lock_key }}"
      },
      "id": "release-lock-empty",
      "name": "Release Lock (Empty)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [3408, 0],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Keys": {
      "main": [
        [
          {
            "node": "Push to Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to Queue": {
      "main": [
        [
          {
            "node": "Update Last Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Last Seen": {
      "main": [
        [
          {
            "node": "Get Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lock": {
      "main": [
        [
          {
            "node": "Lock Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Exists?": {
      "main": [
        [
          {
            "node": "Acquire Lock (TTL 300s)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Acquire Lock (TTL 300s)": {
      "main": [
        [
          {
            "node": "Wait Batch Timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Batch Timeout": {
      "main": [
        [
          {
            "node": "Get Last Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Seen": {
      "main": [
        [
          {
            "node": "Quiet >= Timeout?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quiet >= Timeout?": {
      "main": [
        [
          {
            "node": "Silence Reached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Silence Reached?": {
      "main": [
        [
          {
            "node": "Pop All Queue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Batch Timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pop All Queue": {
      "main": [
        [
          {
            "node": "Normalize Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Messages": {
      "main": [
        [
          {
            "node": "Empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empty?": {
      "main": [
        [
          {
            "node": "Release Lock (Empty)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Queue": {
      "main": [
        [
          {
            "node": "Combine Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Messages": {
      "main": [
        [
          {
            "node": "Release Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Release Lock": {
      "main": [
        [
          {
            "node": "Skip Empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Empty?": {
      "main": [
        [],
        [
          {
            "node": "Prepare Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Output": {
      "main": [
        [
          {
            "node": "Execute Dialog Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "ELO"
    },
    {
      "name": "Core"
    }
  ]
}
