Old/n8n_workflows/TaskWork/BAT_Queue_Processor.json
{
  "id": "H5TGQpitLQjVzr6d",
  "name": "BAT Queue Processor",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "id": "7a0234e8-9ff0-48d1-ae8f-1a8e769cce5a",
      "name": "Every 5 Seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1264,
        -224
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "queue:processor:lock",
        "options": {}
      },
      "id": "b35d5458-c5a9-438d-b5f5-451f85705e76",
      "name": "Check Processor Lock",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1040,
        -224
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "lock-check",
              "leftValue": "={{ $json.value }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7508b18d-d2d9-4043-8f3d-c1de905b1ff0",
      "name": "Is Processor Free?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -816,
        -224
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "queue:processor:lock",
        "value": "processing",
        "expire": true
      },
      "id": "3b06a96f-8329-44e6-a1a3-74d690bd7fac",
      "name": "Acquire Processor Lock",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -576,
        -224
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем сообщения из очереди через LRANGE\n// n8n Redis node не поддерживает LRANGE напрямую, используем GET для проверки\nreturn { ready: true, timestamp: new Date().toISOString() };"
      },
      "id": "57198f5f-7660-4e1a-81e3-27da46cc7e62",
      "name": "Prepare Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -224
      ]
    },
    {
      "parameters": {
        "operation": "pop",
        "list": "queue:incoming",
        "propertyName": "value",
        "options": {}
      },
      "id": "69ed57ed-2f42-4110-a780-0c96807ae00b",
      "name": "Pop Message 1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -64,
        -1136
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pop",
        "list": "queue:incoming",
        "propertyName": "value",
        "options": {}
      },
      "id": "f4db758a-441a-46bf-b862-caf02b15acd0",
      "name": "Pop Message 2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -64,
        -896
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pop",
        "list": "queue:incoming",
        "propertyName": "value",
        "options": {}
      },
      "id": "c5023548-9177-446c-9bb3-8f2a8a4267b5",
      "name": "Pop Message 3",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -64,
        -704
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pop",
        "list": "queue:incoming",
        "propertyName": "value",
        "options": {}
      },
      "id": "698beb53-43a6-4fa8-b94b-2700090d8bac",
      "name": "Pop Message 4",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -64,
        -528
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pop",
        "list": "queue:incoming",
        "propertyName": "value",
        "options": {}
      },
      "id": "aae74936-c810-4a10-9d81-dbd07ed8921d",
      "name": "Pop Message 5",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -64,
        -304
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pop",
        "list": "queue:incoming",
        "propertyName": "value",
        "options": {}
      },
      "id": "b336a458-24ec-4a9f-8bd9-dcea56132660",
      "name": "Pop Message 6",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -64,
        -112
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pop",
        "list": "queue:incoming",
        "propertyName": "value",
        "options": {}
      },
      "id": "336e6519-3828-4fa3-8233-4d42c9d52d19",
      "name": "Pop Message 7",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -64,
        32
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pop",
        "list": "queue:incoming",
        "propertyName": "value",
        "options": {}
      },
      "id": "25da76d4-75d9-4d8c-9537-a9463ddbd4dd",
      "name": "Pop Message 8",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -64,
        160
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pop",
        "list": "queue:incoming",
        "propertyName": "value",
        "options": {}
      },
      "id": "2cdbffa0-1108-4d57-b041-8ba531e60edf",
      "name": "Pop Message 9",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -64,
        352
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pop",
        "list": "queue:incoming",
        "propertyName": "value",
        "options": {}
      },
      "id": "22d815c7-2abf-40c9-8fdd-3d637c4e5f52",
      "name": "Pop Message 10",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -64,
        528
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Собираем все сообщения из разных pop-операций\nconst allItems = $input.all();\nconst messages = [];\n\nfor (const item of allItems) {\n  const val = item.json?.value;\n  if (val && val !== null && val !== 'null' && val !== '') {\n    try {\n      const parsed = typeof val === 'string' ? JSON.parse(val) : val;\n      messages.push(parsed);\n    } catch (e) {\n      console.error('Failed to parse message:', val, e);\n    }\n  }\n}\n\nif (messages.length === 0) {\n  return { empty: true, count: 0 };\n}\n\n// Группируем по batch_key (channel:external_chat_id)\nconst groups = {};\nfor (const msg of messages) {\n  const batchKey = `${msg.channel}:${msg.external_chat_id}`;\n  if (!groups[batchKey]) {\n    groups[batchKey] = [];\n  }\n  groups[batchKey].push(msg);\n}\n\nreturn {\n  empty: false,\n  count: messages.length,\n  groups: groups,\n  group_keys: Object.keys(groups)\n};"
      },
      "id": "7c5c9164-c7a4-40e0-baa4-1974c7bfc936",
      "name": "Collect and Group Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "empty-check",
              "leftValue": "={{ $json.empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "84b828ba-0f51-4c0d-8e87-8255e9fd7dfb",
      "name": "Is Queue Empty?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        -224
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "queue:processor:lock"
      },
      "id": "751aa344-e5cd-4237-a818-f79a2ddb98bc",
      "name": "Release Lock (Empty)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        608,
        -320
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ffba8336-ad60-4551-9d5f-a28aac52d74c",
      "name": "Loop Over Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        848,
        -208
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.lock_key }}",
        "options": {}
      },
      "id": "f872b036-b7cc-4e17-a458-2aaea94e25be",
      "name": "Check Batch Lock",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1088,
        -224
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $('Loop Over Batches').first().json;\nconst lockValue = $json.value;\n\n// Если lock существует - добавляем в per-chat очередь\n// Если нет - создаём lock и запускаем дебаунс\nconst hasLock = lockValue && lockValue !== '' && lockValue !== null;\n\nreturn {\n  ...item,\n  has_lock: hasLock,\n  lock_value: lockValue\n};"
      },
      "id": "a836b487-0997-4b52-ae3a-c92815a0ffa6",
      "name": "Prepare Batch Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-lock-check",
              "leftValue": "={{ $json.has_lock }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "73909ad1-70a3-4a1f-babd-aee3df2089c6",
      "name": "Has Batch Lock?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1488,
        -224
      ]
    },
    {
      "parameters": {
        "jsCode": "// Добавляем сообщения в per-chat очередь (lock уже есть, кто-то обрабатывает)\nconst item = $json;\nconst messagesToPush = item.messages.map(m => JSON.stringify(m));\n\nreturn {\n  queue_key: item.queue_key,\n  messages_json: messagesToPush,\n  batch_key: item.batch_key,\n  action: 'queued_to_existing'\n};"
      },
      "id": "b648938e-b318-4674-bb96-d0c5dcb239a0",
      "name": "Prepare Queue Push",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        -384
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.queue_key }}",
        "messageData": "={{ $json.messages_json.join('|||SEPARATOR|||') }}",
        "tail": true
      },
      "id": "8930473b-85f5-4aaf-b32b-c5a21347aff2",
      "name": "Push to Batch Queue",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1952,
        -384
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Prepare Batch Decision').item.json.last_seen_key }}",
        "value": "={{ new Date().toISOString() }}"
      },
      "id": "655a29a6-aaf4-4ae1-8bfd-cfb1fcdae5e2",
      "name": "Update Last Seen (Existing)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2176,
        -208
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.lock_key }}",
        "value": "processing",
        "expire": true,
        "ttl": 300
      },
      "id": "2278aa22-212d-4c97-9010-b6159f0d6191",
      "name": "Acquire Batch Lock",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1712,
        160
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Первые сообщения для нового батча - сразу пушим в per-chat очередь\nconst item = $('Prepare Batch Decision').first().json;\nconst messagesToPush = item.messages.map(m => JSON.stringify(m));\n\nreturn {\n  queue_key: item.queue_key,\n  lock_key: item.lock_key,\n  last_seen_key: item.last_seen_key,\n  batch_key: item.batch_key,\n  channel: item.channel,\n  external_chat_id: item.external_chat_id,\n  messages_json: messagesToPush,\n  message_count: item.message_count,\n  action: 'new_batch_started'\n};"
      },
      "id": "f8105621-4b7b-45e2-aaba-712f4628a68d",
      "name": "Prepare New Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        160
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.queue_key }}",
        "messageData": "={{ $json.messages_json.join('|||SEPARATOR|||') }}",
        "tail": true
      },
      "id": "9718fa9c-6811-43cb-90af-ca98ba41c9da",
      "name": "Push New Batch Messages",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2160,
        160
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Prepare New Batch').item.json.last_seen_key }}",
        "value": "={{ new Date().toISOString() }}"
      },
      "id": "5ed076b6-bc3f-4e21-a061-b3c547dc1d2a",
      "name": "Set Last Seen (New)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2384,
        160
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "queue:debounce:pending",
        "messageData": "={{ JSON.stringify({ batch_key: $('Prepare New Batch').item.json.batch_key, channel: $('Prepare New Batch').item.json.channel, external_chat_id: $('Prepare New Batch').item.json.external_chat_id, queue_key: $('Prepare New Batch').item.json.queue_key, lock_key: $('Prepare New Batch').item.json.lock_key, last_seen_key: $('Prepare New Batch').item.json.last_seen_key, start_time: new Date().toISOString() }) }}",
        "tail": true
      },
      "id": "98f7c731-4dfc-4612-a6e6-b37810d6d36e",
      "name": "Push to Debounce Queue",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2592,
        160
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "queue:processor:lock"
      },
      "id": "c450e5a8-3ea6-4861-9ef2-4bdb28d09e58",
      "name": "Release Processor Lock",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1024,
        -384
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Разворачиваем группы в отдельные items для обработки\nconst groups = $json.groups;\nconst groupKeys = $json.group_keys;\n\nconst items = groupKeys.map(key => {\n  const messages = groups[key];\n  const [channel, ...chatParts] = key.split(':');\n  const chatId = chatParts.join(':');\n  \n  return {\n    json: {\n      batch_key: key,\n      channel: channel,\n      external_chat_id: chatId,\n      messages: messages,\n      message_count: messages.length,\n      queue_key: `queue:batch:${key}`,\n      lock_key: `lock:batch:${key}`,\n      last_seen_key: `last_seen:${key}`\n    }\n  };\n});\n\nreturn items;"
      },
      "id": "7a6701fd-c211-4367-8412-ca2656a658a5",
      "name": "Split to Batch Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -112
      ]
    }
  ],
  "connections": {
    "Every 5 Seconds": {
      "main": [
        [
          {
            "node": "Check Processor Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Processor Lock": {
      "main": [
        [
          {
            "node": "Is Processor Free?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Processor Free?": {
      "main": [
        [
          {
            "node": "Acquire Processor Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acquire Processor Lock": {
      "main": [
        [
          {
            "node": "Prepare Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Fetch": {
      "main": [
        [
          {
            "node": "Pop Message 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pop Message 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pop Message 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pop Message 4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pop Message 5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pop Message 6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pop Message 7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pop Message 8",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pop Message 9",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pop Message 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pop Message 1": {
      "main": [
        [
          {
            "node": "Collect and Group Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pop Message 2": {
      "main": [
        [
          {
            "node": "Collect and Group Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pop Message 3": {
      "main": [
        [
          {
            "node": "Collect and Group Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pop Message 4": {
      "main": [
        [
          {
            "node": "Collect and Group Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pop Message 5": {
      "main": [
        [
          {
            "node": "Collect and Group Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pop Message 6": {
      "main": [
        [
          {
            "node": "Collect and Group Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pop Message 7": {
      "main": [
        [
          {
            "node": "Collect and Group Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pop Message 8": {
      "main": [
        [
          {
            "node": "Collect and Group Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pop Message 9": {
      "main": [
        [
          {
            "node": "Collect and Group Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pop Message 10": {
      "main": [
        [
          {
            "node": "Collect and Group Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect and Group Messages": {
      "main": [
        [
          {
            "node": "Is Queue Empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Queue Empty?": {
      "main": [
        [
          {
            "node": "Release Lock (Empty)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split to Batch Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Batches": {
      "main": [
        [
          {
            "node": "Release Processor Lock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Batch Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Batch Lock": {
      "main": [
        [
          {
            "node": "Prepare Batch Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Batch Decision": {
      "main": [
        [
          {
            "node": "Has Batch Lock?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Batch Lock?": {
      "main": [
        [
          {
            "node": "Prepare Queue Push",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Acquire Batch Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Queue Push": {
      "main": [
        [
          {
            "node": "Push to Batch Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to Batch Queue": {
      "main": [
        [
          {
            "node": "Update Last Seen (Existing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Last Seen (Existing)": {
      "main": [
        [
          {
            "node": "Loop Over Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acquire Batch Lock": {
      "main": [
        [
          {
            "node": "Prepare New Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare New Batch": {
      "main": [
        [
          {
            "node": "Push New Batch Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push New Batch Messages": {
      "main": [
        [
          {
            "node": "Set Last Seen (New)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Last Seen (New)": {
      "main": [
        [
          {
            "node": "Push to Debounce Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to Debounce Queue": {
      "main": [
        [
          {
            "node": "Loop Over Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split to Batch Items": {
      "main": [
        [
          {
            "node": "Loop Over Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "updatedAt": "2025-11-23T03:59:12.594Z",
      "createdAt": "2025-11-23T03:59:12.594Z",
      "id": "8zD9sDD78ytgu5T2",
      "name": "BattCRM"
    },
    {
      "updatedAt": "2025-11-25T13:52:16.776Z",
      "createdAt": "2025-11-25T13:52:16.776Z",
      "id": "KZWHB14qNi4HvGro",
      "name": "TaskWork"
    }
  ],
  "updatedAt": "2025-12-07T11:56:09.000Z",
  "createdAt": "2025-12-03T11:53:41.247Z"
}