NEW/workflows/Core Contour/ELO_Core_Dialog_Engine.json
{
  "updatedAt": "2025-12-12T09:11:33.000Z",
  "createdAt": "2025-12-09T18:50:29.931Z",
  "id": "LcB53NcwVT0K3K6U",
  "name": "ELO_Core_Dialog_Engine",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "id": "1a60a182-e4fe-4284-8fcd-bbba34b4d060",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -2000,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json || {};\nconsole.log('═══ ELO DIALOG ENGINE START ═══');\nconsole.log('Channel:', input.channel);\nconsole.log('Tenant ID:', input.tenant_id);\nconsole.log('External chat ID:', input.external_chat_id);\nreturn input;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1792,
        240
      ],
      "id": "560a1c4f-ba14-43ab-a81d-4a330207581a",
      "name": "Attach Base"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Find or create client by channel ID\nWITH channel_lookup AS (\n  SELECT\n    '{{ $json.tenant_id }}'::uuid AS tenant_id,\n    '{{ $json.channel }}' AS channel,\n    '{{ $json.external_user_id }}' AS external_user_id,\n    '{{ $json.client_name || \"\" }}' AS client_name,\n    '{{ $json.client_phone || \"\" }}' AS client_phone,\n    '{{ $json.client_email || \"\" }}' AS client_email,\n    '{{ $json.client_username || \"\" }}' AS client_username\n),\nexisting_client AS (\n  SELECT c.* FROM elo_clients c, channel_lookup cl\n  WHERE c.tenant_id = cl.tenant_id\n    AND (\n      (cl.channel = 'telegram' AND c.telegram_id = cl.external_user_id)\n      OR (cl.channel = 'whatsapp' AND c.whatsapp_id = cl.external_user_id)\n      OR (cl.channel = 'vk' AND c.vk_id = cl.external_user_id)\n      OR (cl.channel = 'avito' AND c.avito_id = cl.external_user_id)\n      OR (cl.client_phone != '' AND c.phone = cl.client_phone)\n    )\n  LIMIT 1\n),\ninserted_client AS (\n  INSERT INTO elo_clients (tenant_id, telegram_id, whatsapp_id, vk_id, avito_id, phone, email, name)\n  SELECT\n    cl.tenant_id,\n    CASE WHEN cl.channel = 'telegram' THEN cl.external_user_id ELSE NULL END,\n    CASE WHEN cl.channel = 'whatsapp' THEN cl.external_user_id ELSE NULL END,\n    CASE WHEN cl.channel = 'vk' THEN cl.external_user_id ELSE NULL END,\n    CASE WHEN cl.channel = 'avito' THEN cl.external_user_id ELSE NULL END,\n    NULLIF(cl.client_phone, ''),\n    NULLIF(cl.client_email, ''),\n    NULLIF(cl.client_name, '')\n  FROM channel_lookup cl\n  WHERE NOT EXISTS (SELECT 1 FROM existing_client)\n  RETURNING *\n)\nSELECT \n  COALESCE(e.id, i.id) AS id,\n  COALESCE(e.name, i.name) AS name,\n  COALESCE(e.phone, i.phone) AS phone,\n  COALESCE(e.telegram_id, i.telegram_id) AS telegram_id,\n  CASE WHEN e.id IS NOT NULL THEN true ELSE false END AS client_found\nFROM channel_lookup cl\nLEFT JOIN existing_client e ON true\nLEFT JOIN inserted_client i ON true;",
        "options": {}
      },
      "id": "fe243581-708d-47a4-a3b3-40be87a39670",
      "name": "Find or Create Client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1536,
        160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1328,
        240
      ],
      "id": "32125e04-3709-48a0-885c-4d070f7d2f6e",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconsole.log('═══ MERGE AFTER CLIENT ═══');\n\nlet baseData = null;\nlet clientResult = null;\n\nfor (const item of allItems) {\n  const json = item.json;\n  if (json?.tenant_id && json?.channel) {\n    baseData = json;\n  }\n  if (json?.id && json?.client_found !== undefined) {\n    clientResult = json;\n  }\n}\n\nif (!baseData) {\n  try {\n    baseData = $('Attach Base').first()?.json || {};\n  } catch (e) {\n    baseData = {};\n  }\n}\n\nconst output = {\n  ...baseData,\n  client_found: clientResult?.client_found || false,\n  client: clientResult ? {\n    id: clientResult.id,\n    name: clientResult.name,\n    phone: clientResult.phone,\n    telegram_id: clientResult.telegram_id\n  } : null\n};\n\nconsole.log('Client found:', output.client_found);\nconsole.log('Client ID:', output.client?.id);\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        240
      ],
      "id": "3f415629-ab36-4542-bca2-817d11964cfa",
      "name": "Merge After Client"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Find active dialog for this client\nWITH vals AS (\n  SELECT\n    '{{ $json.client?.id || \"\" }}' AS client_id_text,\n    '{{ $json.tenant_id }}' AS tenant_id_text,\n    '{{ $json.channel }}' AS channel\n),\nv AS (\n  SELECT \n    CASE\n      WHEN client_id_text ~* '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'\n        THEN client_id_text::uuid\n      ELSE NULL\n    END AS client_id,\n    CASE\n      WHEN tenant_id_text ~* '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'\n        THEN tenant_id_text::uuid\n      ELSE NULL\n    END AS tenant_id,\n    channel\n  FROM vals\n)\nSELECT d.id, d.status, d.context, d.channel, d.external_chat_id, d.assigned_operator_id\nFROM elo_dialogs d\nJOIN v ON v.client_id IS NOT NULL\nWHERE d.client_id = v.client_id\n  AND d.tenant_id = v.tenant_id\n  AND d.status IN ('active', 'waiting')\n  AND d.created_at > NOW() - INTERVAL '7 days'\nORDER BY d.last_message_at DESC NULLS LAST\nLIMIT 1;",
        "options": {}
      },
      "id": "f7211f0f-6765-43b8-9b5d-b6df3907e28c",
      "name": "Find Active Dialog",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -896,
        144
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -688,
        240
      ],
      "id": "6da04908-5089-4446-809e-c574c2981e4c",
      "name": "Merge Dialog"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nlet baseData = null;\nlet dialogResult = null;\n\nfor (const item of allItems) {\n  const json = item.json;\n  if (json?.client?.id) {\n    baseData = json;\n  }\n  if (json?.id && json?.status) {\n    dialogResult = json;\n  }\n}\n\nif (!baseData) {\n  try {\n    baseData = $('Merge After Client').first()?.json || {};\n  } catch (e) {\n    baseData = {};\n  }\n}\n\nconst dialogFound = dialogResult && dialogResult.id;\n\nconst output = {\n  ...baseData,\n  dialog_found: dialogFound || false,\n  dialog: dialogFound ? {\n    id: dialogResult.id,\n    status: dialogResult.status,\n    context: dialogResult.context || {},\n    channel: dialogResult.channel,\n    external_chat_id: dialogResult.external_chat_id,\n    assigned_operator_id: dialogResult.assigned_operator_id,\n    is_new: false\n  } : null\n};\n\nconsole.log('Dialog found:', output.dialog_found);\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        240
      ],
      "id": "81a55b9e-4752-424d-b1c3-98dac0eca523",
      "name": "Merge After Dialog"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "dialog-found",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.dialog_found }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "bf5e5cb4-0a1c-4c7f-b7a3-03f1c5d9eb44",
      "name": "Dialog Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -256,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first()?.json || {};\nconst existingDialog = inputData.dialog;\n\nconsole.log('═══ USE EXISTING DIALOG ═══');\nconsole.log('Dialog ID:', existingDialog?.id);\n\nreturn {\n  ...inputData,\n  dialog: {\n    ...existingDialog,\n    is_new: false\n  }\n};"
      },
      "id": "a1790d69-6080-4120-ad0f-c301e2850486",
      "name": "Use Existing Dialog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        128
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO elo_dialogs (\n  tenant_id,\n  client_id,\n  channel,\n  external_chat_id,\n  status,\n  context,\n  metadata,\n  last_message_at\n)\nVALUES (\n  '{{ $json.tenant_id }}'::uuid,\n  '{{ $json.client.id }}'::uuid,\n  '{{ $json.channel }}',\n  '{{ $json.external_chat_id }}',\n  'active',\n  '{}'::jsonb,\n  '{{ JSON.stringify($json.meta || {}).replace(/'/g, \"''\") }}'::jsonb,\n  NOW()\n)\nRETURNING *;",
        "options": {}
      },
      "id": "98061c82-1bf4-42b0-a96d-940da6e95660",
      "name": "Create New Dialog",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -32,
        336
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sqlResult = $input.first()?.json;\nconst inMessage = $('Merge After Dialog').first()?.json || {};\n\nif (!sqlResult || !sqlResult.id) {\n  throw new Error('No dialog data returned from SQL');\n}\n\nconsole.log('═══ NEW DIALOG CREATED ═══');\nconsole.log('Dialog ID:', sqlResult.id);\n\nreturn {\n  ...inMessage,\n  dialog: {\n    id: sqlResult.id,\n    status: sqlResult.status,\n    context: sqlResult.context || {},\n    channel: sqlResult.channel,\n    external_chat_id: sqlResult.external_chat_id,\n    assigned_operator_id: sqlResult.assigned_operator_id,\n    is_new: true\n  }\n};"
      },
      "id": "2d06ad0e-4de0-4253-b711-2b16e166ee4d",
      "name": "Merge New Dialog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        336
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Save message as event\nINSERT INTO elo_events (\n  tenant_id,\n  dialog_id,\n  client_id,\n  event_type,\n  data,\n  actor_type,\n  actor_id,\n  external_id\n)\nVALUES (\n  '{{ $json.tenant_id }}'::uuid,\n  '{{ $json.dialog.id }}'::uuid,\n  '{{ $json.client.id }}'::uuid,\n  'message.inbound',\n  '{{ JSON.stringify({text: $json.text || \"\", channel: $json.channel, sender: \"client\", media: $json.media || {}}).replace(/'/g, \"''\") }}'::jsonb,\n  'client',\n  '{{ $json.client.id }}'::uuid,\n  '{{ $json.meta?.external_message_id || \"\" }}'\n)\nRETURNING *;",
        "options": {}
      },
      "id": "04850e31-2ae6-426d-99b0-c610fec19fb9",
      "name": "Save Message Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        416,
        240
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sqlResult = $input.first()?.json || {};\nlet srcData = null;\n\ntry {\n  srcData = $('Use Existing Dialog').first()?.json || $('Merge New Dialog').first()?.json;\n} catch (e) {\n  srcData = {};\n}\n\nif (!srcData) {\n  srcData = {};\n}\n\nconst output = {\n  ...srcData,\n  event_id: sqlResult.id,\n  success: true\n};\n\nconsole.log('═══ MESSAGE SAVED AS EVENT ═══');\nconsole.log('Event ID:', output.event_id);\nconsole.log('Dialog ID:', output.dialog?.id);\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        240
      ],
      "id": "0e31c7c2-6061-4086-adc6-606f41b3b84f",
      "name": "Prepare for AI Router"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Update dialog last_message_at and last_client_message_at\nUPDATE elo_dialogs\nSET \n  last_message_at = NOW(),\n  last_client_message_at = NOW(),\n  updated_at = NOW()\nWHERE id = '{{ $json.dialog.id }}'::uuid;",
        "options": {}
      },
      "id": "17d27adf-772c-4d25-91f1-2cf2122c6eca",
      "name": "Update Dialog Timestamp",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        864,
        240
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare final output for AI Router\nlet srcData = null;\ntry {\n  srcData = $('Prepare for AI Router').first()?.json;\n} catch (e) {\n  srcData = $input.first()?.json || {};\n}\n\nreturn {\n  tenant_id: srcData.tenant_id,\n  dialog: srcData.dialog,\n  client: srcData.client,\n  text: srcData.text,\n  channel: srcData.channel,\n  external_chat_id: srcData.external_chat_id,\n  external_user_id: srcData.external_user_id,\n  media: srcData.media,\n  meta: srcData.meta,\n  event_id: srcData.event_id,\n  client_found: srcData.client_found,\n  success: true\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        240
      ],
      "id": "8056c775-72bc-4bc2-afb1-7cdee7190e8d",
      "name": "Final Output"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Attach Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Base": {
      "main": [
        [
          {
            "node": "Find or Create Client",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Find or Create Client": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge After Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge After Client": {
      "main": [
        [
          {
            "node": "Find Active Dialog",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Dialog",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Find Active Dialog": {
      "main": [
        [
          {
            "node": "Merge Dialog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Dialog": {
      "main": [
        [
          {
            "node": "Merge After Dialog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge After Dialog": {
      "main": [
        [
          {
            "node": "Dialog Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dialog Exists?": {
      "main": [
        [
          {
            "node": "Use Existing Dialog",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Dialog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Existing Dialog": {
      "main": [
        [
          {
            "node": "Save Message Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Dialog": {
      "main": [
        [
          {
            "node": "Merge New Dialog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge New Dialog": {
      "main": [
        [
          {
            "node": "Save Message Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Message Event": {
      "main": [
        [
          {
            "node": "Prepare for AI Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for AI Router": {
      "main": [
        [
          {
            "node": "Update Dialog Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Dialog Timestamp": {
      "main": [
        [
          {
            "node": "Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "85b84ffe-7c1f-4103-98f0-603f81440680",
  "activeVersionId": null,
  "versionCounter": 6,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-09T18:50:29.937Z",
      "createdAt": "2025-12-09T18:50:29.937Z",
      "role": "workflow:owner",
      "workflowId": "LcB53NcwVT0K3K6U",
      "projectId": "x7frUSUEowDAk8Dt",
      "project": {
        "updatedAt": "2025-08-25T18:57:22.218Z",
        "createdAt": "2025-08-25T08:16:18.805Z",
        "id": "x7frUSUEowDAk8Dt",
        "name": "Dmitriy Remacs <dk@n8nsrv.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-25T08:16:18.805Z",
            "createdAt": "2025-08-25T08:16:18.805Z",
            "userId": "1d5222a1-8f53-4940-b7de-93daeae04393",
            "projectId": "x7frUSUEowDAk8Dt",
            "user": {
              "updatedAt": "2025-12-20T20:00:02.000Z",
              "createdAt": "2025-08-25T08:16:17.784Z",
              "id": "1d5222a1-8f53-4940-b7de-93daeae04393",
              "email": "dk@n8nsrv.ru",
              "firstName": "Dmitriy",
              "lastName": "Remacs",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RbSUhceYc7q41M5j",
                "userActivatedAt": 1756286438389
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-23T04:04:01.292Z",
      "createdAt": "2025-11-23T04:04:01.292Z",
      "id": "eiI07cPEeFxzR69p",
      "name": "Core"
    },
    {
      "updatedAt": "2025-12-09T18:50:08.518Z",
      "createdAt": "2025-12-09T18:50:08.518Z",
      "id": "tMSCjbvPU3xrNUqz",
      "name": "ELO"
    }
  ],
  "activeVersion": null
}