CORE_NEW/n8n_old/TaskWork/BAT_Out_Processor_1.json
{
  "id": "2YA1dX2K3dcSxg00",
  "name": "BAT Out Processor 1",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 3
            }
          ]
        }
      },
      "id": "3a81609c-324a-47c2-92c3-ad3e7f081b81",
      "name": "Every 3 Seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1360,
        112
      ]
    },
    {
      "parameters": {
        "operation": "pop",
        "list": "queue:outgoing",
        "options": {}
      },
      "id": "09de2658-45ea-49c8-b978-ad533ab30f50",
      "name": "Pop Outgoing Message",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1136,
        112
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-message",
              "leftValue": "={{ $json.value }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9f9136a7-e5d6-46b7-a2c5-1a088168846c",
      "name": "Has Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -912,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const msgStr = $json.value;\nlet msg;\n\ntry {\n  msg = JSON.parse(msgStr);\n} catch (e) {\n  return { error: 'Failed to parse message', raw: msgStr };\n}\n\n// Ожидаемая структура:\n// {\n//   channel: 'avito' | 'whatsapp' | 'vk' | 'max' | 'telegram',\n//   external_chat_id: '...',\n//   message_text: '...',\n//   appeal_id: '...',\n//   tenant_id: '...',\n//   ... другие поля\n// }\n\nreturn {\n  channel: msg.channel,\n  out_message: msg\n};"
      },
      "id": "fdcc09d0-4cdc-40a1-830e-5ddece0ac711",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.channel }}",
              "value2": "avito"
            }
          ]
        }
      },
      "id": "71cbafd2-dbef-494f-92aa-a0da96911a24",
      "name": "Avito?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -480,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.channel }}",
              "value2": "whatsapp"
            }
          ]
        }
      },
      "id": "c1c63cc9-5dcc-4a1c-8f25-9e5943fb5284",
      "name": "WhatsApp?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -256,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.channel }}",
              "value2": "vk"
            }
          ]
        }
      },
      "id": "c619b22d-01ce-48b2-a70e-b6b821db22f5",
      "name": "VK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -32,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.channel }}",
              "value2": "max"
            }
          ]
        }
      },
      "id": "1f0d367f-3e94-47ae-a941-09e21f40bcbd",
      "name": "MAX?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        192,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.channel }}",
              "value2": "telegram"
            }
          ]
        }
      },
      "id": "09eab580-721b-4c0e-9679-df24f960165a",
      "name": "Telegram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        416,
        416
      ]
    },
    {
      "parameters": {
        "workflowId": "ktU66Uf8f654kHvk",
        "options": {}
      },
      "id": "aa130a6a-b662-43d0-b4a8-16dd5ddecefd",
      "name": "Call OUT Avito",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -256,
        -96
      ]
    },
    {
      "parameters": {
        "workflowId": "YOs2tLdOlJAqY17o",
        "options": {}
      },
      "id": "ab094a3c-d8f0-4a11-a354-3593587e9ee5",
      "name": "Call OUT WhatsApp",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -32,
        16
      ]
    },
    {
      "parameters": {
        "workflowId": "3qluqpU6q269XuVK",
        "options": {}
      },
      "id": "15d64b80-c6d3-4e74-8969-70a7724ef7ff",
      "name": "Call OUT VK",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        192,
        112
      ]
    },
    {
      "parameters": {
        "workflowId": "RBGRJXr4o68VBJ6X",
        "options": {}
      },
      "id": "45d01cbb-dc9d-440b-9c65-78e413491c28",
      "name": "Call OUT MAX",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        416,
        208
      ]
    },
    {
      "parameters": {
        "workflowId": "OUT_TELEGRAM_WORKFLOW_ID",
        "options": {}
      },
      "id": "47d619b3-3f1a-450c-a7a4-1fdb6e595680",
      "name": "Call OUT Telegram",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        624,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Неизвестный канал - логируем ошибку\nconst data = $json;\nconsole.error('Unknown channel:', data.channel);\n\nreturn {\n  error: 'Unknown channel',\n  channel: data.channel,\n  message: data.out_message\n};"
      },
      "id": "4e674830-a4f9-4651-8d62-7ea10741fa0e",
      "name": "Unknown Channel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        512
      ]
    }
  ],
  "connections": {
    "Every 3 Seconds": {
      "main": [
        [
          {
            "node": "Pop Outgoing Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pop Outgoing Message": {
      "main": [
        [
          {
            "node": "Has Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Message?": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Avito?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avito?": {
      "main": [
        [
          {
            "node": "Call OUT Avito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp?": {
      "main": [
        [
          {
            "node": "Call OUT WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "VK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VK?": {
      "main": [
        [
          {
            "node": "Call OUT VK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MAX?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAX?": {
      "main": [
        [
          {
            "node": "Call OUT MAX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram?": {
      "main": [
        [
          {
            "node": "Call OUT Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "updatedAt": "2025-11-23T03:59:12.594Z",
      "createdAt": "2025-11-23T03:59:12.594Z",
      "id": "8zD9sDD78ytgu5T2",
      "name": "BattCRM"
    },
    {
      "updatedAt": "2025-11-25T13:52:16.776Z",
      "createdAt": "2025-11-25T13:52:16.776Z",
      "id": "KZWHB14qNi4HvGro",
      "name": "TaskWork"
    }
  ],
  "updatedAt": "2025-12-03T13:08:26.000Z",
  "createdAt": "2025-12-03T13:07:32.991Z"
}