NEW/workflows/Channel Contour/ELO_In/ELO_In_App.json
{
  "updatedAt": "2025-12-20T17:10:51.949Z",
  "createdAt": "2025-12-17T08:34:17.122Z",
  "id": "ZC8ivCruNEq6Vc7b",
  "name": "ELO_In_App",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "in-app",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4ac8be90-f651-4e70-83d3-baeae045a7d8",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -976,
        80
      ],
      "webhookId": "2b54cbe0-fab1-4454-8fbb-26bd452b2dc8"
    },
    {
      "parameters": {
        "jsCode": "// Determine what processing is needed\nconst body = $input.item.json.body;\n\nreturn {\n  json: {\n    ...body,\n    needs_transcription: body.has_audio && body.audio_url,\n    needs_media_download: body.has_media && body.media_url\n  }\n};"
      },
      "id": "1eb78a52-a656-4c48-a1c3-bbd86471b7c0",
      "name": "Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs_transcription",
              "leftValue": "={{ $json.needs_transcription }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2eb7b363-eb87-4508-b0ed-668d1fbcdf1c",
      "name": "Needs Transcription?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -576,
        -32
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.audio_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "985c8c2a-3cfd-4715-9398-ce5ff756b1c2",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -368,
        -128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "name": "language",
              "value": "ru"
            }
          ]
        },
        "options": {}
      },
      "id": "c90c25fa-74ba-4ecf-a521-cb4c255f3486",
      "name": "Whisper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -176,
        -128
      ],
      "credentials": {
        "openAiApi": {
          "id": "ptoy1RvCOn39G0Af",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Add transcription to message\nconst prepare = $('Prepare').item.json;\nconst transcription = $input.item.json.text || '';\n\nlet text = prepare.text || '';\nif (transcription) {\n  text = text ? `${text}\\n[Voice]: ${transcription}` : transcription;\n}\n\nreturn {\n  json: {\n    ...prepare,\n    text: text,\n    transcription: transcription\n  }\n};"
      },
      "id": "d3f22310-b258-4bb2-880c-04dfbb4a9810",
      "name": "Add Transcription",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        -128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs_media",
              "leftValue": "={{ $json.needs_media_download }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "21898851-3b9c-4002-adc4-7e51f535c2ae",
      "name": "Needs Media Download?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        240,
        -32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://155.212.221.189:8800/api/proxy/fetch",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"{{ $json.tenant_id || 'default' }}\",\n  \"url\": \"{{ $json.media_url }}\",\n  \"method\": \"GET\",\n  \"timeout\": 60,\n  \"server_id\": \"{{ $json.server_id }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 90000
        }
      },
      "id": "527e1c2d-9ce1-43b0-926d-fb22aed16175",
      "name": "Proxy Fetch Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        -128
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ '/tmp/media_' + $('Prepare').item.json.id + '.' + ($('Prepare').item.json.media_type || 'bin').split('/').pop() }}",
        "options": {}
      },
      "id": "d281c13f-8d00-46e9-b616-77b862851f00",
      "name": "Save Media",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        640,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Add local media path\nconst prev = $('Check Media Download?').item.json;\nconst savedFile = $input.item.json;\n\nreturn {\n  json: {\n    ...prev,\n    media_local_path: savedFile.fileName,\n    media_downloaded: true\n  }\n};"
      },
      "id": "c2e5cb43-897a-4de1-bea9-e945e10bfd6e",
      "name": "Add Media Path",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pass through without changes\nreturn $input.item;"
      },
      "id": "8163d80d-1771-4fb7-9782-dafa05ace2b3",
      "name": "No Audio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pass through without media download\nreturn $input.item;"
      },
      "id": "bd213a35-7c0c-4148-80fa-8c22a6bcb821",
      "name": "No Media",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        80
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "id": "f52f14ff-e41b-4a32-bb84-5171a1de1792",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1040,
        -32
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "fff020c5-5525-4646-af40-7c45596d5e65",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1232,
        -32
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare": {
      "main": [
        [
          {
            "node": "Needs Transcription?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Transcription?": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper": {
      "main": [
        [
          {
            "node": "Add Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Transcription": {
      "main": [
        [
          {
            "node": "Needs Media Download?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Audio": {
      "main": [
        [
          {
            "node": "Needs Media Download?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Media Download?": {
      "main": [
        [
          {
            "node": "Proxy Fetch Media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Proxy Fetch Media": {
      "main": [
        [
          {
            "node": "Save Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Media": {
      "main": [
        [
          {
            "node": "Add Media Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Media Path": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Media": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "03c7d4ac-d83d-4a6f-b3db-067cacb8d378",
  "activeVersionId": "03c7d4ac-d83d-4a6f-b3db-067cacb8d378",
  "versionCounter": 10,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-17T08:34:17.129Z",
      "createdAt": "2025-12-17T08:34:17.129Z",
      "role": "workflow:owner",
      "workflowId": "ZC8ivCruNEq6Vc7b",
      "projectId": "x7frUSUEowDAk8Dt",
      "project": {
        "updatedAt": "2025-08-25T18:57:22.218Z",
        "createdAt": "2025-08-25T08:16:18.805Z",
        "id": "x7frUSUEowDAk8Dt",
        "name": "Dmitriy Remacs <dk@n8nsrv.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-25T08:16:18.805Z",
            "createdAt": "2025-08-25T08:16:18.805Z",
            "userId": "1d5222a1-8f53-4940-b7de-93daeae04393",
            "projectId": "x7frUSUEowDAk8Dt",
            "user": {
              "updatedAt": "2025-12-26T07:11:12.000Z",
              "createdAt": "2025-08-25T08:16:17.784Z",
              "id": "1d5222a1-8f53-4940-b7de-93daeae04393",
              "email": "dk@n8nsrv.ru",
              "firstName": "Dmitriy",
              "lastName": "Remacs",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RbSUhceYc7q41M5j",
                "userActivatedAt": 1756286438389
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-25",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-23T04:03:40.721Z",
      "createdAt": "2025-11-23T04:03:40.721Z",
      "id": "nLdF41tEx70V7m3A",
      "name": "In"
    },
    {
      "updatedAt": "2025-12-09T18:50:08.518Z",
      "createdAt": "2025-12-09T18:50:08.518Z",
      "id": "tMSCjbvPU3xrNUqz",
      "name": "ELO"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-20T17:10:51.951Z",
    "createdAt": "2025-12-20T17:10:51.951Z",
    "versionId": "03c7d4ac-d83d-4a6f-b3db-067cacb8d378",
    "workflowId": "ZC8ivCruNEq6Vc7b",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "in-app",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "4ac8be90-f651-4e70-83d3-baeae045a7d8",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -976,
          80
        ],
        "webhookId": "2b54cbe0-fab1-4454-8fbb-26bd452b2dc8"
      },
      {
        "parameters": {
          "jsCode": "// Determine what processing is needed\nconst body = $input.item.json.body;\n\nreturn {\n  json: {\n    ...body,\n    needs_transcription: body.has_audio && body.audio_url,\n    needs_media_download: body.has_media && body.media_url\n  }\n};"
        },
        "id": "1eb78a52-a656-4c48-a1c3-bbd86471b7c0",
        "name": "Prepare",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -768,
          80
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "needs_transcription",
                "leftValue": "={{ $json.needs_transcription }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "2eb7b363-eb87-4508-b0ed-668d1fbcdf1c",
        "name": "Needs Transcription?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -576,
          -32
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.audio_url }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "id": "985c8c2a-3cfd-4715-9398-ce5ff756b1c2",
        "name": "Download Audio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -368,
          -128
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/audio/transcriptions",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "file",
                "inputDataFieldName": "data"
              },
              {
                "name": "model",
                "value": "whisper-1"
              },
              {
                "name": "language",
                "value": "ru"
              }
            ]
          },
          "options": {}
        },
        "id": "c90c25fa-74ba-4ecf-a521-cb4c255f3486",
        "name": "Whisper",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -176,
          -128
        ],
        "credentials": {
          "openAiApi": {
            "id": "ptoy1RvCOn39G0Af",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Add transcription to message\nconst prepare = $('Prepare').item.json;\nconst transcription = $input.item.json.text || '';\n\nlet text = prepare.text || '';\nif (transcription) {\n  text = text ? `${text}\\n[Voice]: ${transcription}` : transcription;\n}\n\nreturn {\n  json: {\n    ...prepare,\n    text: text,\n    transcription: transcription\n  }\n};"
        },
        "id": "d3f22310-b258-4bb2-880c-04dfbb4a9810",
        "name": "Add Transcription",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          32,
          -128
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "needs_media",
                "leftValue": "={{ $json.needs_media_download }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "21898851-3b9c-4002-adc4-7e51f535c2ae",
        "name": "Needs Media Download?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          240,
          -32
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://155.212.221.189:8800/api/proxy/fetch",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"tenant_id\": \"{{ $json.tenant_id || 'default' }}\",\n  \"url\": \"{{ $json.media_url }}\",\n  \"method\": \"GET\",\n  \"timeout\": 60,\n  \"server_id\": \"{{ $json.server_id }}\"\n}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            },
            "timeout": 90000
          }
        },
        "id": "527e1c2d-9ce1-43b0-926d-fb22aed16175",
        "name": "Proxy Fetch Media",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          432,
          -128
        ]
      },
      {
        "parameters": {
          "operation": "write",
          "fileName": "={{ '/tmp/media_' + $('Prepare').item.json.id + '.' + ($('Prepare').item.json.media_type || 'bin').split('/').pop() }}",
          "options": {}
        },
        "id": "d281c13f-8d00-46e9-b616-77b862851f00",
        "name": "Save Media",
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          640,
          -128
        ]
      },
      {
        "parameters": {
          "jsCode": "// Add local media path\nconst prev = $('Check Media Download?').item.json;\nconst savedFile = $input.item.json;\n\nreturn {\n  json: {\n    ...prev,\n    media_local_path: savedFile.fileName,\n    media_downloaded: true\n  }\n};"
        },
        "id": "c2e5cb43-897a-4de1-bea9-e945e10bfd6e",
        "name": "Add Media Path",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          832,
          -128
        ]
      },
      {
        "parameters": {
          "jsCode": "// Pass through without changes\nreturn $input.item;"
        },
        "id": "8163d80d-1771-4fb7-9782-dafa05ace2b3",
        "name": "No Audio",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          32,
          80
        ]
      },
      {
        "parameters": {
          "jsCode": "// Pass through without media download\nreturn $input.item;"
        },
        "id": "bd213a35-7c0c-4148-80fa-8c22a6bcb821",
        "name": "No Media",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          832,
          80
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "options": {}
        },
        "id": "f52f14ff-e41b-4a32-bb84-5171a1de1792",
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1040,
          -32
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json) }}",
          "options": {}
        },
        "id": "fff020c5-5525-4646-af40-7c45596d5e65",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1232,
          -32
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Prepare",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare": {
        "main": [
          [
            {
              "node": "Needs Transcription?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Needs Transcription?": {
        "main": [
          [
            {
              "node": "Download Audio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Audio": {
        "main": [
          [
            {
              "node": "Whisper",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Whisper": {
        "main": [
          [
            {
              "node": "Add Transcription",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add Transcription": {
        "main": [
          [
            {
              "node": "Needs Media Download?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No Audio": {
        "main": [
          [
            {
              "node": "Needs Media Download?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Needs Media Download?": {
        "main": [
          [
            {
              "node": "Proxy Fetch Media",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Media",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Proxy Fetch Media": {
        "main": [
          [
            {
              "node": "Save Media",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Media": {
        "main": [
          [
            {
              "node": "Add Media Path",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add Media Path": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No Media": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dmitriy Remacs",
    "name": null,
    "description": null
  }
}