NEW/workflows/Block 1 Messager/Channel Contour/ELO_In/ELO_In_Avito.json
{
  "updatedAt": "2025-12-25T12:53:17.345Z",
  "createdAt": "2025-12-09T18:51:33.735Z",
  "id": "3dZPOQ1WgYCx76Om",
  "name": "ELO_In_Avito",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "avito",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e0ec0070-382b-4df7-8532-18c1b6dd6259",
      "name": "Avito Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -976,
        144
      ],
      "webhookId": "avito-webhook"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $input.first().json;\nconst msg = webhookData.payload?.value;\n\nif (!msg) {\n  throw new Error('Invalid Avito webhook payload');\n}\n\n// AUTH CHECK - простая проверка что это от Avito\nif (!webhookData.id || !webhookData.timestamp) {\n  throw new Error('Invalid webhook format');\n}\n\n// SYSTEM FILTER - пропускаем системные сообщения\nconst isSystem = (\n  msg.author_id === msg.user_id ||\n  msg.author_id === 0 ||\n  !msg.author_id\n);\n\nif (isSystem) {\n  return { skip: true, reason: 'system_message' };\n}\n\nconst messageText = msg.content?.text || '';\nconst authorName = msg.author?.name || null;\n\n// Проверяем типы медиа\nconst hasPhoto = msg.type === 'image';\nconst hasVoice = msg.type === 'voice';\nconst hasVideo = msg.type === 'video';\nconst hasDocument = msg.type === 'file';\n\nconst urls = [];\nlet photoUrl = null;\nlet voiceUrl = null;\nlet videoUrl = null;\n\nif (msg.content?.url) {\n  urls.push(msg.content.url);\n  if (hasPhoto) photoUrl = msg.content.url;\n  if (hasVoice) voiceUrl = msg.content.url;\n  if (hasVideo) videoUrl = msg.content.url;\n}\n\nreturn {\n  skip: false,\n  has_voice: hasVoice,\n  voice_url: voiceUrl,\n  raw_message: msg,\n  user_id: msg.user_id,\n  author_id: msg.author_id,\n  author_name: authorName,\n  chat_id: msg.chat_id,\n  message_id: msg.id,\n  message_text: messageText,\n  message_type: msg.type,\n  created: msg.created,\n  item_id: msg.item_id,\n  has_photo: hasPhoto,\n  photo_url: photoUrl,\n  has_video: hasVideo,\n  video_url: videoUrl,\n  has_document: hasDocument,\n  urls: urls\n};"
      },
      "id": "da471566-755e-4fa1-8412-30ed5a0c7823",
      "name": "Parse Auth Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}",
              "value2": true
            }
          ]
        }
      },
      "id": "b011e421-d294-4788-b096-19a35fcc9daf",
      "name": "Should Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -544,
        144
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"skipped\": true } }}",
        "options": {}
      },
      "id": "00a6605d-1ca4-4ddc-942e-d1340286087d",
      "name": "Respond Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -320,
        32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_voice }}",
              "value2": true
            }
          ]
        }
      },
      "id": "e76616f6-8b9d-4eca-bf91-ac5637c39e08",
      "name": "Has Voice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -320,
        240
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.voice_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "47807b4e-f13d-40a3-990c-8dd54c3de3fd",
      "name": "Download Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -96,
        144
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        128,
        144
      ],
      "id": "a62e8359-e11e-49e4-bc0b-9cd7859a0ce0",
      "name": "Transcribe Voice",
      "credentials": {
        "openAiApi": {
          "id": "ptoy1RvCOn39G0Af",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse Auth Filter').first().json;\nconst transcription = $input.first().json.text;\n\nlet messageText = data.message_text;\nif (transcription) {\n  messageText = (messageText ? messageText + '\\n\\n' : '') + transcription;\n}\n\nreturn {\n  channel: 'avito',\n  external_user_id: data.author_id.toString(),\n  external_chat_id: data.chat_id,\n  \n  text: messageText,\n  timestamp: new Date(data.created * 1000).toISOString(),\n  \n  client_phone: null,\n  client_name: data.author_name,\n  client_email: null,\n  \n  media: {\n    has_voice: true,\n    voice_transcribed_text: transcription,\n    has_images: data.has_photo,\n    images: data.has_photo ? [{ url: data.photo_url }] : [],\n    has_video: data.has_video,\n    videos: data.has_video ? [{ url: data.video_url }] : [],\n    has_document: data.has_document\n  },\n  \n  meta: {\n    external_message_id: data.message_id,\n    ad_channel: 'avito',\n    ad_id: data.item_id?.toString(),\n    original_media_type: 'voice',\n    raw: data.raw_message,\n    chat_type: data.raw_message.chat_type,\n    user_id: data.user_id\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
      },
      "id": "621dd7a2-af2f-485f-8b94-762aee8d3a09",
      "name": "Normalize with Voice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn {\n  channel: 'avito',\n  external_user_id: data.author_id.toString(),\n  external_chat_id: data.chat_id,\n  \n  text: data.message_text,\n  timestamp: new Date(data.created * 1000).toISOString(),\n  \n  client_phone: null,\n  client_name: data.author_name,\n  client_email: null,\n  \n  media: {\n    has_voice: false,\n    voice_transcribed_text: null,\n    has_images: data.has_photo,\n    images: data.has_photo ? [{ url: data.photo_url }] : [],\n    has_video: data.has_video,\n    videos: data.has_video ? [{ url: data.video_url }] : [],\n    has_document: data.has_document\n  },\n  \n  meta: {\n    external_message_id: data.message_id,\n    ad_channel: 'avito',\n    ad_id: data.item_id?.toString(),\n    original_media_type: data.has_photo ? 'photo' : data.has_video ? 'video' : 'text',\n    raw: data.raw_message,\n    chat_type: data.raw_message.chat_type,\n    user_id: data.user_id\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
      },
      "id": "c7368479-4227-4ff0-947f-29eb37ddee84",
      "name": "Normalize without Voice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "// Подготавливаем сообщение для Redis очереди\nconst data = $input.first().json;\n\n// Сериализуем в JSON для Redis\nreturn {\n  message_json: JSON.stringify(data),\n  batch_key: `${data.channel}:${data.external_chat_id}`\n};"
      },
      "id": "e53d3b0e-62f1-4114-a75d-6957985cfca8",
      "name": "Prepare for Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        240
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "queue:incoming",
        "messageData": "={{ $json.message_json }}",
        "tail": true
      },
      "id": "10c99842-1427-48e4-ad16-bf3728ac15dc",
      "name": "Push to Queue",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1008,
        240
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"queued\": true, \"batch_key\": $('Prepare for Queue').item.json.batch_key } }}",
        "options": {}
      },
      "id": "af7ecc2a-dbae-4c67-b656-5894460077bf",
      "name": "Respond Queued",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1232,
        240
      ]
    }
  ],
  "connections": {
    "Avito Trigger": {
      "main": [
        [
          {
            "node": "Parse Auth Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Auth Filter": {
      "main": [
        [
          {
            "node": "Should Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Skip?": {
      "main": [
        [
          {
            "node": "Respond Skipped",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Voice?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Voice?": {
      "main": [
        [
          {
            "node": "Download Voice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize without Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice": {
      "main": [
        [
          {
            "node": "Transcribe Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voice": {
      "main": [
        [
          {
            "node": "Normalize with Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize with Voice": {
      "main": [
        [
          {
            "node": "Prepare for Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize without Voice": {
      "main": [
        [
          {
            "node": "Prepare for Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Queue": {
      "main": [
        [
          {
            "node": "Push to Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to Queue": {
      "main": [
        [
          {
            "node": "Respond Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b47aedc9-cb0f-46e1-baa5-8b5cc76fb0ba",
  "activeVersionId": "b47aedc9-cb0f-46e1-baa5-8b5cc76fb0ba",
  "versionCounter": 17,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-09T18:51:33.740Z",
      "createdAt": "2025-12-09T18:51:33.740Z",
      "role": "workflow:owner",
      "workflowId": "3dZPOQ1WgYCx76Om",
      "projectId": "x7frUSUEowDAk8Dt",
      "project": {
        "updatedAt": "2025-08-25T18:57:22.218Z",
        "createdAt": "2025-08-25T08:16:18.805Z",
        "id": "x7frUSUEowDAk8Dt",
        "name": "Dmitriy Remacs <dk@n8nsrv.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-25T08:16:18.805Z",
            "createdAt": "2025-08-25T08:16:18.805Z",
            "userId": "1d5222a1-8f53-4940-b7de-93daeae04393",
            "projectId": "x7frUSUEowDAk8Dt",
            "user": {
              "updatedAt": "2025-12-31T08:56:11.000Z",
              "createdAt": "2025-08-25T08:16:17.784Z",
              "id": "1d5222a1-8f53-4940-b7de-93daeae04393",
              "email": "dk@n8nsrv.ru",
              "firstName": "Dmitriy",
              "lastName": "Remacs",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RbSUhceYc7q41M5j",
                "userActivatedAt": 1756286438389
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-23T04:03:40.721Z",
      "createdAt": "2025-11-23T04:03:40.721Z",
      "id": "nLdF41tEx70V7m3A",
      "name": "In"
    },
    {
      "updatedAt": "2025-12-09T18:50:08.518Z",
      "createdAt": "2025-12-09T18:50:08.518Z",
      "id": "tMSCjbvPU3xrNUqz",
      "name": "ELO"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-25T12:53:17.348Z",
    "createdAt": "2025-12-25T12:53:17.348Z",
    "versionId": "b47aedc9-cb0f-46e1-baa5-8b5cc76fb0ba",
    "workflowId": "3dZPOQ1WgYCx76Om",
    "nodes": [
      {
        "parameters": {
          "path": "avito",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "e0ec0070-382b-4df7-8532-18c1b6dd6259",
        "name": "Avito Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          -976,
          144
        ],
        "webhookId": "avito-webhook"
      },
      {
        "parameters": {
          "jsCode": "const webhookData = $input.first().json;\nconst msg = webhookData.payload?.value;\n\nif (!msg) {\n  throw new Error('Invalid Avito webhook payload');\n}\n\n// AUTH CHECK - простая проверка что это от Avito\nif (!webhookData.id || !webhookData.timestamp) {\n  throw new Error('Invalid webhook format');\n}\n\n// SYSTEM FILTER - пропускаем системные сообщения\nconst isSystem = (\n  msg.author_id === msg.user_id ||\n  msg.author_id === 0 ||\n  !msg.author_id\n);\n\nif (isSystem) {\n  return { skip: true, reason: 'system_message' };\n}\n\nconst messageText = msg.content?.text || '';\nconst authorName = msg.author?.name || null;\n\n// Проверяем типы медиа\nconst hasPhoto = msg.type === 'image';\nconst hasVoice = msg.type === 'voice';\nconst hasVideo = msg.type === 'video';\nconst hasDocument = msg.type === 'file';\n\nconst urls = [];\nlet photoUrl = null;\nlet voiceUrl = null;\nlet videoUrl = null;\n\nif (msg.content?.url) {\n  urls.push(msg.content.url);\n  if (hasPhoto) photoUrl = msg.content.url;\n  if (hasVoice) voiceUrl = msg.content.url;\n  if (hasVideo) videoUrl = msg.content.url;\n}\n\nreturn {\n  skip: false,\n  has_voice: hasVoice,\n  voice_url: voiceUrl,\n  raw_message: msg,\n  user_id: msg.user_id,\n  author_id: msg.author_id,\n  author_name: authorName,\n  chat_id: msg.chat_id,\n  message_id: msg.id,\n  message_text: messageText,\n  message_type: msg.type,\n  created: msg.created,\n  item_id: msg.item_id,\n  has_photo: hasPhoto,\n  photo_url: photoUrl,\n  has_video: hasVideo,\n  video_url: videoUrl,\n  has_document: hasDocument,\n  urls: urls\n};"
        },
        "id": "da471566-755e-4fa1-8412-30ed5a0c7823",
        "name": "Parse Auth Filter",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -768,
          144
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.skip }}",
                "value2": true
              }
            ]
          }
        },
        "id": "b011e421-d294-4788-b096-19a35fcc9daf",
        "name": "Should Skip?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -544,
          144
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { \"ok\": true, \"skipped\": true } }}",
          "options": {}
        },
        "id": "00a6605d-1ca4-4ddc-942e-d1340286087d",
        "name": "Respond Skipped",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          -320,
          32
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.has_voice }}",
                "value2": true
              }
            ]
          }
        },
        "id": "e76616f6-8b9d-4eca-bf91-ac5637c39e08",
        "name": "Has Voice?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -320,
          240
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.voice_url }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "id": "47807b4e-f13d-40a3-990c-8dd54c3de3fd",
        "name": "Download Voice",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -96,
          144
        ]
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          128,
          144
        ],
        "id": "a62e8359-e11e-49e4-bc0b-9cd7859a0ce0",
        "name": "Transcribe Voice",
        "credentials": {
          "openAiApi": {
            "id": "ptoy1RvCOn39G0Af",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const data = $('Parse Auth Filter').first().json;\nconst transcription = $input.first().json.text;\n\nlet messageText = data.message_text;\nif (transcription) {\n  messageText = (messageText ? messageText + '\\n\\n' : '') + transcription;\n}\n\nreturn {\n  channel: 'avito',\n  external_user_id: data.author_id.toString(),\n  external_chat_id: data.chat_id,\n  \n  text: messageText,\n  timestamp: new Date(data.created * 1000).toISOString(),\n  \n  client_phone: null,\n  client_name: data.author_name,\n  client_email: null,\n  \n  media: {\n    has_voice: true,\n    voice_transcribed_text: transcription,\n    has_images: data.has_photo,\n    images: data.has_photo ? [{ url: data.photo_url }] : [],\n    has_video: data.has_video,\n    videos: data.has_video ? [{ url: data.video_url }] : [],\n    has_document: data.has_document\n  },\n  \n  meta: {\n    external_message_id: data.message_id,\n    ad_channel: 'avito',\n    ad_id: data.item_id?.toString(),\n    original_media_type: 'voice',\n    raw: data.raw_message,\n    chat_type: data.raw_message.chat_type,\n    user_id: data.user_id\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
        },
        "id": "621dd7a2-af2f-485f-8b94-762aee8d3a09",
        "name": "Normalize with Voice",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          352,
          144
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $input.first().json;\n\nreturn {\n  channel: 'avito',\n  external_user_id: data.author_id.toString(),\n  external_chat_id: data.chat_id,\n  \n  text: data.message_text,\n  timestamp: new Date(data.created * 1000).toISOString(),\n  \n  client_phone: null,\n  client_name: data.author_name,\n  client_email: null,\n  \n  media: {\n    has_voice: false,\n    voice_transcribed_text: null,\n    has_images: data.has_photo,\n    images: data.has_photo ? [{ url: data.photo_url }] : [],\n    has_video: data.has_video,\n    videos: data.has_video ? [{ url: data.video_url }] : [],\n    has_document: data.has_document\n  },\n  \n  meta: {\n    external_message_id: data.message_id,\n    ad_channel: 'avito',\n    ad_id: data.item_id?.toString(),\n    original_media_type: data.has_photo ? 'photo' : data.has_video ? 'video' : 'text',\n    raw: data.raw_message,\n    chat_type: data.raw_message.chat_type,\n    user_id: data.user_id\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
        },
        "id": "c7368479-4227-4ff0-947f-29eb37ddee84",
        "name": "Normalize without Voice",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -96,
          336
        ]
      },
      {
        "parameters": {
          "jsCode": "// Подготавливаем сообщение для Redis очереди\nconst data = $input.first().json;\n\n// Сериализуем в JSON для Redis\nreturn {\n  message_json: JSON.stringify(data),\n  batch_key: `${data.channel}:${data.external_chat_id}`\n};"
        },
        "id": "e53d3b0e-62f1-4114-a75d-6957985cfca8",
        "name": "Prepare for Queue",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          784,
          240
        ]
      },
      {
        "parameters": {
          "operation": "push",
          "list": "queue:incoming",
          "messageData": "={{ $json.message_json }}",
          "tail": true
        },
        "id": "10c99842-1427-48e4-ad16-bf3728ac15dc",
        "name": "Push to Queue",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          1008,
          240
        ],
        "credentials": {
          "redis": {
            "id": "7FQcEivUY94atW24",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { \"ok\": true, \"queued\": true, \"batch_key\": $('Prepare for Queue').item.json.batch_key } }}",
          "options": {}
        },
        "id": "af7ecc2a-dbae-4c67-b656-5894460077bf",
        "name": "Respond Queued",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1232,
          240
        ]
      }
    ],
    "connections": {
      "Avito Trigger": {
        "main": [
          [
            {
              "node": "Parse Auth Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Auth Filter": {
        "main": [
          [
            {
              "node": "Should Skip?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Should Skip?": {
        "main": [
          [
            {
              "node": "Respond Skipped",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Has Voice?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Voice?": {
        "main": [
          [
            {
              "node": "Download Voice",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Normalize without Voice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Voice": {
        "main": [
          [
            {
              "node": "Transcribe Voice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribe Voice": {
        "main": [
          [
            {
              "node": "Normalize with Voice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize with Voice": {
        "main": [
          [
            {
              "node": "Prepare for Queue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize without Voice": {
        "main": [
          [
            {
              "node": "Prepare for Queue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare for Queue": {
        "main": [
          [
            {
              "node": "Push to Queue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Push to Queue": {
        "main": [
          [
            {
              "node": "Respond Queued",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dmitriy Remacs",
    "name": null,
    "description": null
  }
}