NEW/workflows/Block 1 Messager/Channel Contour/ELO_In/ELO_In_MAX.json
{
  "updatedAt": "2025-12-29T08:52:44.586Z",
  "createdAt": "2025-12-10T09:59:31.067Z",
  "id": "X3hqn2RJfBPrN9ld",
  "name": "ELO_In_MAX",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "max",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "868cc90e-3100-4184-9249-e9f670bca112",
      "name": "MAX Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -944,
        -48
      ],
      "webhookId": "max-webhook"
    },
    {
      "parameters": {
        "jsCode": "const event = $input.first().json;\n\n// MAX.ru webhook structure\nconst msg = event.message || event;\nconst sender = msg.from || msg.sender;\n\n// Извлекаем текст сообщения\nconst messageText = msg.text || msg.body || '';\n\n// Определяем типы медиа\nconst hasPhoto = msg.type === 'image' || !!msg.image;\nconst hasVoice = msg.type === 'voice' || msg.type === 'audio' || !!msg.voice || !!msg.audio;\nconst hasVideo = msg.type === 'video' || !!msg.video;\nconst hasDocument = msg.type === 'document' || !!msg.document;\n\n// Извлекаем URL медиа\nconst urls = [];\nlet photoUrl = null;\nlet voiceUrl = null;\nlet videoUrl = null;\n\nif (msg.image?.url) {\n  photoUrl = msg.image.url;\n  urls.push(photoUrl);\n}\n\nif (msg.voice?.url || msg.audio?.url) {\n  voiceUrl = msg.voice?.url || msg.audio?.url;\n  urls.push(voiceUrl);\n}\n\nif (msg.video?.url) {\n  videoUrl = msg.video.url;\n  urls.push(videoUrl);\n}\n\nif (msg.document?.url) {\n  urls.push(msg.document.url);\n}\n\n// Извлекаем данные отправителя\nconst senderId = sender?.id || sender?.phone || msg.chat_id;\nconst senderName = sender?.name || sender?.display_name || null;\nconst senderPhone = sender?.phone || null;\n\n// Нормализуем телефон если есть\nlet cleanPhone = null;\nif (senderPhone) {\n  cleanPhone = senderPhone.replace(/\\D/g, '');\n  if (cleanPhone.length === 11 && cleanPhone.startsWith('8')) {\n    cleanPhone = '7' + cleanPhone.substring(1);\n  }\n  if (cleanPhone) {\n    cleanPhone = '+' + cleanPhone;\n  }\n}\n\nreturn {\n  has_voice: hasVoice,\n  voice_url: voiceUrl,\n  raw_event: event,\n  sender_id: senderId,\n  sender_name: senderName,\n  sender_phone: cleanPhone,\n  chat_id: msg.chat_id || senderId?.toString(),\n  message_id: msg.id || msg.message_id || Date.now().toString(),\n  message_text: messageText,\n  message_type: msg.type,\n  timestamp: msg.timestamp ? new Date(msg.timestamp * 1000).toISOString() : new Date().toISOString(),\n  has_photo: hasPhoto,\n  photo_url: photoUrl,\n  has_video: hasVideo,\n  video_url: videoUrl,\n  has_document: hasDocument,\n  urls: urls\n};"
      },
      "id": "d4162144-7cf4-43e9-8790-bf845607b8b5",
      "name": "Extract MAX Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        -48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_voice }}",
              "value2": true
            }
          ]
        }
      },
      "id": "f9f1f936-7fb5-42fa-bf63-c7af153ec71e",
      "name": "Has Voice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -512,
        -48
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.voice_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "f2210a58-2deb-457b-ba7c-ad1e480026dc",
      "name": "Download Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -288,
        -160
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -64,
        -160
      ],
      "id": "34f14e76-e95b-4955-8bd9-5b3540bbe00c",
      "name": "Transcribe Voice",
      "credentials": {
        "openAiApi": {
          "id": "ptoy1RvCOn39G0Af",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Extract MAX Data').first().json;\nconst transcription = $input.first().json.text;\n\nlet messageText = data.message_text;\nif (transcription) {\n  messageText = (messageText ? messageText + '\\n\\n' : '') + transcription;\n}\n\nreturn {\n  channel: 'max',\n  external_user_id: data.sender_id?.toString(),\n  external_chat_id: data.chat_id,\n  \n  text: messageText,\n  timestamp: data.timestamp,\n  \n  client_phone: data.sender_phone,\n  client_name: data.sender_name,\n  client_email: null,\n  \n  media: {\n    has_voice: true,\n    voice_transcribed_text: transcription,\n    has_images: data.has_photo,\n    images: data.has_photo ? [{ url: data.photo_url }] : [],\n    has_video: data.has_video,\n    videos: data.has_video ? [{ url: data.video_url }] : [],\n    has_document: data.has_document\n  },\n  \n  meta: {\n    external_message_id: data.message_id,\n    ad_channel: 'max',\n    ad_id: null,\n    original_media_type: 'voice',\n    raw: data.raw_event\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
      },
      "id": "dadb7e80-225b-408d-a683-d7a1a6ad8c47",
      "name": "Normalize with Voice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn {\n  channel: 'max',\n  external_user_id: data.sender_id?.toString(),\n  external_chat_id: data.chat_id,\n  \n  text: data.message_text,\n  timestamp: data.timestamp,\n  \n  client_phone: data.sender_phone,\n  client_name: data.sender_name,\n  client_email: null,\n  \n  media: {\n    has_voice: false,\n    voice_transcribed_text: null,\n    has_images: data.has_photo,\n    images: data.has_photo ? [{ url: data.photo_url }] : [],\n    has_video: data.has_video,\n    videos: data.has_video ? [{ url: data.video_url }] : [],\n    has_document: data.has_document\n  },\n  \n  meta: {\n    external_message_id: data.message_id,\n    ad_channel: 'max',\n    ad_id: null,\n    original_media_type: data.has_photo ? 'photo' : data.has_video ? 'video' : 'text',\n    raw: data.raw_event\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
      },
      "id": "cb4ec01a-5ec9-433b-b6da-bcdb1498dde9",
      "name": "Normalize without Voice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "// Подготавливаем сообщение для Redis очереди\nconst data = $input.first().json;\n\nreturn {\n  message_json: JSON.stringify(data),\n  batch_key: `${data.channel}:${data.external_chat_id}`\n};"
      },
      "id": "d7490c19-9886-4e25-8169-b727082cd31f",
      "name": "Prepare for Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -48
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "queue:incoming",
        "messageData": "={{ $json.message_json }}",
        "tail": true
      },
      "id": "fc89e307-4af0-4c06-8887-a5e6e52978e5",
      "name": "Push to Queue",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        816,
        -48
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"queued\": true, \"batch_key\": $('Prepare for Queue').item.json.batch_key } }}",
        "options": {}
      },
      "id": "436810b1-8778-490f-928f-3a13935ed3b6",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1040,
        -48
      ]
    }
  ],
  "connections": {
    "MAX Trigger": {
      "main": [
        [
          {
            "node": "Extract MAX Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract MAX Data": {
      "main": [
        [
          {
            "node": "Has Voice?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Voice?": {
      "main": [
        [
          {
            "node": "Download Voice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize without Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice": {
      "main": [
        [
          {
            "node": "Transcribe Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voice": {
      "main": [
        [
          {
            "node": "Normalize with Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize with Voice": {
      "main": [
        [
          {
            "node": "Prepare for Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize without Voice": {
      "main": [
        [
          {
            "node": "Prepare for Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Queue": {
      "main": [
        [
          {
            "node": "Push to Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to Queue": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "d9c4a8cb-46ef-4481-bf28-32c9a2f9bbf4",
  "activeVersionId": "d9c4a8cb-46ef-4481-bf28-32c9a2f9bbf4",
  "versionCounter": 13,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-10T09:59:31.077Z",
      "createdAt": "2025-12-10T09:59:31.077Z",
      "role": "workflow:owner",
      "workflowId": "X3hqn2RJfBPrN9ld",
      "projectId": "x7frUSUEowDAk8Dt",
      "project": {
        "updatedAt": "2025-08-25T18:57:22.218Z",
        "createdAt": "2025-08-25T08:16:18.805Z",
        "id": "x7frUSUEowDAk8Dt",
        "name": "Dmitriy Remacs <dk@n8nsrv.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-25T08:16:18.805Z",
            "createdAt": "2025-08-25T08:16:18.805Z",
            "userId": "1d5222a1-8f53-4940-b7de-93daeae04393",
            "projectId": "x7frUSUEowDAk8Dt",
            "user": {
              "updatedAt": "2025-12-31T08:56:11.000Z",
              "createdAt": "2025-08-25T08:16:17.784Z",
              "id": "1d5222a1-8f53-4940-b7de-93daeae04393",
              "email": "dk@n8nsrv.ru",
              "firstName": "Dmitriy",
              "lastName": "Remacs",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RbSUhceYc7q41M5j",
                "userActivatedAt": 1756286438389
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-23T04:03:40.721Z",
      "createdAt": "2025-11-23T04:03:40.721Z",
      "id": "nLdF41tEx70V7m3A",
      "name": "In"
    },
    {
      "updatedAt": "2025-12-09T18:50:08.518Z",
      "createdAt": "2025-12-09T18:50:08.518Z",
      "id": "tMSCjbvPU3xrNUqz",
      "name": "ELO"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-10T10:03:03.185Z",
    "createdAt": "2025-12-10T10:03:03.185Z",
    "versionId": "d9c4a8cb-46ef-4481-bf28-32c9a2f9bbf4",
    "workflowId": "X3hqn2RJfBPrN9ld",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "max",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "868cc90e-3100-4184-9249-e9f670bca112",
        "name": "MAX Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          -944,
          -48
        ],
        "webhookId": "max-webhook"
      },
      {
        "parameters": {
          "jsCode": "const event = $input.first().json;\n\n// MAX.ru webhook structure\nconst msg = event.message || event;\nconst sender = msg.from || msg.sender;\n\n// Извлекаем текст сообщения\nconst messageText = msg.text || msg.body || '';\n\n// Определяем типы медиа\nconst hasPhoto = msg.type === 'image' || !!msg.image;\nconst hasVoice = msg.type === 'voice' || msg.type === 'audio' || !!msg.voice || !!msg.audio;\nconst hasVideo = msg.type === 'video' || !!msg.video;\nconst hasDocument = msg.type === 'document' || !!msg.document;\n\n// Извлекаем URL медиа\nconst urls = [];\nlet photoUrl = null;\nlet voiceUrl = null;\nlet videoUrl = null;\n\nif (msg.image?.url) {\n  photoUrl = msg.image.url;\n  urls.push(photoUrl);\n}\n\nif (msg.voice?.url || msg.audio?.url) {\n  voiceUrl = msg.voice?.url || msg.audio?.url;\n  urls.push(voiceUrl);\n}\n\nif (msg.video?.url) {\n  videoUrl = msg.video.url;\n  urls.push(videoUrl);\n}\n\nif (msg.document?.url) {\n  urls.push(msg.document.url);\n}\n\n// Извлекаем данные отправителя\nconst senderId = sender?.id || sender?.phone || msg.chat_id;\nconst senderName = sender?.name || sender?.display_name || null;\nconst senderPhone = sender?.phone || null;\n\n// Нормализуем телефон если есть\nlet cleanPhone = null;\nif (senderPhone) {\n  cleanPhone = senderPhone.replace(/\\D/g, '');\n  if (cleanPhone.length === 11 && cleanPhone.startsWith('8')) {\n    cleanPhone = '7' + cleanPhone.substring(1);\n  }\n  if (cleanPhone) {\n    cleanPhone = '+' + cleanPhone;\n  }\n}\n\nreturn {\n  has_voice: hasVoice,\n  voice_url: voiceUrl,\n  raw_event: event,\n  sender_id: senderId,\n  sender_name: senderName,\n  sender_phone: cleanPhone,\n  chat_id: msg.chat_id || senderId?.toString(),\n  message_id: msg.id || msg.message_id || Date.now().toString(),\n  message_text: messageText,\n  message_type: msg.type,\n  timestamp: msg.timestamp ? new Date(msg.timestamp * 1000).toISOString() : new Date().toISOString(),\n  has_photo: hasPhoto,\n  photo_url: photoUrl,\n  has_video: hasVideo,\n  video_url: videoUrl,\n  has_document: hasDocument,\n  urls: urls\n};"
        },
        "id": "d4162144-7cf4-43e9-8790-bf845607b8b5",
        "name": "Extract MAX Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -736,
          -48
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.has_voice }}",
                "value2": true
              }
            ]
          }
        },
        "id": "f9f1f936-7fb5-42fa-bf63-c7af153ec71e",
        "name": "Has Voice?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -512,
          -48
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.voice_url }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "id": "f2210a58-2deb-457b-ba7c-ad1e480026dc",
        "name": "Download Voice",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -288,
          -160
        ]
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          -64,
          -160
        ],
        "id": "34f14e76-e95b-4955-8bd9-5b3540bbe00c",
        "name": "Transcribe Voice",
        "credentials": {
          "openAiApi": {
            "id": "ptoy1RvCOn39G0Af",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const data = $('Extract MAX Data').first().json;\nconst transcription = $input.first().json.text;\n\nlet messageText = data.message_text;\nif (transcription) {\n  messageText = (messageText ? messageText + '\\n\\n' : '') + transcription;\n}\n\nreturn {\n  channel: 'max',\n  external_user_id: data.sender_id?.toString(),\n  external_chat_id: data.chat_id,\n  \n  text: messageText,\n  timestamp: data.timestamp,\n  \n  client_phone: data.sender_phone,\n  client_name: data.sender_name,\n  client_email: null,\n  \n  media: {\n    has_voice: true,\n    voice_transcribed_text: transcription,\n    has_images: data.has_photo,\n    images: data.has_photo ? [{ url: data.photo_url }] : [],\n    has_video: data.has_video,\n    videos: data.has_video ? [{ url: data.video_url }] : [],\n    has_document: data.has_document\n  },\n  \n  meta: {\n    external_message_id: data.message_id,\n    ad_channel: 'max',\n    ad_id: null,\n    original_media_type: 'voice',\n    raw: data.raw_event\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
        },
        "id": "dadb7e80-225b-408d-a683-d7a1a6ad8c47",
        "name": "Normalize with Voice",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          160,
          -160
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $input.first().json;\n\nreturn {\n  channel: 'max',\n  external_user_id: data.sender_id?.toString(),\n  external_chat_id: data.chat_id,\n  \n  text: data.message_text,\n  timestamp: data.timestamp,\n  \n  client_phone: data.sender_phone,\n  client_name: data.sender_name,\n  client_email: null,\n  \n  media: {\n    has_voice: false,\n    voice_transcribed_text: null,\n    has_images: data.has_photo,\n    images: data.has_photo ? [{ url: data.photo_url }] : [],\n    has_video: data.has_video,\n    videos: data.has_video ? [{ url: data.video_url }] : [],\n    has_document: data.has_document\n  },\n  \n  meta: {\n    external_message_id: data.message_id,\n    ad_channel: 'max',\n    ad_id: null,\n    original_media_type: data.has_photo ? 'photo' : data.has_video ? 'video' : 'text',\n    raw: data.raw_event\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
        },
        "id": "cb4ec01a-5ec9-433b-b6da-bcdb1498dde9",
        "name": "Normalize without Voice",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -288,
          48
        ]
      },
      {
        "parameters": {
          "jsCode": "// Подготавливаем сообщение для Redis очереди\nconst data = $input.first().json;\n\nreturn {\n  message_json: JSON.stringify(data),\n  batch_key: `${data.channel}:${data.external_chat_id}`\n};"
        },
        "id": "d7490c19-9886-4e25-8169-b727082cd31f",
        "name": "Prepare for Queue",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          592,
          -48
        ]
      },
      {
        "parameters": {
          "operation": "push",
          "list": "queue:incoming",
          "messageData": "={{ $json.message_json }}",
          "tail": true
        },
        "id": "fc89e307-4af0-4c06-8887-a5e6e52978e5",
        "name": "Push to Queue",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          816,
          -48
        ],
        "credentials": {
          "redis": {
            "id": "7FQcEivUY94atW24",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { \"success\": true, \"queued\": true, \"batch_key\": $('Prepare for Queue').item.json.batch_key } }}",
          "options": {}
        },
        "id": "436810b1-8778-490f-928f-3a13935ed3b6",
        "name": "Respond Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1040,
          -48
        ]
      }
    ],
    "connections": {
      "MAX Trigger": {
        "main": [
          [
            {
              "node": "Extract MAX Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract MAX Data": {
        "main": [
          [
            {
              "node": "Has Voice?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Voice?": {
        "main": [
          [
            {
              "node": "Download Voice",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Normalize without Voice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Voice": {
        "main": [
          [
            {
              "node": "Transcribe Voice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribe Voice": {
        "main": [
          [
            {
              "node": "Normalize with Voice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize with Voice": {
        "main": [
          [
            {
              "node": "Prepare for Queue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize without Voice": {
        "main": [
          [
            {
              "node": "Prepare for Queue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare for Queue": {
        "main": [
          [
            {
              "node": "Push to Queue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Push to Queue": {
        "main": [
          [
            {
              "node": "Respond Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dmitriy Remacs",
    "name": null,
    "description": null
  }
}