NEW/workflows/Block 1 Messager/Channel Contour/ELO_In/ELO_In_Telegram.json
{
  "updatedAt": "2025-12-31T09:01:24.376Z",
  "createdAt": "2025-12-29T08:47:45.366Z",
  "id": "4LGno2k7V9EIZOPz",
  "name": "ELO_In_Telegram",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-in",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3e39d717-13e0-450d-8372-99762bbeea84",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -992,
        144
      ],
      "webhookId": "telegram-in-webhook"
    },
    {
      "parameters": {
        "jsCode": "// MCP Telegram присылает нормализованные данные\n  // Webhook передает данные в body\n  const rawInput = $input.first().json;\n  const event = rawInput.body || rawInput;\n\n  // Извлекаем данные из MCP формата\n  const chatId = event.chat_id?.toString() || '';\n  const userId = event.user_id?.toString() || '';\n  const messageText = event.text || '';\n  const messageId = event.message_id?.toString() || Date.now().toString();\n  const timestamp = event.timestamp || new Date().toISOString();\n  const botToken = event.bot_token || '';\n\n  // Имя пользователя\n  let clientName = event.first_name || '';\n  if (event.last_name) {\n    clientName += (clientName ? ' ' : '') + event.last_name;\n  }\n  if (!clientName && event.username) {\n    clientName = '@' + event.username;\n  }\n\n  // Проверяем медиа из attachments\n  const attachments = event.attachments || [];\n  const hasVoice = attachments.some(a => a.type === 'voice');\n  const hasPhoto = attachments.some(a => a.type === 'photo');\n  const hasVideo = attachments.some(a => a.type === 'video' || a.type === 'video_note');\n  const hasDocument = attachments.some(a => a.type === 'document');\n\n  // Получаем file_id для голосового\n  const voiceAttachment = attachments.find(a => a.type === 'voice');\n  const voiceFileId = voiceAttachment?.file_id || null;\n\n  // Получаем фото\n  const photoAttachments = attachments.filter(a => a.type === 'photo');\n  const videoAttachments = attachments.filter(a => a.type === 'video' || a.type === 'video_note');\n\n  return {\n    has_voice: hasVoice,\n    voice_file_id: voiceFileId,\n    bot_token: botToken,\n    raw_event: event.raw_data || event,\n    chat_id: chatId,\n    user_id: userId,\n    phone: null,\n    message_text: messageText,\n    message_id: messageId,\n    timestamp: timestamp,\n    sender_name: clientName,\n    username: event.username,\n    has_photo: hasPhoto,\n    photo_attachments: photoAttachments,\n    has_video: hasVideo,\n    video_attachments: videoAttachments,\n    has_document: hasDocument,\n    is_callback: event.is_callback || false,\n    callback_data: event.callback_data || null\n  };"
      },
      "id": "facdea0e-85a1-4147-bc43-14de61683ba8",
      "name": "Extract Telegram Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_voice }}",
              "value2": true
            }
          ]
        }
      },
      "id": "279c3ffb-1db4-4b09-a4ec-61f5575c3082",
      "name": "Has Voice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -560,
        144
      ]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $json.bot_token }}/getFile?file_id={{ $json.voice_file_id }}",
        "options": {}
      },
      "id": "e06845ef-02f9-4ada-85b4-d39fa136de03",
      "name": "Get Voice File Path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -336,
        32
      ]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{{ $('Extract Telegram Data').item.json.bot_token }}/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "cc1b97b9-6d91-41d3-92f1-54176ddb7add",
      "name": "Download Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -112,
        32
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        112,
        32
      ],
      "id": "d5e8642e-3349-4a13-beda-0cd69cecd66a",
      "name": "Transcribe Voice",
      "credentials": {
        "openAiApi": {
          "id": "ptoy1RvCOn39G0Af",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Extract Telegram Data').first().json;\nconst transcription = $input.first().json.text;\n\nlet messageText = data.message_text;\nif (transcription) {\n  messageText = (messageText ? messageText + '\\n\\n' : '') + transcription;\n}\n\nreturn {\n  channel: 'telegram',\n  bot_token: data.bot_token,\n  external_user_id: 'tg_' + data.user_id,\n  external_chat_id: 'tg_' + data.chat_id,\n  \n  text: messageText,\n  timestamp: data.timestamp,\n  \n  client_phone: null,\n  client_name: data.sender_name,\n  client_email: null,\n  client_username: data.username,\n  \n  media: {\n    has_voice: true,\n    voice_transcribed_text: transcription,\n    has_images: data.has_photo,\n    images: data.photo_attachments.map(a => ({ file_id: a.file_id, type: 'telegram_photo' })),\n    has_video: data.has_video,\n    videos: data.video_attachments.map(a => ({ file_id: a.file_id, type: 'telegram_video' })),\n    has_document: data.has_document\n  },\n  \n  meta: {\n    external_message_id: data.message_id,\n    ad_channel: 'telegram',\n    ad_id: null,\n    original_media_type: 'voice',\n    telegram_user_id: data.user_id,\n    telegram_chat_id: data.chat_id,\n    is_callback: data.is_callback,\n    callback_data: data.callback_data,\n    raw: data.raw_event,\n    provider: 'mcp-telegram'\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
      },
      "id": "3406353a-5dd6-4e76-84bd-0eb95eeeb375",
      "name": "Normalize with Voice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn {\n  channel: 'telegram',\n  bot_token: data.bot_token,\n  external_user_id: 'tg_' + data.user_id,\n  external_chat_id: 'tg_' + data.chat_id,\n  \n  text: data.message_text,\n  timestamp: data.timestamp,\n  \n  client_phone: null,\n  client_name: data.sender_name,\n  client_email: null,\n  client_username: data.username,\n  \n  media: {\n    has_voice: false,\n    voice_transcribed_text: null,\n    has_images: data.has_photo,\n    images: data.photo_attachments.map(a => ({ file_id: a.file_id, type: 'telegram_photo' })),\n    has_video: data.has_video,\n    videos: data.video_attachments.map(a => ({ file_id: a.file_id, type: 'telegram_video' })),\n    has_document: data.has_document,\n    has_callback: data.is_callback\n  },\n  \n  meta: {\n    external_message_id: data.message_id,\n    ad_channel: 'telegram',\n    ad_id: null,\n    original_media_type: data.has_photo ? 'photo' : data.has_video ? 'video' : data.is_callback ? 'callback' : 'text',\n    telegram_user_id: data.user_id,\n    telegram_chat_id: data.chat_id,\n    is_callback: data.is_callback,\n    callback_data: data.callback_data,\n    raw: data.raw_event,\n    provider: 'mcp-telegram'\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
      },
      "id": "91b03ec6-f6d1-4222-9d54-bf3bff0a4d4e",
      "name": "Normalize without Voice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Подготавливаем сообщение для Redis очереди\nconst data = $input.first().json;\n\nreturn {\n  message_json: JSON.stringify(data),\n  batch_key: `${data.channel}:${data.external_chat_id}`\n};"
      },
      "id": "a6535eb9-c938-41a0-88d3-bfb100caa2c2",
      "name": "Prepare for Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        144
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "queue:incoming",
        "messageData": "={{ $json.message_json }}",
        "tail": true
      },
      "id": "093d8f40-7e4c-4775-9895-f65e4f894977",
      "name": "Push to Queue",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1008,
        144
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"queued\": true, \"batch_key\": $('Prepare for Queue').item.json.batch_key } }}",
        "options": {}
      },
      "id": "47f42939-1125-4b94-acf6-2e8f1ea84a5c",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1232,
        144
      ]
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [
        [
          {
            "node": "Extract Telegram Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Telegram Data": {
      "main": [
        [
          {
            "node": "Has Voice?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Voice?": {
      "main": [
        [
          {
            "node": "Get Voice File Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize without Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File Path": {
      "main": [
        [
          {
            "node": "Download Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice": {
      "main": [
        [
          {
            "node": "Transcribe Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voice": {
      "main": [
        [
          {
            "node": "Normalize with Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize with Voice": {
      "main": [
        [
          {
            "node": "Prepare for Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize without Voice": {
      "main": [
        [
          {
            "node": "Prepare for Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Queue": {
      "main": [
        [
          {
            "node": "Push to Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to Queue": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "8ab00de3-3681-48da-998b-e6dbee003742",
  "activeVersionId": "8ab00de3-3681-48da-998b-e6dbee003742",
  "versionCounter": 7,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-29T08:47:45.371Z",
      "createdAt": "2025-12-29T08:47:45.371Z",
      "role": "workflow:owner",
      "workflowId": "4LGno2k7V9EIZOPz",
      "projectId": "x7frUSUEowDAk8Dt",
      "project": {
        "updatedAt": "2025-08-25T18:57:22.218Z",
        "createdAt": "2025-08-25T08:16:18.805Z",
        "id": "x7frUSUEowDAk8Dt",
        "name": "Dmitriy Remacs <dk@n8nsrv.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-25T08:16:18.805Z",
            "createdAt": "2025-08-25T08:16:18.805Z",
            "userId": "1d5222a1-8f53-4940-b7de-93daeae04393",
            "projectId": "x7frUSUEowDAk8Dt",
            "user": {
              "updatedAt": "2025-12-31T08:56:11.000Z",
              "createdAt": "2025-08-25T08:16:17.784Z",
              "id": "1d5222a1-8f53-4940-b7de-93daeae04393",
              "email": "dk@n8nsrv.ru",
              "firstName": "Dmitriy",
              "lastName": "Remacs",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RbSUhceYc7q41M5j",
                "userActivatedAt": 1756286438389
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-23T04:03:40.721Z",
      "createdAt": "2025-11-23T04:03:40.721Z",
      "id": "nLdF41tEx70V7m3A",
      "name": "In"
    },
    {
      "updatedAt": "2025-12-09T18:50:08.518Z",
      "createdAt": "2025-12-09T18:50:08.518Z",
      "id": "tMSCjbvPU3xrNUqz",
      "name": "ELO"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-31T09:01:24.377Z",
    "createdAt": "2025-12-31T09:01:24.377Z",
    "versionId": "8ab00de3-3681-48da-998b-e6dbee003742",
    "workflowId": "4LGno2k7V9EIZOPz",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "telegram-in",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "3e39d717-13e0-450d-8372-99762bbeea84",
        "name": "Telegram Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          -992,
          144
        ],
        "webhookId": "telegram-in-webhook"
      },
      {
        "parameters": {
          "jsCode": "// MCP Telegram присылает нормализованные данные\n  // Webhook передает данные в body\n  const rawInput = $input.first().json;\n  const event = rawInput.body || rawInput;\n\n  // Извлекаем данные из MCP формата\n  const chatId = event.chat_id?.toString() || '';\n  const userId = event.user_id?.toString() || '';\n  const messageText = event.text || '';\n  const messageId = event.message_id?.toString() || Date.now().toString();\n  const timestamp = event.timestamp || new Date().toISOString();\n  const botToken = event.bot_token || '';\n\n  // Имя пользователя\n  let clientName = event.first_name || '';\n  if (event.last_name) {\n    clientName += (clientName ? ' ' : '') + event.last_name;\n  }\n  if (!clientName && event.username) {\n    clientName = '@' + event.username;\n  }\n\n  // Проверяем медиа из attachments\n  const attachments = event.attachments || [];\n  const hasVoice = attachments.some(a => a.type === 'voice');\n  const hasPhoto = attachments.some(a => a.type === 'photo');\n  const hasVideo = attachments.some(a => a.type === 'video' || a.type === 'video_note');\n  const hasDocument = attachments.some(a => a.type === 'document');\n\n  // Получаем file_id для голосового\n  const voiceAttachment = attachments.find(a => a.type === 'voice');\n  const voiceFileId = voiceAttachment?.file_id || null;\n\n  // Получаем фото\n  const photoAttachments = attachments.filter(a => a.type === 'photo');\n  const videoAttachments = attachments.filter(a => a.type === 'video' || a.type === 'video_note');\n\n  return {\n    has_voice: hasVoice,\n    voice_file_id: voiceFileId,\n    bot_token: botToken,\n    raw_event: event.raw_data || event,\n    chat_id: chatId,\n    user_id: userId,\n    phone: null,\n    message_text: messageText,\n    message_id: messageId,\n    timestamp: timestamp,\n    sender_name: clientName,\n    username: event.username,\n    has_photo: hasPhoto,\n    photo_attachments: photoAttachments,\n    has_video: hasVideo,\n    video_attachments: videoAttachments,\n    has_document: hasDocument,\n    is_callback: event.is_callback || false,\n    callback_data: event.callback_data || null\n  };"
        },
        "id": "facdea0e-85a1-4147-bc43-14de61683ba8",
        "name": "Extract Telegram Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -784,
          144
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.has_voice }}",
                "value2": true
              }
            ]
          }
        },
        "id": "279c3ffb-1db4-4b09-a4ec-61f5575c3082",
        "name": "Has Voice?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -560,
          144
        ]
      },
      {
        "parameters": {
          "url": "=https://api.telegram.org/bot{{ $json.bot_token }}/getFile?file_id={{ $json.voice_file_id }}",
          "options": {}
        },
        "id": "e06845ef-02f9-4ada-85b4-d39fa136de03",
        "name": "Get Voice File Path",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -336,
          32
        ]
      },
      {
        "parameters": {
          "url": "=https://api.telegram.org/file/bot{{ $('Extract Telegram Data').item.json.bot_token }}/{{ $json.result.file_path }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "id": "cc1b97b9-6d91-41d3-92f1-54176ddb7add",
        "name": "Download Voice",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -112,
          32
        ]
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          112,
          32
        ],
        "id": "d5e8642e-3349-4a13-beda-0cd69cecd66a",
        "name": "Transcribe Voice",
        "credentials": {
          "openAiApi": {
            "id": "ptoy1RvCOn39G0Af",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const data = $('Extract Telegram Data').first().json;\nconst transcription = $input.first().json.text;\n\nlet messageText = data.message_text;\nif (transcription) {\n  messageText = (messageText ? messageText + '\\n\\n' : '') + transcription;\n}\n\nreturn {\n  channel: 'telegram',\n  bot_token: data.bot_token,\n  external_user_id: 'tg_' + data.user_id,\n  external_chat_id: 'tg_' + data.chat_id,\n  \n  text: messageText,\n  timestamp: data.timestamp,\n  \n  client_phone: null,\n  client_name: data.sender_name,\n  client_email: null,\n  client_username: data.username,\n  \n  media: {\n    has_voice: true,\n    voice_transcribed_text: transcription,\n    has_images: data.has_photo,\n    images: data.photo_attachments.map(a => ({ file_id: a.file_id, type: 'telegram_photo' })),\n    has_video: data.has_video,\n    videos: data.video_attachments.map(a => ({ file_id: a.file_id, type: 'telegram_video' })),\n    has_document: data.has_document\n  },\n  \n  meta: {\n    external_message_id: data.message_id,\n    ad_channel: 'telegram',\n    ad_id: null,\n    original_media_type: 'voice',\n    telegram_user_id: data.user_id,\n    telegram_chat_id: data.chat_id,\n    is_callback: data.is_callback,\n    callback_data: data.callback_data,\n    raw: data.raw_event,\n    provider: 'mcp-telegram'\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
        },
        "id": "3406353a-5dd6-4e76-84bd-0eb95eeeb375",
        "name": "Normalize with Voice",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          336,
          32
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $input.first().json;\n\nreturn {\n  channel: 'telegram',\n  bot_token: data.bot_token,\n  external_user_id: 'tg_' + data.user_id,\n  external_chat_id: 'tg_' + data.chat_id,\n  \n  text: data.message_text,\n  timestamp: data.timestamp,\n  \n  client_phone: null,\n  client_name: data.sender_name,\n  client_email: null,\n  client_username: data.username,\n  \n  media: {\n    has_voice: false,\n    voice_transcribed_text: null,\n    has_images: data.has_photo,\n    images: data.photo_attachments.map(a => ({ file_id: a.file_id, type: 'telegram_photo' })),\n    has_video: data.has_video,\n    videos: data.video_attachments.map(a => ({ file_id: a.file_id, type: 'telegram_video' })),\n    has_document: data.has_document,\n    has_callback: data.is_callback\n  },\n  \n  meta: {\n    external_message_id: data.message_id,\n    ad_channel: 'telegram',\n    ad_id: null,\n    original_media_type: data.has_photo ? 'photo' : data.has_video ? 'video' : data.is_callback ? 'callback' : 'text',\n    telegram_user_id: data.user_id,\n    telegram_chat_id: data.chat_id,\n    is_callback: data.is_callback,\n    callback_data: data.callback_data,\n    raw: data.raw_event,\n    provider: 'mcp-telegram'\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
        },
        "id": "91b03ec6-f6d1-4222-9d54-bf3bff0a4d4e",
        "name": "Normalize without Voice",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -336,
          240
        ]
      },
      {
        "parameters": {
          "jsCode": "// Подготавливаем сообщение для Redis очереди\nconst data = $input.first().json;\n\nreturn {\n  message_json: JSON.stringify(data),\n  batch_key: `${data.channel}:${data.external_chat_id}`\n};"
        },
        "id": "a6535eb9-c938-41a0-88d3-bfb100caa2c2",
        "name": "Prepare for Queue",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          560,
          144
        ]
      },
      {
        "parameters": {
          "operation": "push",
          "list": "queue:incoming",
          "messageData": "={{ $json.message_json }}",
          "tail": true
        },
        "id": "093d8f40-7e4c-4775-9895-f65e4f894977",
        "name": "Push to Queue",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          1008,
          144
        ],
        "credentials": {
          "redis": {
            "id": "7FQcEivUY94atW24",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { \"success\": true, \"queued\": true, \"batch_key\": $('Prepare for Queue').item.json.batch_key } }}",
          "options": {}
        },
        "id": "47f42939-1125-4b94-acf6-2e8f1ea84a5c",
        "name": "Respond Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1232,
          144
        ]
      }
    ],
    "connections": {
      "Telegram Webhook": {
        "main": [
          [
            {
              "node": "Extract Telegram Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Telegram Data": {
        "main": [
          [
            {
              "node": "Has Voice?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Voice?": {
        "main": [
          [
            {
              "node": "Get Voice File Path",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Normalize without Voice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Voice File Path": {
        "main": [
          [
            {
              "node": "Download Voice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Voice": {
        "main": [
          [
            {
              "node": "Transcribe Voice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribe Voice": {
        "main": [
          [
            {
              "node": "Normalize with Voice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize with Voice": {
        "main": [
          [
            {
              "node": "Prepare for Queue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize without Voice": {
        "main": [
          [
            {
              "node": "Prepare for Queue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare for Queue": {
        "main": [
          [
            {
              "node": "Push to Queue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Push to Queue": {
        "main": [
          [
            {
              "node": "Respond Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dmitriy Remacs",
    "name": null,
    "description": null
  }
}