NEW/workflows/Block 1 Messager/Channel Contour/ELO_In/ELO_In_Phone.json
{
  "updatedAt": "2025-12-11T13:00:45.535Z",
  "createdAt": "2025-12-10T09:59:48.480Z",
  "id": "1TA6vErCOXG0eChF",
  "name": "ELO_In_Phone",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "phone",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d4ccfbc5-a544-4a48-a34a-5aa7e86727e0",
      "name": "Phone Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -864,
        -80
      ],
      "webhookId": "phone-webhook"
    },
    {
      "parameters": {
        "jsCode": "const call = $input.first().json;\n\n// Нормализуем номер телефона\nlet phone = call.from || call.caller_id || call.phone;\nif (phone) {\n  phone = phone.replace(/\\D/g, '');\n  if (phone.length === 11 && phone.startsWith('8')) {\n    phone = '7' + phone.substring(1);\n  }\n  phone = '+' + phone;\n}\n\nconst hasVoice = true;\nconst recordingUrl = call.recording_url || call.record_url || null;\n\nreturn {\n  has_voice: hasVoice,\n  voice_url: recordingUrl,\n  raw_call: call,\n  phone: phone,\n  call_id: call.call_id || call.id || Date.now().toString(),\n  call_duration: call.duration || 0,\n  call_status: call.status || 'completed',\n  start_time: call.start_time || call.created_at || new Date().toISOString()\n};"
      },
      "id": "43b0edb5-7a0e-4889-8821-0c928a51bc0a",
      "name": "Extract Phone Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        -80
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.voice_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "7aaaef68-15fb-445b-a5f6-567374b28ab3",
      "name": "Download Recording",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -416,
        -80
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -192,
        -80
      ],
      "id": "736ca027-6099-4312-bedb-f22e18ffc05a",
      "name": "Transcribe Recording",
      "credentials": {
        "openAiApi": {
          "id": "ptoy1RvCOn39G0Af",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Extract Phone Data').first().json;\nconst transcription = $input.first().json.text;\n\nreturn {\n  channel: 'phone',\n  external_user_id: data.phone?.replace(/\\+/g, ''),\n  external_chat_id: data.phone,\n  \n  text: transcription,\n  timestamp: data.start_time,\n  \n  client_phone: data.phone,\n  client_name: null,\n  client_email: null,\n  \n  media: {\n    has_voice: true,\n    voice_transcribed_text: transcription,\n    has_images: false,\n    images: [],\n    has_video: false,\n    videos: [],\n    has_document: false\n  },\n  \n  meta: {\n    external_message_id: data.call_id,\n    ad_channel: 'phone',\n    ad_id: null,\n    original_media_type: 'voice',\n    raw: data.raw_call,\n    call_duration: data.call_duration,\n    call_status: data.call_status,\n    recording_url: data.voice_url\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
      },
      "id": "4c5aa6df-e33d-4397-9721-a6266d573c62",
      "name": "Normalize Phone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Подготавливаем сообщение для Redis очереди\nconst data = $input.first().json;\n\nreturn {\n  message_json: JSON.stringify(data),\n  batch_key: `${data.channel}:${data.external_chat_id}`\n};"
      },
      "id": "50aeabce-e19e-43fd-a41e-d927c4540d1a",
      "name": "Prepare for Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "queue:incoming",
        "messageData": "={{ $json.message_json }}",
        "tail": true
      },
      "id": "7e8a7e18-53ed-424d-ad44-d4be5dd728d0",
      "name": "Push to Queue",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        432,
        -80
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"queued\": true, \"batch_key\": $('Prepare for Queue').item.json.batch_key } }}",
        "options": {}
      },
      "id": "3c2e9321-7fb3-49af-88f4-3779475e30ab",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        656,
        -80
      ]
    }
  ],
  "connections": {
    "Phone Trigger": {
      "main": [
        [
          {
            "node": "Extract Phone Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Phone Data": {
      "main": [
        [
          {
            "node": "Download Recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Recording": {
      "main": [
        [
          {
            "node": "Transcribe Recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Recording": {
      "main": [
        [
          {
            "node": "Normalize Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Phone": {
      "main": [
        [
          {
            "node": "Prepare for Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Queue": {
      "main": [
        [
          {
            "node": "Push to Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to Queue": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "80f4be67-b03b-4929-920d-cb597392aa97",
  "activeVersionId": null,
  "versionCounter": 8,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-10T09:59:48.485Z",
      "createdAt": "2025-12-10T09:59:48.485Z",
      "role": "workflow:owner",
      "workflowId": "1TA6vErCOXG0eChF",
      "projectId": "x7frUSUEowDAk8Dt",
      "project": {
        "updatedAt": "2025-08-25T18:57:22.218Z",
        "createdAt": "2025-08-25T08:16:18.805Z",
        "id": "x7frUSUEowDAk8Dt",
        "name": "Dmitriy Remacs <dk@n8nsrv.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-25T08:16:18.805Z",
            "createdAt": "2025-08-25T08:16:18.805Z",
            "userId": "1d5222a1-8f53-4940-b7de-93daeae04393",
            "projectId": "x7frUSUEowDAk8Dt",
            "user": {
              "updatedAt": "2025-12-31T08:56:11.000Z",
              "createdAt": "2025-08-25T08:16:17.784Z",
              "id": "1d5222a1-8f53-4940-b7de-93daeae04393",
              "email": "dk@n8nsrv.ru",
              "firstName": "Dmitriy",
              "lastName": "Remacs",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RbSUhceYc7q41M5j",
                "userActivatedAt": 1756286438389
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-23T04:03:40.721Z",
      "createdAt": "2025-11-23T04:03:40.721Z",
      "id": "nLdF41tEx70V7m3A",
      "name": "In"
    },
    {
      "updatedAt": "2025-12-09T18:50:08.518Z",
      "createdAt": "2025-12-09T18:50:08.518Z",
      "id": "tMSCjbvPU3xrNUqz",
      "name": "ELO"
    }
  ],
  "activeVersion": null
}