NEW/workflows/Block 1 Messager/Channel Contour/ELO_In/ELO_In_Form.json
{
  "updatedAt": "2025-12-11T13:00:47.007Z",
  "createdAt": "2025-12-10T09:59:17.093Z",
  "id": "s1GvbRvYjv88hCdW",
  "name": "ELO_In_Form",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "form",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5fcd2bf8-e6f7-4418-916a-21b282708ebe",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -560,
        -48
      ],
      "webhookId": "form-webhook"
    },
    {
      "parameters": {
        "jsCode": "const formData = $input.first().json;\n\n// Извлекаем данные из формы/квиза\n// Поддерживаем различные варианты названий полей\nconst phone = formData.phone || formData.telephone || formData.mobile || formData.cell || null;\nconst name = formData.name || formData.full_name || formData.client_name || formData.customer_name || null;\nconst phoneModel = formData.phone_model || formData.model || formData.device_model || formData.device || null;\nconst message = formData.message || formData.comment || formData.description || formData.text || '';\n\n// Дополнительные поля\nconst email = formData.email || null;\nconst source = formData.source || formData.utm_source || formData.form_source || 'form';\nconst formId = formData.form_id || formData.quiz_id || formData.id || null;\nconst formName = formData.form_name || formData.quiz_name || null;\n\n// Формируем текст сообщения\nlet messageText = '';\n\n// Добавляем модель телефона если указана\nif (phoneModel) {\n  messageText += `Модель: ${phoneModel}\\\\n`;\n}\n\n// Добавляем основное сообщение\nif (message) {\n  messageText += message;\n}\n\n// Если текста совсем нет\nif (!messageText.trim()) {\n  messageText = '[Заявка с формы без текста]';\n}\n\n// Очищаем и нормализуем телефон\nlet cleanPhone = null;\nif (phone) {\n  cleanPhone = phone.replace(/\\\\D/g, '');\n  \n  // Если начинается с 8, меняем на 7\n  if (cleanPhone.length === 11 && cleanPhone.startsWith('8')) {\n    cleanPhone = '7' + cleanPhone.substring(1);\n  }\n  \n  // Если начинается с 9 (без кода страны), добавляем 7\n  if (cleanPhone.length === 10 && cleanPhone.startsWith('9')) {\n    cleanPhone = '7' + cleanPhone;\n  }\n  \n  // Добавляем +\n  if (cleanPhone) {\n    cleanPhone = '+' + cleanPhone;\n  }\n}\n\nreturn {\n  channel: 'form',\n  external_user_id: cleanPhone?.replace(/\\\\+/g, '') || email || 'unknown',\n  external_chat_id: cleanPhone || email || 'unknown',\n  \n  text: messageText.trim(),\n  timestamp: new Date().toISOString(),\n  \n  client_phone: cleanPhone,\n  client_name: name,\n  client_email: email,\n  \n  media: {\n    has_voice: false,\n    voice_transcribed_text: null,\n    has_images: false,\n    images: [],\n    has_video: false,\n    videos: [],\n    has_document: false\n  },\n  \n  meta: {\n    external_message_id: formId || Date.now().toString(),\n    ad_channel: 'form',\n    ad_id: null,\n    original_media_type: 'text',\n    raw: formData,\n    form_source: source,\n    form_id: formId,\n    form_name: formName\n  },\n  \n  prefilled_data: {\n    model: phoneModel,\n    parts_owner: null\n  }\n};"
      },
      "id": "b4a90710-0fc6-4cff-bc25-99ac537be1c2",
      "name": "Normalize Form",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "// Подготавливаем сообщение для Redis очереди\nconst data = $input.first().json;\n\nreturn {\n  message_json: JSON.stringify(data),\n  batch_key: `${data.channel}:${data.external_chat_id}`\n};"
      },
      "id": "319581cd-6ef0-4909-b31b-d8f191d3167e",
      "name": "Prepare for Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -48
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "queue:incoming",
        "messageData": "={{ $json.message_json }}",
        "tail": true
      },
      "id": "37172b86-dbdd-4b31-bab3-e31fb64ebe6c",
      "name": "Push to Queue",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        96,
        -48
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"queued\": true, \"message\": \"Спасибо! Мы свяжемся с вами в ближайшее время.\", \"batch_key\": $('Prepare for Queue').item.json.batch_key } }}",
        "options": {}
      },
      "id": "e694d3fc-33e0-4a39-bc99-840b7c371509",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        336,
        -48
      ]
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Normalize Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Form": {
      "main": [
        [
          {
            "node": "Prepare for Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Queue": {
      "main": [
        [
          {
            "node": "Push to Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to Queue": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "47f1407e-8217-4624-af74-4b7acc4f8ee7",
  "activeVersionId": null,
  "versionCounter": 8,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-10T09:59:17.099Z",
      "createdAt": "2025-12-10T09:59:17.099Z",
      "role": "workflow:owner",
      "workflowId": "s1GvbRvYjv88hCdW",
      "projectId": "x7frUSUEowDAk8Dt",
      "project": {
        "updatedAt": "2025-08-25T18:57:22.218Z",
        "createdAt": "2025-08-25T08:16:18.805Z",
        "id": "x7frUSUEowDAk8Dt",
        "name": "Dmitriy Remacs <dk@n8nsrv.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-25T08:16:18.805Z",
            "createdAt": "2025-08-25T08:16:18.805Z",
            "userId": "1d5222a1-8f53-4940-b7de-93daeae04393",
            "projectId": "x7frUSUEowDAk8Dt",
            "user": {
              "updatedAt": "2025-12-31T08:56:11.000Z",
              "createdAt": "2025-08-25T08:16:17.784Z",
              "id": "1d5222a1-8f53-4940-b7de-93daeae04393",
              "email": "dk@n8nsrv.ru",
              "firstName": "Dmitriy",
              "lastName": "Remacs",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RbSUhceYc7q41M5j",
                "userActivatedAt": 1756286438389
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-23T04:03:40.721Z",
      "createdAt": "2025-11-23T04:03:40.721Z",
      "id": "nLdF41tEx70V7m3A",
      "name": "In"
    },
    {
      "updatedAt": "2025-12-09T18:50:08.518Z",
      "createdAt": "2025-12-09T18:50:08.518Z",
      "id": "tMSCjbvPU3xrNUqz",
      "name": "ELO"
    }
  ],
  "activeVersion": null
}