NEW/workflows/Block 1 Messager/Channel Contour/ELO_In/ELO_In_VK.json
{
  "updatedAt": "2025-12-16T19:37:23.790Z",
  "createdAt": "2025-12-11T17:21:36.152Z",
  "id": "ksqmLjxbsBgfkToV",
  "name": "ELO_In_VK",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vk",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "da69373c-10e5-47c8-af14-1586061409dc",
      "name": "VK Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -688,
        192
      ],
      "webhookId": "vk-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.type }}",
              "operation": "equals",
              "value2": "confirmation"
            }
          ]
        }
      },
      "id": "306ba5ce-4be2-455d-9495-4b3049d6eff1",
      "name": "Is Confirmation?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -464,
        192
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $env.VK_CONFIRMATION_STRING }}",
        "options": {}
      },
      "id": "f2522400-b755-486c-8a41-233708ca9800",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -240,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.type }}",
              "operation": "equals",
              "value2": "message_new"
            }
          ]
        }
      },
      "id": "abaa3d03-a3c8-4a0b-99ff-ae5166b2dc05",
      "name": "Is New Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -240,
        288
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "06bad1ad-1845-4b42-b941-e7f92af694b2",
      "name": "Respond OK (Other)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -16,
        384
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.object.message.attachments && $json.object.message.attachments.some(a => a.type === 'audio_message') }}",
              "value2": true
            }
          ]
        }
      },
      "id": "fd3fb4aa-add5-4e56-b657-7a5332c1faba",
      "name": "Has Voice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -16,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json.object.message;\n\n// Находим голосовое сообщение\nconst voiceAttachment = msg.attachments.find(a => a.type === 'audio_message');\nconst voiceUrl = voiceAttachment?.audio_message?.link_mp3;\n\nif (!voiceUrl) {\n  throw new Error('Voice URL not found');\n}\n\nreturn {\n  voice_url: voiceUrl,\n  original_message: msg\n};"
      },
      "id": "913b5270-22c7-434b-a3d4-fbdffbeece19",
      "name": "Extract Voice URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        80
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.voice_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "809a3dba-14c5-408f-908b-04054282ee8a",
      "name": "Download Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        432,
        80
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        640,
        80
      ],
      "id": "8126401a-eac5-4e36-8613-fa364a1c3c90",
      "name": "Transcribe Voice",
      "credentials": {
        "openAiApi": {
          "id": "ptoy1RvCOn39G0Af",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Extract Voice URL').first().json.original_message;\nconst transcription = $input.first().json.text;\n\nlet messageText = msg.text || '';\n\nconst hasPhoto = msg.attachments?.some(a => a.type === 'photo') || false;\nconst hasVoice = true;\nconst hasVideo = msg.attachments?.some(a => a.type === 'video') || false;\nconst hasDocument = msg.attachments?.some(a => a.type === 'doc') || false;\n\nconst urls = [];\nlet photoUrl = null;\n\nif (hasPhoto) {\n  const photoAttachment = msg.attachments.find(a => a.type === 'photo');\n  if (photoAttachment?.photo?.sizes) {\n    const maxSize = photoAttachment.photo.sizes.reduce((max, size) => \n      (size.width * size.height > max.width * max.height) ? size : max\n    );\n    photoUrl = maxSize.url;\n    urls.push(photoUrl);\n  }\n}\n\n// Добавляем транскрипцию\nif (transcription) {\n  messageText = (messageText ? messageText + '\\n\\n' : '') + transcription;\n}\n\nreturn {\n  channel: 'vk',\n  external_user_id: msg.from_id.toString(),\n  external_chat_id: msg.peer_id.toString(),\n  \n  text: messageText,\n  timestamp: new Date(msg.date * 1000).toISOString(),\n  \n  client_phone: null,\n  client_name: null,\n  client_email: null,\n  \n  media: {\n    has_voice: true,\n    voice_transcribed_text: transcription,\n    has_images: hasPhoto,\n    images: hasPhoto ? [{ url: photoUrl }] : [],\n    has_video: hasVideo,\n    videos: [],\n    has_document: hasDocument\n  },\n  \n  meta: {\n    external_message_id: msg.id.toString(),\n    ad_channel: 'vk',\n    ad_id: null,\n    original_media_type: 'voice',\n    raw: msg,\n    group_id: msg.group_id?.toString()\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
      },
      "id": "8eace2c9-1126-4ad0-be90-64125734f706",
      "name": "Normalize with Voice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json.object.message;\n\nlet messageText = msg.text || '';\n\nconst hasPhoto = msg.attachments?.some(a => a.type === 'photo') || false;\nconst hasVoice = false;\nconst hasVideo = msg.attachments?.some(a => a.type === 'video') || false;\nconst hasDocument = msg.attachments?.some(a => a.type === 'doc') || false;\n\nconst urls = [];\nlet photoUrl = null;\n\nif (hasPhoto) {\n  const photoAttachment = msg.attachments.find(a => a.type === 'photo');\n  if (photoAttachment?.photo?.sizes) {\n    const maxSize = photoAttachment.photo.sizes.reduce((max, size) => \n      (size.width * size.height > max.width * max.height) ? size : max\n    );\n    photoUrl = maxSize.url;\n    urls.push(photoUrl);\n  }\n}\n\nreturn {\n  channel: 'vk',\n  external_user_id: msg.from_id.toString(),\n  external_chat_id: msg.peer_id.toString(),\n  \n  text: messageText,\n  timestamp: new Date(msg.date * 1000).toISOString(),\n  \n  client_phone: null,\n  client_name: null,\n  client_email: null,\n  \n  media: {\n    has_voice: false,\n    voice_transcribed_text: null,\n    has_images: hasPhoto,\n    images: hasPhoto ? [{ url: photoUrl }] : [],\n    has_video: hasVideo,\n    videos: [],\n    has_document: hasDocument\n  },\n  \n  meta: {\n    external_message_id: msg.id.toString(),\n    ad_channel: 'vk',\n    ad_id: null,\n    original_media_type: hasPhoto ? 'photo' : 'text',\n    raw: msg\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
      },
      "id": "c57bef0b-f6e2-4a2a-bedf-f3414a5f09c9",
      "name": "Normalize without Voice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "// Подготавливаем сообщение для Redis очереди\nconst data = $input.first().json;\n\nreturn {\n  message_json: JSON.stringify(data),\n  batch_key: `${data.channel}:${data.external_chat_id}`\n};"
      },
      "id": "c138be9f-f20a-4289-b29b-7e6e758be9ad",
      "name": "Prepare for Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        192
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "queue:incoming",
        "messageData": "={{ $json.message_json }}",
        "tail": true
      },
      "id": "303a0c33-5147-4670-883a-f00f3ba0d433",
      "name": "Push to Queue",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1520,
        192
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "8cd0d59f-fc07-414f-ad3b-641735eed5d2",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1744,
        192
      ]
    }
  ],
  "connections": {
    "VK Trigger": {
      "main": [
        [
          {
            "node": "Is Confirmation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Confirmation?": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is New Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Message?": {
      "main": [
        [
          {
            "node": "Has Voice?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond OK (Other)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Voice?": {
      "main": [
        [
          {
            "node": "Extract Voice URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize without Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Voice URL": {
      "main": [
        [
          {
            "node": "Download Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice": {
      "main": [
        [
          {
            "node": "Transcribe Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voice": {
      "main": [
        [
          {
            "node": "Normalize with Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize with Voice": {
      "main": [
        [
          {
            "node": "Prepare for Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize without Voice": {
      "main": [
        [
          {
            "node": "Prepare for Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Queue": {
      "main": [
        [
          {
            "node": "Push to Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to Queue": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9a9763c2-e89a-4394-b283-ca146257782b",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-11T17:21:36.158Z",
      "createdAt": "2025-12-11T17:21:36.158Z",
      "role": "workflow:owner",
      "workflowId": "ksqmLjxbsBgfkToV",
      "projectId": "x7frUSUEowDAk8Dt",
      "project": {
        "updatedAt": "2025-08-25T18:57:22.218Z",
        "createdAt": "2025-08-25T08:16:18.805Z",
        "id": "x7frUSUEowDAk8Dt",
        "name": "Dmitriy Remacs <dk@n8nsrv.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-25T08:16:18.805Z",
            "createdAt": "2025-08-25T08:16:18.805Z",
            "userId": "1d5222a1-8f53-4940-b7de-93daeae04393",
            "projectId": "x7frUSUEowDAk8Dt",
            "user": {
              "updatedAt": "2025-12-31T08:56:11.000Z",
              "createdAt": "2025-08-25T08:16:17.784Z",
              "id": "1d5222a1-8f53-4940-b7de-93daeae04393",
              "email": "dk@n8nsrv.ru",
              "firstName": "Dmitriy",
              "lastName": "Remacs",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RbSUhceYc7q41M5j",
                "userActivatedAt": 1756286438389
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-23T04:03:40.721Z",
      "createdAt": "2025-11-23T04:03:40.721Z",
      "id": "nLdF41tEx70V7m3A",
      "name": "In"
    },
    {
      "updatedAt": "2025-12-09T18:50:08.518Z",
      "createdAt": "2025-12-09T18:50:08.518Z",
      "id": "tMSCjbvPU3xrNUqz",
      "name": "ELO"
    }
  ],
  "activeVersion": null
}