CORE_NEW/n8n_old/StCRM_OUT_Telegram_Adapter.json
{"updatedAt":"2025-10-10T10:13:42.000Z","createdAt":"2025-10-09T09:08:58.174Z","id":"NjLxzCyW6WkWIHiv","name":"StCRM OUT.Telegram (Adapter)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"out-telegram","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"cc7fbdf9-4783-4b01-942d-d87c8a07da22","name":"01-Webhook","webhookId":"650f6cf0-bb6d-4071-a6df-72c8eda646df"},{"parameters":{"chatId":"={{$json.external_chat_id}}","text":"={{$json.text}}","additionalFields":{"disable_web_page_preview":true,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[208,0],"id":"f65886ba-4906-41af-9445-d4c0f756ca62","name":"02-Send Message","webhookId":"862ab597-c3b0-4e45-a25e-46c976b3ad62","credentials":{"telegramApi":{"id":"QIs2m5gKKih3bnhF","name":"Telegram account"}}},{"parameters":{"jsCode":"const tgResponse = $json;\n\nreturn {\n  json: {\n    ok: tgResponse.ok === true,\n    external_message_id: tgResponse.result?.message_id?.toString() || null,\n    channel: 'telegram'\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"ca784d98-c5ee-4336-b1a6-e390ac533d5d","name":"03-Parse Response"},{"parameters":{"respondWith":"allEntries","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[624,0],"id":"7a27b542-634e-4fa0-b0b7-016ebffd8683","name":"04-Respond"}],"connections":{"01-Webhook":{"main":[[{"node":"02-Send Message","type":"main","index":0}]]},"02-Send Message":{"main":[[{"node":"03-Parse Response","type":"main","index":0}]]},"03-Parse Response":{"main":[[{"node":"04-Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"93f211b9-75bf-4b0e-bcc5-57d315e0e1d7","versionCounter":1,"triggerCount":1,"shared":[{"updatedAt":"2025-10-09T09:08:58.186Z","createdAt":"2025-10-09T09:08:58.186Z","role":"workflow:owner","workflowId":"NjLxzCyW6WkWIHiv","projectId":"x7frUSUEowDAk8Dt","project":{"updatedAt":"2025-08-25T18:57:22.218Z","createdAt":"2025-08-25T08:16:18.805Z","id":"x7frUSUEowDAk8Dt","name":"Dmitriy Remacs <dk@n8nsrv.ru>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-08-25T08:16:18.805Z","createdAt":"2025-08-25T08:16:18.805Z","userId":"1d5222a1-8f53-4940-b7de-93daeae04393","projectId":"x7frUSUEowDAk8Dt","user":{"updatedAt":"2025-12-05T06:13:16.000Z","createdAt":"2025-08-25T08:16:17.784Z","id":"1d5222a1-8f53-4940-b7de-93daeae04393","email":"dk@n8nsrv.ru","firstName":"Dmitriy","lastName":"Remacs","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"RbSUhceYc7q41M5j","userActivatedAt":1756286438389},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-04","isPending":false}}]}}],"tags":[]}