NEW/workflows/Chanel Contour/ELO_Out_Router.json
{
  "name": "ELO_Out_Router",
  "nodes": [
    {
      "parameters": {
        "path": "elo-out-router",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "22549e3f-74da-4b07-8fe7-601337909bdf",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-816, -16],
      "webhookId": "elo-out-router"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Channel mapping\nconst CHANNELS = {\n  1: { name: 'telegram', webhook: 'elo-out-telegram' },\n  2: { name: 'whatsapp', webhook: 'elo-out-whatsapp' },\n  3: { name: 'avito', webhook: 'elo-out-avito' },\n  4: { name: 'vk', webhook: 'elo-out-vk' },\n  5: { name: 'max', webhook: 'elo-out-max' }\n};\n\nconst channelId = input.channel_id;\nconst channel = CHANNELS[channelId];\n\nif (!channel) {\n  throw new Error(`Unknown channel_id: ${channelId}`);\n}\n\nreturn {\n  ...input,\n  _routing: {\n    channel_id: channelId,\n    channel_name: channel.name,\n    webhook: channel.webhook,\n    webhook_url: `https://n8n.n8nsrv.ru/webhook/${channel.webhook}`\n  }\n};"
      },
      "id": "e8964568-779d-4320-bb44-c151da8a8a53",
      "name": "Determine Channel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-608, -16]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._routing.channel_id }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Telegram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._routing.channel_id }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WhatsApp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._routing.channel_id }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Avito"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._routing.channel_id }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VK"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._routing.channel_id }}",
                    "rightValue": 5,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MAX"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "05d09374-2248-42b4-acfe-e2a80ca8888b",
      "name": "Switch Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [-368, -80]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "name",
          "value": "ELO_Out_Telegram"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "23660263-5a8e-448c-9167-2e8efa9140ab",
      "name": "Call ELO_Out_Telegram",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [-48, -336]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "name",
          "value": "ELO_Out_WhatsApp"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "2fddaf7b-c353-44f0-abe1-b00c206666ef",
      "name": "Call ELO_Out_WhatsApp",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [-48, -208]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "name",
          "value": "ELO_Out_Avito"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "0cbaebe7-c464-4234-b841-cd6ed82a85de",
      "name": "Call ELO_Out_Avito",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [-48, -96]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "name",
          "value": "ELO_Out_VK"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "f9e37e34-0b4b-4582-82f1-35ecb06a62a8",
      "name": "Call ELO_Out_VK",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [-48, 32]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "name",
          "value": "ELO_Out_MAX"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "aa0b92f5-ae2d-4e56-b503-38f435c2db99",
      "name": "Call ELO_Out_MAX",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [-48, 144]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nthrow new Error(`Unknown channel_id: ${input.channel_id}. Expected 1-5.`);"
      },
      "id": "0855e0c5-766e-4573-aaca-a6b25f0f83f9",
      "name": "Error Unknown Channel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-48, 272]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { sent: true, channel: $json._routing?.channel_name || 'unknown', trace_id: $json.trace_id } }}",
        "options": {}
      },
      "id": "e91af3ff-9055-4123-b53c-60acb25ff521",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [336, -16]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Determine Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Channel": {
      "main": [
        [
          {
            "node": "Switch Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Channel": {
      "main": [
        [
          {
            "node": "Call ELO_Out_Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call ELO_Out_WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call ELO_Out_Avito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call ELO_Out_VK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call ELO_Out_MAX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Unknown Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call ELO_Out_Telegram": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call ELO_Out_WhatsApp": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call ELO_Out_Avito": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call ELO_Out_VK": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call ELO_Out_MAX": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Unknown Channel": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "instanceId": ""
  },
  "tags": [
    {
      "name": "ELO_Channel"
    }
  ]
}
