NEW/workflows/ELO_API_Channel_Avito_Auth.json
{
  "updatedAt": "2025-12-31T09:02:00.038Z",
  "createdAt": "2025-12-23T18:09:40.458Z",
  "id": "wuoTQYQ1vTGB66yn",
  "name": "ELO_API_Channel_Avito_Auth",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "android/channels/avito/auth",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "fa128ff0-f919-495c-b7ea-9fcbdc5c1e9d",
      "name": "Webhook - Avito Auth",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -800,
        112
      ],
      "webhookId": "android-channels-avito-auth"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-cookies",
              "leftValue": "={{ $json.body.cookies }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            },
            {
              "id": "has-operator",
              "leftValue": "={{ $json.body.operator_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "59270f2d-2d79-4ab7-8b94-3485b796f4ac",
      "name": "IF - Valid Request",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -576,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tenant_id FROM elo_t_operators WHERE id = '{{ $json.body.operator_id }}' LIMIT 1;",
        "options": {}
      },
      "id": "22b585d1-2a71-428a-b9a6-b9b40d5efbc5",
      "name": "Get Tenant ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -352,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO elo_t_channel_accounts\n  (tenant_id, channel_id, account_id, account_name, credentials, session_status, is_active)\nVALUES\n  (\n    '{{ $json.tenant_id }}',\n    3,\n    '{{ $('Webhook - Avito Auth').item.json.body.upin || $('Webhook - Avito Auth').item.json.body.user_id || 'default' }}',\n    '{{ $('Webhook - Avito Auth').item.json.body.display_name || '' }}',\n    '{\n      \"cookies\": {{ JSON.stringify($('Webhook - Avito Auth').item.json.body.cookies) }},\n      \"ft\": {{ JSON.stringify($('Webhook - Avito Auth').item.json.body.ft || null) }},\n      \"f\": {{ JSON.stringify($('Webhook - Avito Auth').item.json.body.f || null) }},\n      \"upin\": {{ JSON.stringify($('Webhook - Avito Auth').item.json.body.upin || null) }}\n    }'::jsonb,\n    'active',\n    true\n  )\nON CONFLICT (tenant_id, channel_id, account_id)\nDO UPDATE SET\n  credentials = '{\n    \"cookies\": {{ JSON.stringify($('Webhook - Avito Auth').item.json.body.cookies) }},\n    \"ft\": {{ JSON.stringify($('Webhook - Avito Auth').item.json.body.ft || null) }},\n    \"f\": {{ JSON.stringify($('Webhook - Avito Auth').item.json.body.f || null) }},\n    \"upin\": {{ JSON.stringify($('Webhook - Avito Auth').item.json.body.upin || null) }}\n  }'::jsonb,\n  account_name = COALESCE(NULLIF('{{ $('Webhook - Avito Auth').item.json.body.display_name || '' }}', ''), elo_t_channel_accounts.account_name),\n  session_status = 'active',\n  updated_at = NOW(),\n  error_count = 0,\n  last_error = NULL\nRETURNING id, session_status;",
        "options": {}
      },
      "id": "4d9bfe8d-d907-47d2-958b-de4953af0d80",
      "name": "Upsert Channel Account",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -128,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"channel_account_id\": \"{{ $json.id }}\",\n  \"session_status\": \"{{ $json.session_status }}\"\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "0726b49d-b140-401c-a3ea-796658ffb76e",
      "name": "Response - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        96,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Missing required fields: cookies, operator_id\"\n}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "3ac0225a-180f-4c00-bbe2-a666b8adbecd",
      "name": "Response - Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -352,
        208
      ]
    }
  ],
  "connections": {
    "Webhook - Avito Auth": {
      "main": [
        [
          {
            "node": "IF - Valid Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Valid Request": {
      "main": [
        [
          {
            "node": "Get Tenant ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response - Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tenant ID": {
      "main": [
        [
          {
            "node": "Upsert Channel Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Channel Account": {
      "main": [
        [
          {
            "node": "Response - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f795626c-a14a-4c5b-932f-4af8e4ba860b",
  "activeVersionId": "f795626c-a14a-4c5b-932f-4af8e4ba860b",
  "versionCounter": 8,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-23T18:09:40.464Z",
      "createdAt": "2025-12-23T18:09:40.464Z",
      "role": "workflow:owner",
      "workflowId": "wuoTQYQ1vTGB66yn",
      "projectId": "x7frUSUEowDAk8Dt",
      "project": {
        "updatedAt": "2025-08-25T18:57:22.218Z",
        "createdAt": "2025-08-25T08:16:18.805Z",
        "id": "x7frUSUEowDAk8Dt",
        "name": "Dmitriy Remacs <dk@n8nsrv.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-25T08:16:18.805Z",
            "createdAt": "2025-08-25T08:16:18.805Z",
            "userId": "1d5222a1-8f53-4940-b7de-93daeae04393",
            "projectId": "x7frUSUEowDAk8Dt",
            "user": {
              "updatedAt": "2025-12-31T08:56:11.000Z",
              "createdAt": "2025-08-25T08:16:17.784Z",
              "id": "1d5222a1-8f53-4940-b7de-93daeae04393",
              "email": "dk@n8nsrv.ru",
              "firstName": "Dmitriy",
              "lastName": "Remacs",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RbSUhceYc7q41M5j",
                "userActivatedAt": 1756286438389
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-12-09T18:50:08.518Z",
      "createdAt": "2025-12-09T18:50:08.518Z",
      "id": "tMSCjbvPU3xrNUqz",
      "name": "ELO"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-31T09:02:00.056Z",
    "createdAt": "2025-12-31T09:02:00.056Z",
    "versionId": "f795626c-a14a-4c5b-932f-4af8e4ba860b",
    "workflowId": "wuoTQYQ1vTGB66yn",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "android/channels/avito/auth",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "*"
          }
        },
        "id": "fa128ff0-f919-495c-b7ea-9fcbdc5c1e9d",
        "name": "Webhook - Avito Auth",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -800,
          112
        ],
        "webhookId": "android-channels-avito-auth"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "has-cookies",
                "leftValue": "={{ $json.body.cookies }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists"
                }
              },
              {
                "id": "has-operator",
                "leftValue": "={{ $json.body.operator_id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "59270f2d-2d79-4ab7-8b94-3485b796f4ac",
        "name": "IF - Valid Request",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -576,
          112
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT tenant_id FROM elo_t_operators WHERE id = '{{ $json.body.operator_id }}' LIMIT 1;",
          "options": {}
        },
        "id": "22b585d1-2a71-428a-b9a6-b9b40d5efbc5",
        "name": "Get Tenant ID",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          -352,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "n2SyhP9QhMnp1ryk",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO elo_t_channel_accounts\n  (tenant_id, channel_id, account_id, account_name, credentials, session_status, is_active)\nVALUES\n  (\n    '{{ $json.tenant_id }}',\n    3,\n    '{{ $('Webhook - Avito Auth').item.json.body.upin || $('Webhook - Avito Auth').item.json.body.user_id || 'default' }}',\n    '{{ $('Webhook - Avito Auth').item.json.body.display_name || '' }}',\n    '{\n      \"cookies\": {{ JSON.stringify($('Webhook - Avito Auth').item.json.body.cookies) }},\n      \"ft\": {{ JSON.stringify($('Webhook - Avito Auth').item.json.body.ft || null) }},\n      \"f\": {{ JSON.stringify($('Webhook - Avito Auth').item.json.body.f || null) }},\n      \"upin\": {{ JSON.stringify($('Webhook - Avito Auth').item.json.body.upin || null) }}\n    }'::jsonb,\n    'active',\n    true\n  )\nON CONFLICT (tenant_id, channel_id, account_id)\nDO UPDATE SET\n  credentials = '{\n    \"cookies\": {{ JSON.stringify($('Webhook - Avito Auth').item.json.body.cookies) }},\n    \"ft\": {{ JSON.stringify($('Webhook - Avito Auth').item.json.body.ft || null) }},\n    \"f\": {{ JSON.stringify($('Webhook - Avito Auth').item.json.body.f || null) }},\n    \"upin\": {{ JSON.stringify($('Webhook - Avito Auth').item.json.body.upin || null) }}\n  }'::jsonb,\n  account_name = COALESCE(NULLIF('{{ $('Webhook - Avito Auth').item.json.body.display_name || '' }}', ''), elo_t_channel_accounts.account_name),\n  session_status = 'active',\n  updated_at = NOW(),\n  error_count = 0,\n  last_error = NULL\nRETURNING id, session_status;",
          "options": {}
        },
        "id": "4d9bfe8d-d907-47d2-958b-de4953af0d80",
        "name": "Upsert Channel Account",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          -128,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "n2SyhP9QhMnp1ryk",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"success\": true,\n  \"channel_account_id\": \"{{ $json.id }}\",\n  \"session_status\": \"{{ $json.session_status }}\"\n}",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                },
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "0726b49d-b140-401c-a3ea-796658ffb76e",
        "name": "Response - Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          96,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"success\": false,\n  \"error\": \"Missing required fields: cookies, operator_id\"\n}",
          "options": {
            "responseCode": 400,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                },
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "3ac0225a-180f-4c00-bbe2-a666b8adbecd",
        "name": "Response - Error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          -352,
          208
        ]
      }
    ],
    "connections": {
      "Webhook - Avito Auth": {
        "main": [
          [
            {
              "node": "IF - Valid Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - Valid Request": {
        "main": [
          [
            {
              "node": "Get Tenant ID",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Response - Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Tenant ID": {
        "main": [
          [
            {
              "node": "Upsert Channel Account",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert Channel Account": {
        "main": [
          [
            {
              "node": "Response - Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dmitriy Remacs",
    "name": null,
    "description": null
  }
}