NEW/workflows/ELO_API_Android_Normalize.json
{
  "name": "ELO_API_Android_Normalize",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "android/normalize",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-normalize",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "android-normalize"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT o.id, o.tenant_id\nFROM elo_t_operators o\nJOIN elo_t_operator_devices od ON od.operator_id = o.id\nWHERE od.session_token = '{{ $json.body.session_token }}'\n  AND od.is_active = true\nLIMIT 1",
        "options": {}
      },
      "id": "validate-session",
      "name": "Validate Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "session-valid",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-session",
      "name": "Session Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: \"invalid_session\" }) }}",
        "options": {}
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 460]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "=Нормализуй следующий текст для отправки клиенту в мессенджере. \nИсправь грамматические ошибки, сделай текст более вежливым и профессиональным.\nНе меняй смысл сообщения. Верни ТОЛЬКО нормализованный текст без пояснений.\n\nТекст: {{ $('Webhook').item.json.body.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "openai-normalize",
      "name": "OpenAI Normalize",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [920, 140],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, normalized_text: $json.text }) }}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1140, 140]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Session": {
      "main": [
        [
          {
            "node": "Session Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Valid?": {
      "main": [
        [
          {
            "node": "OpenAI Normalize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Normalize": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
