NEW/workflows/Block 1 Messager/Channel Contour/ELO_Out/ELO_Out_Processor.json
{
  "name": "ELO_Out_Processor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 3
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-800, 0]
    },
    {
      "parameters": {
        "operation": "pop",
        "list": "queue:outgoing",
        "tail": false,
        "options": {
          "propertyName": "message_json"
        }
      },
      "id": "redis-pop",
      "name": "Redis Pop Message",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [-576, 0],
      "credentials": {
        "redis": {
          "id": "redis-n8n",
          "name": "Redis n8n"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-message",
              "leftValue": "={{ $json.message_json }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-message",
      "name": "IF Has Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-352, 0]
    },
    {
      "parameters": {
        "jsCode": "const messageJson = $json.message_json;\nconst message = JSON.parse(messageJson);\n\nreturn {\n  out_message: message,\n  channel_id: message.channel_id\n};"
      },
      "id": "parse-message",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-128, -96]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel_id }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Telegram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel_id }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WhatsApp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel_id }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Avito"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel_id }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VK"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel_id }}",
                    "rightValue": 5,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MAX"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "switch-channel",
      "name": "Switch Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [96, -96]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "name",
          "value": "ELO_Out_Telegram"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "call-telegram",
      "name": "Call ELO_Out_Telegram",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [320, -288]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "name",
          "value": "ELO_Out_WhatsApp"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "call-whatsapp",
      "name": "Call ELO_Out_WhatsApp",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [320, -176]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "name",
          "value": "ELO_Out_Avito"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "call-avito",
      "name": "Call ELO_Out_Avito",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [320, -64]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "name",
          "value": "ELO_Out_VK"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "call-vk",
      "name": "Call ELO_Out_VK",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [320, 48]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "name",
          "value": "ELO_Out_MAX"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "call-max",
      "name": "Call ELO_Out_MAX",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [320, 160]
    },
    {
      "parameters": {
        "jsCode": "// Unknown channel - log error\nconst message = $json.out_message;\nconsole.error('Unknown channel_id:', message.channel_id);\n\nreturn {\n  error: true,\n  message: `Unknown channel_id: ${message.channel_id}`,\n  out_message: message\n};"
      },
      "id": "unknown-channel",
      "name": "Unknown Channel Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 272]
    },
    {
      "parameters": {
        "jsCode": "// No message in queue - just return\nreturn { empty: true };"
      },
      "id": "no-message",
      "name": "No Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-128, 96]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Redis Pop Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Pop Message": {
      "main": [
        [
          {
            "node": "IF Has Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Message": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Switch Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Channel": {
      "main": [
        [
          {
            "node": "Call ELO_Out_Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call ELO_Out_WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call ELO_Out_Avito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call ELO_Out_VK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call ELO_Out_MAX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Channel Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "tags": []
}
