workflows_to_import/modified/BAT_Batch_Debouncer_10.json
{
  "id": "X2MEqAcPG2r5720A",
  "name": "BAT Batch Debouncer 10",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "id": "598ae06e-54bf-4c8c-8365-d4428dbfee14",
      "name": "Every 10 Seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2352,
        304
      ]
    },
    {
      "parameters": {
        "operation": "pop",
        "list": "queue:debounce:pending",
        "propertyName": "value",
        "options": {}
      },
      "id": "368577c4-77ec-4aa9-bffe-e65f6347c410",
      "name": "Pop Batch Job",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2128,
        304
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-job",
              "leftValue": "={{ $json.value }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0a9d49ed-73cb-463f-8e75-2841e2dc4c78",
      "name": "Has Job?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1904,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Парсим задание из очереди (может прийти как объект или строка)\nconst rawValue = $json.value;\nlet job;\n\nif (typeof rawValue === 'object' && rawValue !== null) {\n  job = rawValue;\n} else if (typeof rawValue === 'string') {\n  try {\n    job = JSON.parse(rawValue);\n  } catch (e) {\n    return { error: 'Failed to parse job', raw: rawValue };\n  }\n} else {\n  return { error: 'Invalid job format', raw: rawValue };\n}\n\nreturn {\n  batch_key: job.batch_key,\n  channel: job.channel,\n  external_chat_id: job.external_chat_id,\n  queue_key: job.queue_key || `queue:batch:${job.batch_key}`,\n  lock_key: job.lock_key || `lock:batch:${job.batch_key}`,\n  last_seen_key: job.last_seen_key || `last_seen:${job.batch_key}`,\n  debounce_seconds: job.debounce_seconds || 20,\n  max_wait_seconds: job.max_wait_seconds || 300,\n  start_time: job.start_time || new Date().toISOString(),\n  worker_id: 10\n};"
      },
      "id": "1d244f05-873c-4b14-8551-3c01bfe653ae",
      "name": "Parse Job",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        208
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.last_seen_key }}",
        "options": {}
      },
      "id": "42b4d879-7c68-4659-8597-0e03a37f4d7b",
      "name": "Get Last Seen",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1472,
        208
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lastSeenStr = $json.value;\nconst job = $('Parse Job').first().json;\nconst debounceMs = job.debounce_seconds * 1000;\nconst maxWaitMs = job.max_wait_seconds * 1000;\nconst startTime = new Date(job.start_time).getTime();\nconst now = Date.now();\n\nlet lastSeenTime = 0;\nif (lastSeenStr) {\n  lastSeenTime = new Date(lastSeenStr).getTime();\n}\n\nconst silenceDuration = now - lastSeenTime;\nconst totalWaitDuration = now - startTime;\n\n// Условия для сбора батча:\n// 1. Тишина >= debounce_seconds\n// 2. ИЛИ общее время ожидания >= max_wait_seconds\nconst silenceReached = silenceDuration >= debounceMs;\nconst maxWaitReached = totalWaitDuration >= maxWaitMs;\nconst readyToProcess = silenceReached || maxWaitReached;\n\nreturn {\n  ...job,\n  last_seen: lastSeenStr,\n  last_seen_time: lastSeenTime,\n  silence_duration_ms: silenceDuration,\n  total_wait_duration_ms: totalWaitDuration,\n  silence_reached: silenceReached,\n  max_wait_reached: maxWaitReached,\n  ready_to_process: readyToProcess,\n  reason: maxWaitReached ? 'max_wait_timeout' : (silenceReached ? 'silence_reached' : 'still_active')\n};"
      },
      "id": "2b374ff2-43ec-494f-b8ba-9ac7f9a7a248",
      "name": "Check Silence Duration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ready-check",
              "leftValue": "={{ $json.ready_to_process }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "debc1880-713e-4ab8-ade0-bf8b1a01dfee",
      "name": "Ready to Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1024,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Не готов - возвращаем в очередь для повторной обработки\nconst job = $json;\n\nreturn {\n  job_json: JSON.stringify({\n    batch_key: job.batch_key,\n    channel: job.channel,\n    external_chat_id: job.external_chat_id,\n    queue_key: job.queue_key,\n    lock_key: job.lock_key,\n    last_seen_key: job.last_seen_key,\n    debounce_seconds: job.debounce_seconds,\n    max_wait_seconds: job.max_wait_seconds,\n    start_time: job.start_time\n  })\n};"
      },
      "id": "6435367f-3db1-4ad1-92a1-faa922b417ec",
      "name": "Prepare Requeue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        304
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "queue:debounce:pending",
        "messageData": "={{ $json.job_json }}",
        "tail": true
      },
      "id": "ec4aa9da-54c2-48a5-ae6f-269803ec84fb",
      "name": "Requeue Job",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -592,
        304
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "lRange"
      },
      "id": "d30b1399-2a43-41ab-baf5-df89cd69b300",
      "name": "Get Batch Queue",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -800,
        112
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const queueData = $json.value;\nconst job = $('Check Silence Duration').first().json;\n\nlet messages = [];\n\nif (queueData) {\n  if (Array.isArray(queueData)) {\n    for (const item of queueData) {\n      try {\n        const parsed = typeof item === 'string' ? JSON.parse(item) : item;\n        messages.push(parsed);\n      } catch (e) {\n        console.error('Failed to parse:', item);\n      }\n    }\n  } else if (typeof queueData === 'string') {\n    const parts = queueData.includes('|||SEPARATOR|||') \n      ? queueData.split('|||SEPARATOR|||')\n      : [queueData];\n    \n    for (const part of parts) {\n      if (part.trim()) {\n        try {\n          messages.push(JSON.parse(part));\n        } catch (e) {\n          console.error('Failed to parse part:', part);\n        }\n      }\n    }\n  }\n}\n\nif (messages.length === 0) {\n  return {\n    empty: true,\n    batch_key: job.batch_key,\n    queue_key: job.queue_key,\n    lock_key: job.lock_key\n  };\n}\n\n// Сортируем по timestamp\nconst toTs = (m) => {\n  const t = m.timestamp ? Date.parse(m.timestamp) : NaN;\n  return Number.isFinite(t) ? t : Number.MAX_SAFE_INTEGER;\n};\nmessages.sort((a, b) => toTs(a) - toTs(b));\n\n// Собираем тексты\nconst texts = messages\n  .map(m => m.media?.voice_transcribed_text\n    ? `[Голосовое]: ${m.media.voice_transcribed_text}`\n    : (m.text || ''))\n  .filter(t => t.trim());\n\nconst combinedText = texts.join('\\n\\n');\nconst base = messages[0];\nconst lastWithRaw = [...messages].reverse().find(m => m?.meta?.raw);\n\nreturn {\n  empty: false,\n  batch_key: job.batch_key,\n  queue_key: job.queue_key,\n  lock_key: job.lock_key,\n  channel: base.channel,\n  external_user_id: base.external_user_id,\n  external_chat_id: base.external_chat_id,\n  text: combinedText,\n  timestamp: base.timestamp,\n  client_phone: base.client_phone,\n  client_name: base.client_name,\n  client_email: base.client_email,\n  tenant_id: base.tenant_id,\n  media: base.media,\n  meta: {\n    ...base.meta,\n    ...(lastWithRaw?.meta?.raw ? { raw: lastWithRaw.meta.raw } : {}),\n    batched: true,\n    batch_size: messages.length,\n    batch_wait_time: job.debounce_seconds,\n    batch_reason: job.reason,\n    worker_id: job.worker_id,\n    original_messages: messages.map(m => ({\n      timestamp: m.timestamp,\n      type: m.meta?.original_media_type || 'text',\n      text_length: (m.text || '').length\n    })),\n    combined_at: new Date().toISOString()\n  },\n  prefilled_data: base.prefilled_data\n};"
      },
      "id": "4d74a4e3-798f-4653-8766-beeb61193da0",
      "name": "Combine Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "empty-check",
              "leftValue": "={{ $json.empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dd19cd69-06ec-42f4-8a6f-e98f11009d36",
      "name": "Is Batch Empty?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -368,
        112
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $json.queue_key }}"
      },
      "id": "7ad49f91-1448-4e0b-91fa-a19a19bd50ed",
      "name": "Delete Queue (Empty)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -144,
        0
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $json.lock_key }}"
      },
      "id": "b9c8f5ed-ea4d-4a6b-93d1-6f1ac52ffa00",
      "name": "Release Lock (Empty)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        80,
        0
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $json.queue_key }}"
      },
      "id": "cc668531-d4f0-49b7-9ba0-912be68b0c70",
      "name": "Delete Queue",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -144,
        208
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $json.lock_key }}"
      },
      "id": "9e88323e-9c09-4958-bce0-c845dfd342ab",
      "name": "Release Lock",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "OUjTFzd7k4tdoAjh",
        "options": {}
      },
      "id": "f70df1ba-b7ed-406b-9233-0eab4062fe90",
      "name": "Client Resolver",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        304,
        208
      ]
    }
  ],
  "connections": {
    "Every 10 Seconds": {
      "main": [
        [
          {
            "node": "Pop Batch Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pop Batch Job": {
      "main": [
        [
          {
            "node": "Has Job?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Job?": {
      "main": [
        [
          {
            "node": "Parse Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Job": {
      "main": [
        [
          {
            "node": "Get Last Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Seen": {
      "main": [
        [
          {
            "node": "Check Silence Duration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Silence Duration": {
      "main": [
        [
          {
            "node": "Ready to Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ready to Process?": {
      "main": [
        [
          {
            "node": "Get Batch Queue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Requeue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Requeue": {
      "main": [
        [
          {
            "node": "Requeue Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Batch Queue": {
      "main": [
        [
          {
            "node": "Combine Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Messages": {
      "main": [
        [
          {
            "node": "Is Batch Empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Batch Empty?": {
      "main": [
        [
          {
            "node": "Delete Queue (Empty)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Queue (Empty)": {
      "main": [
        [
          {
            "node": "Release Lock (Empty)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Queue": {
      "main": [
        [
          {
            "node": "Release Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Release Lock": {
      "main": [
        [
          {
            "node": "Client Resolver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "updatedAt": "2025-11-23T03:59:12.594Z",
      "createdAt": "2025-11-23T03:59:12.594Z",
      "id": "8zD9sDD78ytgu5T2",
      "name": "BattCRM"
    },
    {
      "updatedAt": "2025-11-25T13:52:16.776Z",
      "createdAt": "2025-11-25T13:52:16.776Z",
      "id": "KZWHB14qNi4HvGro",
      "name": "TaskWork"
    }
  ],
  "updatedAt": "2025-12-03T13:12:01.000Z",
  "createdAt": "2025-12-03T12:13:34.205Z"
}