n8n_workflows/API/API_Android_Appeal_Detail.json
{
  "id": "BnJhQobHiniAInFO",
  "name": "API_Android_Appeal_Detail",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const params = $json.params || {};\nconst appeal_id = (params.id || '').trim();\n\nlet limit = parseInt($json.query?.limit || '50', 10);\nif (!Number.isFinite(limit)) limit = 50;\nlimit = Math.max(1, Math.min(limit, 200));\n\nreturn { \n  appeal_id, \n  limit, \n  session_token: $json.session_token \n};"
      },
      "id": "27f48f8a-f8b2-4795-a3b8-c2bbd2bacca0",
      "name": "Parse Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        96
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  od.operator_id,\n  od.tenant_id,\n  od.device_type\nFROM operator_devices od\nJOIN operators o ON o.id = od.operator_id\nWHERE od.session_token = '{{ $('Webhook').item.json.headers[\"x-session-token\"] }}'\n  AND od.device_type = 'mobile'\n  AND o.is_active = true\nLIMIT 1;",
        "options": {}
      },
      "id": "8cb41348-ba32-4fcf-adb5-8092576e17fd",
      "name": "Get Tenant",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -512,
        96
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json;\nconst row = Array.isArray(input) ? (input[0] || null) : input;\nconst tenant_id = row && typeof row === 'object' ? (row.tenant_id || null) : null;\n\nconst previous = $('Parse Params').first().json;\n\nreturn {\n  ...previous,\n  tenant_id\n};"
      },
      "id": "4b649dad-1035-412f-b5ca-c39efb7c6800",
      "name": "Normalize Tenant",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.tenant_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "e2789ddb-ecef-45fe-92f2-421abc363a94",
      "name": "Tenant Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -32,
        96
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'unauthorized_or_operator_not_found' } }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "c7d56136-2245-4ea1-8319-309817b9cee4",
      "name": "Respond 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        384,
        128
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  WITH vals AS (\n    SELECT\n      '{{ $json.tenant_id || \"\" }}' AS tenant_id_text,\n      '{{ $json.appeal_id || \"\" }}' AS appeal_id_text,\n      '{{ $json.limit || 50 }}' AS limit_text\n  ),\n  validated AS (\n    SELECT\n      CASE WHEN tenant_id_text ~* '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$' THEN tenant_id_text::uuid ELSE NULL END AS tenant_id,\n      CASE WHEN appeal_id_text ~* '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$' THEN appeal_id_text::uuid ELSE NULL END AS appeal_id,\n      CASE WHEN limit_text ~ '^[0-9]+$' THEN LEAST(GREATEST(limit_text::int, 1), 200) ELSE 50 END AS lim\n    FROM vals\n  )\n  SELECT\n    a.id, a.stage, a.operation_mode, a.updated_at,\n    a.estimated_cost, a.estimated_time, a.phone_model, a.brand_id, a.model_id, a.repair_type_id, a.parts_owner,\n    c.name AS client_name, c.phone AS client_phone,\n    b.name AS brand_name, m.name AS model_name, rt.name AS repair_type_name,\n    (\n      SELECT oa.details->>'ai_response'\n      FROM operator_actions oa\n      WHERE oa.context_appeal_id = a.id\n        AND oa.action_type = 'notify_appeal_ready'\n        AND oa.details->>'ai_response' IS NOT NULL\n      ORDER BY oa.created_at DESC\n      LIMIT 1\n    ) AS ai_response,\n    (\n      SELECT jsonb_agg(\n        jsonb_build_object(\n          'created_at', mh.created_at,\n          'message_type', mh.message_type,\n          'message_text', mh.message_text\n        )\n        ORDER BY mh.created_at DESC\n      )\n      FROM messages_history mh\n      WHERE mh.appeal_id = a.id\n      LIMIT (SELECT lim FROM validated)\n    ) AS messages,\n    COALESCE(\n      (\n        SELECT jsonb_agg(\n          jsonb_build_object(\n            'id', ad.id,\n            'device_order', ad.device_index,\n            'brand_id', ad.brand_id,\n            'brand_name', db.name,\n            'model_id', ad.model_id,\n            'model_name', dm.name,\n            'phone_model', a.phone_model,\n            'repairs', COALESCE(\n              (\n                SELECT jsonb_agg(\n                  jsonb_build_object(\n                    'id', ar.id,\n                    'repair_category_id', ar.repair_category_id,\n                    'repair_category_name', rc.name,\n                    'issue_type_id', ar.issue_type_id,\n                    'issue_type_name', it.name,\n                    'parts_owner', ar.parts_owner\n                  )\n                  ORDER BY ar.created_at\n                )\n                FROM appeal_repairs ar\n                LEFT JOIN repair_categories rc ON rc.id = ar.repair_category_id\n                LEFT JOIN issue_types it ON it.id = ar.issue_type_id\n                WHERE ar.appeal_device_id = ad.id\n              ),\n              '[]'::jsonb\n            )\n          )\n          ORDER BY ad.device_index, ad.created_at\n        )\n        FROM appeal_devices ad\n        LEFT JOIN brands db ON db.id = ad.brand_id\n        LEFT JOIN models dm ON dm.id = ad.model_id\n        WHERE ad.appeal_id = a.id\n      ),\n      '[]'::jsonb\n    ) AS devices\n  FROM validated v\n  JOIN appeals a\n    ON v.tenant_id IS NOT NULL\n    AND v.appeal_id IS NOT NULL\n    AND a.tenant_id = v.tenant_id\n    AND a.id = v.appeal_id\n  JOIN clients c ON c.id = a.client_id AND c.tenant_id = a.tenant_id\n  LEFT JOIN brands b ON b.id = a.brand_id AND b.tenant_id = a.tenant_id\n  LEFT JOIN models m ON m.id = a.model_id AND m.tenant_id = a.tenant_id\n  LEFT JOIN repair_types rt ON rt.id = a.repair_type_id AND rt.tenant_id = a.tenant_id;",
        "options": {}
      },
      "id": "eca748e1-1e3b-4e24-8cf5-224df9d2b4da",
      "name": "Fetch Appeal & History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        288,
        -96
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inp = $input.first()?.json;\nconst row = Array.isArray(inp) ? (inp[0] || null) : inp;\n\nif (!row || typeof row !== \"object\" || !row.id) {\n  return { success: false, error: \"not_found\" };\n}\n\nconst rawMessages = Array.isArray(row.messages) ? row.messages : [];\nconst rawDevices = Array.isArray(row.devices) ? row.devices : [];\n\nconst messages = rawMessages.map(m => ({\n  text: m.message_text || \"\",\n  sender_type: m.message_type || \"client\",\n  created_at: m.created_at || \"\"\n}));\n\nconst devices = rawDevices.map(d => ({\n  id: d.id,\n  device_order: d.device_order || 1,\n  brand_id: d.brand_id || null,\n  brand_name: d.brand_name || null,\n  model_id: d.model_id || null,\n  model_name: d.model_name || d.phone_model || null,\n  status: d.status || 'active',\n  repairs: (d.repairs || []).map(r => ({\n    id: r.id,\n    repair_category_id: r.repair_category_id || null,\n    repair_category_name: r.repair_category_name || null,\n    issue_type_id: r.issue_type_id || null,\n    issue_type_name: r.issue_type_name || null,\n    parts_owner: r.parts_owner || null,\n    status: r.status || 'pending',\n    priority: r.priority || 1\n  }))\n}));\n\nreturn {\n  success: true,\n  appeal: {\n    id: row.id,\n    stage: row.stage,\n    operation_mode: row.operation_mode,\n    estimated_cost: row.estimated_cost,\n    estimated_time: row.estimated_time,\n    phone_model: row.phone_model,\n    brand_id: row.brand_id,\n    model_id: row.model_id,\n    repair_type_id: row.repair_type_id,\n    repair_type_name: row.repair_type_name,\n    parts_owner: row.parts_owner,\n    updated_at: row.updated_at,\n    ai_response: row.ai_response || null,\n  },\n  client: {\n    name: row.client_name || null,\n    phone: row.client_phone || null,\n  },\n  device: {\n    brand: row.brand_name || null,\n    model: row.model_name || row.phone_model || null,\n  },\n  devices: devices,\n  messages: messages,\n  ai_response: row.ai_response ? { response_text: row.ai_response } : null\n};"
      },
      "id": "3bd2d266-af5c-4a46-a860-c4b1577d350e",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "39fe89e9-0c61-48f6-97fa-612c2023aa91",
              "leftValue": "={{ $json.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        736,
        -96
      ],
      "id": "5ee80603-8ad2-432d-a930-b64feaa7879c",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "e278dfb4-e37a-4c5d-bc3f-2539ae38e4f4",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1056,
        -112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 404,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "f1a5d0d8-1a82-4db3-9210-fe47c975a2b4",
      "name": "Respond 404",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1056,
        64
      ]
    },
    {
      "parameters": {
        "path": "api/android/appeals/:id",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1360,
        96
      ],
      "id": "b520a148-5a6e-4fb0-8673-b0925697b81f",
      "name": "Webhook",
      "webhookId": "dbc87d6b-d3a8-4613-a2d8-b591d5533210"
    },
    {
      "parameters": {
        "jsCode": "const headers = $json.headers || {};\nlet token = null;\n\nconst authHeader = headers.authorization || headers.Authorization || '';\nif (authHeader.startsWith('Bearer ') || authHeader.startsWith('bearer ')) {\n  token = authHeader.substring(7);\n}\n\nif (!token) {\n  token = headers['x-session-token'] || headers['X-Session-Token'];\n}\n\nreturn { ...($json || {}), session_token: token || null };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        96
      ],
      "id": "78fd88ef-c8f4-43d8-8c73-95b5ac7e5928",
      "name": "Parse Token"
    }
  ],
  "connections": {
    "Parse Params": {
      "main": [
        [
          {
            "node": "Get Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tenant": {
      "main": [
        [
          {
            "node": "Normalize Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Tenant": {
      "main": [
        [
          {
            "node": "Tenant Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tenant Found?": {
      "main": [
        [
          {
            "node": "Fetch Appeal & History",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Appeal & History": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 404",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Token": {
      "main": [
        [
          {
            "node": "Parse Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": [
    {
      "updatedAt": "2025-11-23T03:58:34.844Z",
      "createdAt": "2025-11-23T03:58:34.844Z",
      "id": "0yzk30hhaSzkl8bF",
      "name": "API"
    },
    {
      "updatedAt": "2025-11-23T03:59:12.594Z",
      "createdAt": "2025-11-23T03:59:12.594Z",
      "id": "8zD9sDD78ytgu5T2",
      "name": "BattCRM"
    }
  ],
  "updatedAt": "2025-12-02T07:54:18.000Z",
  "createdAt": "2025-11-11T09:07:28.865Z"
}