NEW/workflows/Chanel Contour/ELO_In/ELO_In_WhatsApp.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-incoming",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "21e3b107-fdf9-4909-9a45-e12f2ade948e",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1456,
        320
      ],
      "webhookId": "whatsapp-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-message",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "message",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2c993461-e0e7-464b-acb1-7b8c59bc3530",
      "name": "Is Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1264,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"skipped\": true, \"event\": $json.event } }}",
        "options": {}
      },
      "id": "b8878308-0611-4d2d-a851-67876bca3998",
      "name": "Skip Non-Message",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1072,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst event = input.body || input;\n\n// Detect provider: Baileys or WAPPI\nconst isBaileys = event.event === 'message' && event.data;\nconst data = isBaileys ? event.data : event;\n\n// Extract fields based on provider\nlet chatId, phone, messageText, messageId, timestamp, senderName;\nlet hasPhoto = false, hasVoice = false, hasVideo = false, hasDocument = false;\nlet photoUrl = null, voiceUrl = null, videoUrl = null;\nconst urls = [];\n\nif (isBaileys) {\n  // Baileys format\n  chatId = data.from + '@s.whatsapp.net';\n  phone = '+' + data.from;\n  messageText = data.text || data.caption || '';\n  messageId = data.messageId;\n  timestamp = data.timestamp ? new Date(data.timestamp).toISOString() : new Date().toISOString();\n  senderName = data.fromName;\n  \n  // Media types\n  const msgType = data.type;\n  hasPhoto = msgType === 'image';\n  hasVoice = msgType === 'audio';\n  hasVideo = msgType === 'video';\n  hasDocument = msgType === 'document';\n  \n  if (data.mediaUrl) {\n    urls.push(data.mediaUrl);\n    if (hasPhoto) photoUrl = data.mediaUrl;\n    if (hasVoice) voiceUrl = data.mediaUrl;\n    if (hasVideo) videoUrl = data.mediaUrl;\n  }\n} else {\n  // WAPPI format (legacy)\n  chatId = event.chatId || event.chat_id;\n  const sender = event.sender || event.from;\n  messageText = event.text || event.body || '';\n  messageId = event.messageId || event.id || Date.now().toString();\n  timestamp = event.timestamp ? new Date(event.timestamp * 1000).toISOString() : new Date().toISOString();\n  phone = chatId ? chatId.split('@')[0] : sender;\n  if (phone && !phone.startsWith('+')) phone = '+' + phone;\n  senderName = event.senderName || event.pushname || null;\n  \n  const media = event.media || {};\n  hasPhoto = media.type === 'image' || event.media?.mimetype?.startsWith('image/');\n  hasVoice = media.type === 'audio' || media.type === 'voice' || event.media?.mimetype?.startsWith('audio/');\n  hasVideo = media.type === 'video' || event.media?.mimetype?.startsWith('video/');\n  hasDocument = media.type === 'document' || event.media?.mimetype === 'application/pdf';\n  \n  if (media.url) {\n    urls.push(media.url);\n    if (hasPhoto) photoUrl = media.url;\n    if (hasVoice) voiceUrl = media.url;\n    if (hasVideo) videoUrl = media.url;\n  }\n}\n\n// Extract session_id for Baileys (used as profile_id for tenant lookup)\nconst sessionId = event.sessionId || data.sessionId || 'eldoleado_main';\n\nreturn {\n  provider: isBaileys ? 'baileys' : 'wappi',\n  session_id: sessionId,\n  has_voice: hasVoice,\n  voice_url: voiceUrl,\n  raw_event: event,\n  chat_id: chatId,\n  phone: phone,\n  message_text: messageText,\n  message_id: messageId,\n  timestamp: timestamp,\n  sender_name: senderName,\n  has_photo: hasPhoto,\n  photo_url: photoUrl,\n  has_video: hasVideo,\n  video_url: videoUrl,\n  has_document: hasDocument,\n  urls: urls\n};"
      },
      "id": "4d4a2c74-554f-492d-8b53-f4e660931ee1",
      "name": "Extract WhatsApp Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_voice }}",
              "value2": true
            }
          ]
        }
      },
      "id": "e8a40277-bf28-4f53-b12f-44900a16209f",
      "name": "Has Voice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -848,
        320
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.voice_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "e95b8580-c6fc-41ca-941d-48510ba29f6c",
      "name": "Download Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -624,
        208
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -400,
        208
      ],
      "id": "8b7db0dc-4ed9-4329-9f77-6b998a5317f5",
      "name": "Transcribe Voice",
      "credentials": {
        "openAiApi": {
          "id": "ptoy1RvCOn39G0Af",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Extract WhatsApp Data').first().json;\nconst transcription = $input.first().json.text;\n\nlet messageText = data.message_text;\nif (transcription) {\n  messageText = (messageText ? messageText + '\\n\\n' : '') + transcription;\n}\n\nreturn {\n  channel: 'whatsapp',\n  profile_id: data.session_id,\n  external_user_id: data.phone?.replace(/\\+/g, ''),\n  external_chat_id: data.chat_id,\n  \n  text: messageText,\n  timestamp: data.timestamp,\n  \n  client_phone: data.phone,\n  client_name: data.sender_name,\n  client_email: null,\n  \n  media: {\n    has_voice: true,\n    voice_transcribed_text: transcription,\n    has_images: data.has_photo,\n    images: data.has_photo ? [{ url: data.photo_url }] : [],\n    has_video: data.has_video,\n    videos: data.has_video ? [{ url: data.video_url }] : [],\n    has_document: data.has_document\n  },\n  \n  meta: {\n    external_message_id: data.message_id,\n    ad_channel: 'whatsapp',\n    ad_id: null,\n    original_media_type: 'voice',\n    raw: data.raw_event,\n    provider: data.provider || 'baileys'\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
      },
      "id": "07d603d1-8064-4f9a-a4d1-212084ccefbd",
      "name": "Normalize with Voice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn {\n  channel: 'whatsapp',\n  profile_id: data.session_id,\n  external_user_id: data.phone?.replace(/\\+/g, ''),\n  external_chat_id: data.chat_id,\n  \n  text: data.message_text,\n  timestamp: data.timestamp,\n  \n  client_phone: data.phone,\n  client_name: data.sender_name,\n  client_email: null,\n  \n  media: {\n    has_voice: false,\n    voice_transcribed_text: null,\n    has_images: data.has_photo,\n    images: data.has_photo ? [{ url: data.photo_url }] : [],\n    has_video: data.has_video,\n    videos: data.has_video ? [{ url: data.video_url }] : [],\n    has_document: data.has_document\n  },\n  \n  meta: {\n    external_message_id: data.message_id,\n    ad_channel: 'whatsapp',\n    ad_id: null,\n    original_media_type: data.has_photo ? 'photo' : data.has_video ? 'video' : 'text',\n    raw: data.raw_event,\n    provider: data.provider || 'baileys'\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
      },
      "id": "31069778-bedf-4f95-aa65-d853247c74cc",
      "name": "Normalize without Voice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare message for Redis queue (batcher will handle DB writes)\nconst data = $input.first().json;\n\nreturn {\n  message_json: JSON.stringify(data),\n  batch_key: `${data.channel}:${data.external_chat_id}`\n};"
      },
      "id": "997f29f3-a685-49de-99a4-71a500494dd7",
      "name": "Prepare for Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        320
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "queue:incoming",
        "messageData": "={{ $json.message_json }}",
        "tail": true
      },
      "id": "31e9b30b-cdcf-45ec-b46d-5d1a0100d152",
      "name": "Push to Queue",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        272,
        320
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"queued\": true, \"batch_key\": $json.batch_key } }}",
        "options": {}
      },
      "id": "bf22acf6-bb9e-4fb1-9b99-8df286a96893",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        496,
        320
      ]
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Is Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Message?": {
      "main": [
        [
          {
            "node": "Extract WhatsApp Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Non-Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract WhatsApp Data": {
      "main": [
        [
          {
            "node": "Has Voice?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Voice?": {
      "main": [
        [
          {
            "node": "Download Voice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize without Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice": {
      "main": [
        [
          {
            "node": "Transcribe Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voice": {
      "main": [
        [
          {
            "node": "Normalize with Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize with Voice": {
      "main": [
        [
          {
            "node": "Prepare for Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize without Voice": {
      "main": [
        [
          {
            "node": "Prepare for Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Queue": {
      "main": [
        [
          {
            "node": "Push to Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to Queue": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "WhatsApp Trigger": [
      {
        "headers": {
          "host": "n8n.n8nsrv.ru",
          "user-agent": "axios/1.13.2",
          "content-length": "368",
          "accept": "application/json, text/plain, */*",
          "accept-encoding": "gzip, compress, deflate, br",
          "content-type": "application/json",
          "via": "1.1 Caddy",
          "x-forwarded-for": "217.145.79.27",
          "x-forwarded-host": "n8n.n8nsrv.ru",
          "x-forwarded-proto": "https"
        },
        "params": {},
        "query": {},
        "body": {
          "event": "message",
          "sessionId": "eldoleado_main",
          "sessionHash": "f209755183150c5a",
          "timestamp": 1766234827738,
          "data": {
            "sessionId": "eldoleado_main",
            "sessionHash": "f209755183150c5a",
            "messageId": "3A88DDF03548E059B635",
            "from": "79997253777",
            "fromName": "Дмитрий",
            "to": "79997253777",
            "isGroup": false,
            "timestamp": 1766234827000,
            "type": "text",
            "text": "Привет дима"
          }
        },
        "webhookUrl": "https://n8n.n8nsrv.ru/webhook/whatsapp-incoming",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "instanceId": "8ae77ca901b15c37bb42b26ea9b5a21b78217dd557a563108d875a64964c49bb"
  }
}