CORE_NEW/workflows/ELO_In/ELO_In_Phone.json
{
  "name": "ELO_In_Phone",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "phone",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "f2cbc9a1-30aa-4d68-b772-04fd96724158",
      "name": "Phone Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -160,
        -144
      ],
      "webhookId": "phone-webhook"
    },
    {
      "parameters": {
        "jsCode": "const call = $input.first().json;\n\n// Нормализуем номер телефона\nlet phone = call.from || call.caller_id || call.phone;\nif (phone) {\n  phone = phone.replace(/\\D/g, '');\n  if (phone.length === 11 && phone.startsWith('8')) {\n    phone = '7' + phone.substring(1);\n  }\n  phone = '+' + phone;\n}\n\nconst hasVoice = true;\nconst recordingUrl = call.recording_url || call.record_url || null;\n\nreturn {\n  has_voice: hasVoice,\n  voice_url: recordingUrl,\n  raw_call: call,\n  phone: phone,\n  call_id: call.call_id || call.id || Date.now().toString(),\n  call_duration: call.duration || 0,\n  call_status: call.status || 'completed',\n  start_time: call.start_time || call.created_at || new Date().toISOString()\n};"
      },
      "id": "5a690131-0e0e-4b0e-afb9-0ce80a4df2e7",
      "name": "Extract Phone Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -144
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.voice_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "eda103e3-7cee-40cd-b524-3788897811c6",
      "name": "Download Recording",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        288,
        -144
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        512,
        -144
      ],
      "id": "84c1057d-73cc-48f5-b503-508a78fcc3e7",
      "name": "Transcribe Recording",
      "credentials": {
        "openAiApi": {
          "id": "ptoy1RvCOn39G0Af",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Extract Phone Data').first().json;\nconst transcription = $input.first().json.text;\n\nreturn {\n  channel: 'phone',\n  external_user_id: data.phone?.replace(/\\+/g, ''),\n  external_chat_id: data.phone,\n  \n  text: transcription,\n  timestamp: data.start_time,\n  \n  client_phone: data.phone,\n  client_name: null,\n  client_email: null,\n  \n  media: {\n    has_voice: true,\n    voice_transcribed_text: transcription,\n    has_images: false,\n    images: [],\n    has_video: false,\n    videos: [],\n    has_document: false\n  },\n  \n  meta: {\n    external_message_id: data.call_id,\n    ad_channel: 'phone',\n    ad_id: null,\n    original_media_type: 'voice',\n    raw: data.raw_call,\n    call_duration: data.call_duration,\n    call_status: data.call_status,\n    recording_url: data.voice_url\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
      },
      "id": "b101d59e-3ee4-4e73-a529-d5fd34927a1e",
      "name": "Normalize Phone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -144
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.CLIENT_RESOLVER_WORKFLOW_ID }}",
        "options": {}
      },
      "id": "74485659-c973-48fd-b7bc-53134a2fda84",
      "name": "Execute Client Resolver",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1136,
        -144
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \\\"success\\\": true } }}",
        "options": {}
      },
      "id": "85cb06a0-8f41-4d94-a255-47ff44916e15",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1360,
        -144
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rRO6sxLqiCdgvLZz",
          "mode": "list",
          "cachedResultUrl": "/workflow/rRO6sxLqiCdgvLZz",
          "cachedResultName": "ELO_Core_Tenant_Resolver"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        912,
        -144
      ],
      "id": "1d4c2b12-34d8-4bca-a3d4-002cacda8ef5",
      "name": "Execute Tenant Resolver"
    }
  ],
  "connections": {
    "Phone Trigger": {
      "main": [
        [
          {
            "node": "Extract Phone Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Phone Data": {
      "main": [
        [
          {
            "node": "Download Recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Recording": {
      "main": [
        [
          {
            "node": "Transcribe Recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Recording": {
      "main": [
        [
          {
            "node": "Normalize Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Phone": {
      "main": [
        [
          {
            "node": "Execute Tenant Resolver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Client Resolver": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Tenant Resolver": {
      "main": [
        [
          {
            "node": "Execute Client Resolver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "updatedAt": "2025-11-23T03:59:12.594Z",
      "createdAt": "2025-11-23T03:59:12.594Z",
      "name": "Eldoleado"
    },
    {
      "updatedAt": "2025-11-23T04:03:40.721Z",
      "createdAt": "2025-11-23T04:03:40.721Z",
      "name": "In"
    }
  ],
  "updatedAt": "2025-12-05T09:45:42.000Z",
  "createdAt": "2025-10-14T07:12:10.554Z"
}