NEW/workflows/Block 1 Messager/Resolve Contour/ELO_Resolver.json
{
  "updatedAt": "2025-12-28T11:31:28.959Z",
  "createdAt": "2025-12-26T17:46:17.366Z",
  "id": "YAaV3N1PmVgEmbXZ",
  "name": "ELO_Resolver",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "d1889584-304e-4fac-b7ba-f367452dda09",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -15232,
        7024
      ]
    },
    {
      "parameters": {
        "workflowId": "h97a3boAV7LuSBGZ",
        "options": {}
      },
      "id": "26f6acfc-d03d-415a-962f-53a7c0f9bec7",
      "name": "Call Tenant Resolver",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -14800,
        7024
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for Client Resolver\nconst tenantResult = $json;\nconst originalInput = tenantResult._original_input;\n\nreturn {\n  tenant_id: tenantResult.tenant_id,\n  channel_account_id: tenantResult.channel_account_id,\n  channel_id: tenantResult.channel_id,\n  channel: tenantResult.channel,\n  credential: tenantResult.credential,\n  external_chat_id: originalInput.external_chat_id,\n  sender_name: originalInput.sender_name || originalInput.client_name || 'Unknown',\n  sender_username: originalInput.sender_username || originalInput.client_username || '',\n  external_user_id: originalInput.external_user_id,\n  trace_id: tenantResult.trace_id,\n  _tenant_source: tenantResult._source,\n  _original_input: originalInput\n};"
      },
      "id": "58d11f80-85e7-402a-8104-c1dc6033a940",
      "name": "Prepare Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14576,
        7024
      ]
    },
    {
      "parameters": {
        "workflowId": "MOa50VVpseLR5xna",
        "options": {}
      },
      "id": "9adad32d-8c01-4208-97c6-a95d8ceb8e71",
      "name": "Call Client Resolver",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -14352,
        7024
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for Dialog Resolver\nconst clientResult = $json;\nconst preparedClient = $('Prepare Client').first().json;\n\nreturn {\n  tenant_id: preparedClient.tenant_id,\n  client_id: clientResult.client_id,\n  channel_id: preparedClient.channel_id,\n  trace_id: clientResult.trace_id,\n  _tenant_id: preparedClient.tenant_id,\n  _channel_account_id: preparedClient.channel_account_id,\n  _channel: preparedClient.channel,\n  _external_chat_id: preparedClient.external_chat_id,\n  _is_new_client: clientResult.is_new_client,\n  _was_unified: clientResult.was_unified,\n  _tenant_source: preparedClient._tenant_source,\n  _client_source: clientResult._source,\n  _original_input: preparedClient._original_input\n};"
      },
      "id": "a1068b02-7bc0-40fe-8ff6-d07e28ac57fb",
      "name": "Prepare Dialog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14128,
        7024
      ]
    },
    {
      "parameters": {
        "workflowId": "bPNUrwJNSyj52z8B",
        "options": {}
      },
      "id": "771ec404-3a7f-4fb1-9375-a41b5984abe6",
      "name": "Call Dialog Resolver",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -13920,
        7024
      ]
    },
    {
      "parameters": {
        "jsCode": "const dialogResult = $json;\n  const preparedDialog = $('Prepare Dialog').first().json;\n  const originalInput = $('Validate Input').first().json;\n\n  return {\n    tenant_id: dialogResult.tenant_id,\n    client_id: dialogResult.client_id,\n    dialog_id: dialogResult.dialog_id,\n    channel_id: dialogResult.channel_id,\n    channel_account_id: preparedDialog._channel_account_id,\n    channel: preparedDialog._channel,\n    external_chat_id: preparedDialog._external_chat_id,\n    text: originalInput.text || '',\n    trace_id: originalInput.trace_id,\n    config: originalInput.config,\n    is_new_client: preparedDialog._is_new_client,\n    is_new_dialog: dialogResult.is_new_dialog,\n    _execution_time_ms: Date.now() - originalInput._entry_timestamp\n  };"
      },
      "id": "b41bc653-176f-463a-896c-50281d40061a",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13680,
        7024
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Validate Input').first().json.config.CORE_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "cf1101b1-9512-45be-ba2d-3f7203bd002d",
      "name": "Forward to Core",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -13440,
        7024
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  INSERT INTO elo_t_messages (\n    tenant_id,\n    dialog_id,\n    client_id,\n    direction_id,\n    actor_type,\n    actor_id,\n    content,\n    external_message_id,\n    created_at\n  ) VALUES (\n    '{{ $('Build Response').first().json.tenant_id }}'::uuid,\n    '{{ $('Build Response').first().json.dialog_id }}'::uuid,\n    '{{ $('Build Response').first().json.client_id }}'::uuid,\n    1,\n    'client',\n    '{{ $('Build Response').first().json.client_id }}'::uuid,\n    '{{ ($('Build Response').first().json.text || '').replace(/'/g, \"''\") }}',\n    '{{ $('Build Response').first().json.trace_id }}',\n    NOW()\n  )\n  RETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -13232,
        7024
      ],
      "id": "5502d32d-fe88-4c2f-bd1a-a4d7643783a9",
      "name": "Save Incoming Message",
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const CONFIG = {\n    CACHE_TTL_TENANT: 86400,\n    CACHE_TTL_CLIENT: 3600,\n    CACHE_TTL_DIALOG: 1800,\n    CORE_URL: 'https://n8n.n8nsrv.ru/webhook/elo-core-ingest',\n    GRAPH_URL: 'http://45.144.177.128:8773/query'\n  };\n\n  const raw = $input.first().json;\n  const input = raw.payload || raw;\n\n  const trace_id = input.trace_id || `resolver_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\n  return {\n    ...input,\n    trace_id,\n    config: CONFIG,\n    _entry_timestamp: Date.now()\n  };"
      },
      "id": "9b649edb-b2de-4881-a516-540229748db2",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -15008,
        7024
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Tenant Resolver": {
      "main": [
        [
          {
            "node": "Prepare Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Client": {
      "main": [
        [
          {
            "node": "Call Client Resolver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Client Resolver": {
      "main": [
        [
          {
            "node": "Prepare Dialog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Dialog": {
      "main": [
        [
          {
            "node": "Call Dialog Resolver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Dialog Resolver": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to Core": {
      "main": [
        [
          {
            "node": "Save Incoming Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Incoming Message": {
      "main": [
        []
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Call Tenant Resolver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Forward to Core",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "skip": false,
          "batch_key": "whatsapp:79997253777@s.whatsapp.net",
          "payload": {
            "channel": "whatsapp",
            "external_user_id": "79997253777",
            "external_chat_id": "79997253777@s.whatsapp.net",
            "client_name": "Дмитрий",
            "client_phone": "+79997253777",
            "text": "К сожалению, у нас возникли трудности с получением необходимой информации. Пожалуйста, уточните ваш вопрос, и мы постараемся помочь вам.",
            "timestamp": "2025-12-28T11:22:28.000Z",
            "message_ids": [
              "3A53DE3A34FD19CFA41F"
            ],
            "trace_id": "trace_1766920980488",
            "media": {
              "has_voice": false,
              "voice_transcribed_text": null,
              "has_images": false,
              "images": [],
              "has_video": false,
              "videos": [],
              "has_document": false
            },
            "meta": {
              "external_message_id": "3A53DE3A34FD19CFA41F",
              "ad_channel": "whatsapp",
              "ad_id": null,
              "original_media_type": "text",
              "raw": {
                "sessionId": "wa_22222222-2222-2222-2222-222222222222_1766570899887",
                "message": {
                  "key": {
                    "remoteJid": "79997253777@s.whatsapp.net",
                    "fromMe": false,
                    "id": "3A53DE3A34FD19CFA41F",
                    "senderLid": "88115666518211@lid",
                    "remoteLid": "79997253777@lid",
                    "remoteJidNormalized": "79997253777@s.whatsapp.net"
                  },
                  "messageTimestamp": 1766920948,
                  "pushName": "Дмитрий",
                  "broadcast": false,
                  "message": {
                    "conversation": "К сожалению, у нас возникли трудности с получением необходимой информации. Пожалуйста, уточните ваш вопрос, и мы постараемся помочь вам.",
                    "messageContextInfo": {
                      "deviceListMetadata": {
                        "senderKeyHash": "bfKpC2v48BC7rw==",
                        "senderTimestamp": "1766734767",
                        "recipientKeyHash": "v/3fS+pwd3hHLw==",
                        "recipientTimestamp": "1766570916"
                      },
                      "deviceListMetadataVersion": 2,
                      "messageSecret": "x/GyDylKDjRYcdvWjgEmFN8VlMZOMOMhMUX9XyJ8uPU="
                    }
                  }
                },
                "type": "notify"
              },
              "provider": "baileys",
              "batched": false,
              "batch_size": 1,
              "batch_reason": "orphan"
            }
          },
          "batch_list_key": "batch:whatsapp:79997253777@s.whatsapp.net",
          "deadline_key": "deadline:whatsapp:79997253777@s.whatsapp.net",
          "first_seen_key": "first_seen:whatsapp:79997253777@s.whatsapp.net"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "1c2c5778-bb4a-41ad-b6f5-25b09f221936",
  "activeVersionId": null,
  "versionCounter": 50,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-26T17:46:17.372Z",
      "createdAt": "2025-12-26T17:46:17.372Z",
      "role": "workflow:owner",
      "workflowId": "YAaV3N1PmVgEmbXZ",
      "projectId": "x7frUSUEowDAk8Dt",
      "project": {
        "updatedAt": "2025-08-25T18:57:22.218Z",
        "createdAt": "2025-08-25T08:16:18.805Z",
        "id": "x7frUSUEowDAk8Dt",
        "name": "Dmitriy Remacs <dk@n8nsrv.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-25T08:16:18.805Z",
            "createdAt": "2025-08-25T08:16:18.805Z",
            "userId": "1d5222a1-8f53-4940-b7de-93daeae04393",
            "projectId": "x7frUSUEowDAk8Dt",
            "user": {
              "updatedAt": "2025-12-31T08:56:11.000Z",
              "createdAt": "2025-08-25T08:16:17.784Z",
              "id": "1d5222a1-8f53-4940-b7de-93daeae04393",
              "email": "dk@n8nsrv.ru",
              "firstName": "Dmitriy",
              "lastName": "Remacs",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RbSUhceYc7q41M5j",
                "userActivatedAt": 1756286438389
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-12-27T09:24:16.983Z",
      "createdAt": "2025-12-27T09:24:16.983Z",
      "id": "FmBrJ66uBJQlxu3o",
      "name": "Resolve"
    },
    {
      "updatedAt": "2025-12-09T18:50:08.518Z",
      "createdAt": "2025-12-09T18:50:08.518Z",
      "id": "tMSCjbvPU3xrNUqz",
      "name": "ELO"
    }
  ],
  "activeVersion": null
}