NEW/workflows/Channel Contour/ELO_Out/ELO_Out_Avito.json
{
  "updatedAt": "2025-12-23T18:12:54.000Z",
  "createdAt": "2025-12-10T10:00:56.185Z",
  "id": "X5hxPPtz3OQGB8SS",
  "name": "ELO_Out_Avito",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 3
            }
          ]
        }
      },
      "id": "8f889a72-df3f-4058-9b0e-444f7e545980",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1024,
        -208
      ]
    },
    {
      "parameters": {
        "operation": "pop",
        "list": "queue:outgoing:avito",
        "options": {}
      },
      "id": "8f1406bd-b527-436e-bef7-5e3068da2197",
      "name": "Redis Pop Message",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -800,
        -208
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-message",
              "leftValue": "={{ $json.message_json }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b93c5622-e124-43d9-8872-bd17080c82cd",
      "name": "IF Has Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -576,
        -208
      ]
    },
    {
      "parameters": {
        "jsCode": "const messageJson = $json.message_json;\nconst message = JSON.parse(messageJson);\n\nreturn {\n  out_message: message\n};"
      },
      "id": "0b3a4667-216a-4815-b2fd-27c5883d85b5",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -304
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "avito_access_token",
        "options": {}
      },
      "id": "2d6ce0f4-7833-480a-97c4-4c892a6f10a9",
      "name": "Get Access Token",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -128,
        -304
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-token",
              "leftValue": "={{ $json.value }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "12a87547-7c68-4bdb-bd43-536d625588b3",
      "name": "IF Token Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        96,
        -304
      ]
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse Message').first().json;\nconst tokenData = $input.first().json;\n\nconst accessToken = tokenData.value;\n\n// Escape message text for JSON\nconst escapedText = parsed.out_message.message_text\n  .replace(/\\\\/g, '\\\\\\\\')\n  .replace(/\"/g, '\\\\\"')\n  .replace(/\\n/g, '\\\\n')\n  .replace(/\\r/g, '\\\\r')\n  .replace(/\\t/g, '\\\\t');\n\nreturn {\n  ...parsed,\n  access_token: accessToken,\n  escaped_message_text: escapedText\n};"
      },
      "id": "79f1b770-60bf-4f4b-aab5-47980d8270c2",
      "name": "Prepare Send",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.avito.ru/messenger/v3/accounts/{{ $env.AVITO_USER_ID }}/chats/{{ $json.out_message.external_chat_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"type\": \"text\",\n    \"text\": \"{{ $json.escaped_message_text }}\"\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "9a2052d4-89dd-4a03-8d34-07898a84a168",
      "name": "Send Avito Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        544,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "const prepared = $('Prepare Send').first().json;\nconst response = $input.first().json;\n\nconst success = !response.error;\nconst messageId = response.id || Date.now().toString();\n\nreturn {\n  ...prepared,\n  avito_response: response,\n  message_id: messageId,\n  sent_at: new Date().toISOString(),\n  send_success: success\n};"
      },
      "id": "43fd2c7a-f2cc-4e3f-aadc-cd22f5590863",
      "name": "Process Avito Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE elo_t_dialogs SET\n  last_message_at = NOW(),\n  last_operator_message_at = NOW(),\n  updated_at = NOW()\nWHERE id = '{{ $json.out_message.dialog_id }}'::uuid;",
        "options": {}
      },
      "id": "a2f2a9ab-a844-4c20-813e-75ec12a533ff",
      "name": "Update Dialog Timestamp",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        992,
        -400
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// No token found - log error\nconst parsed = $('Parse Message').first().json;\n\nconsole.error('No Avito access token found');\n\nreturn {\n  success: false,\n  error: 'No Avito access token found - run token refresher',\n  out_message: parsed.out_message\n};"
      },
      "id": "667373af-8490-4388-b29d-a539f2e58244",
      "name": "No Token Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -208
      ]
    },
    {
      "parameters": {
        "jsCode": "// No message in queue - just return\nreturn { empty: true };"
      },
      "id": "6ceaac85-1078-4f5e-9cf1-3fdffbbec937",
      "name": "No Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -112
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Redis Pop Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Pop Message": {
      "main": [
        [
          {
            "node": "IF Has Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Message": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Get Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Access Token": {
      "main": [
        [
          {
            "node": "IF Token Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Token Exists": {
      "main": [
        [
          {
            "node": "Prepare Send",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Token Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Send": {
      "main": [
        [
          {
            "node": "Send Avito Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Avito Message": {
      "main": [
        [
          {
            "node": "Process Avito Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Avito Response": {
      "main": [
        [
          {
            "node": "Update Dialog Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "05206939-0801-489c-a5d2-ff32f917b2ce",
  "activeVersionId": null,
  "versionCounter": 5,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-10T10:00:56.191Z",
      "createdAt": "2025-12-10T10:00:56.191Z",
      "role": "workflow:owner",
      "workflowId": "X5hxPPtz3OQGB8SS",
      "projectId": "x7frUSUEowDAk8Dt",
      "project": {
        "updatedAt": "2025-08-25T18:57:22.218Z",
        "createdAt": "2025-08-25T08:16:18.805Z",
        "id": "x7frUSUEowDAk8Dt",
        "name": "Dmitriy Remacs <dk@n8nsrv.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-25T08:16:18.805Z",
            "createdAt": "2025-08-25T08:16:18.805Z",
            "userId": "1d5222a1-8f53-4940-b7de-93daeae04393",
            "projectId": "x7frUSUEowDAk8Dt",
            "user": {
              "updatedAt": "2025-12-31T08:56:11.000Z",
              "createdAt": "2025-08-25T08:16:17.784Z",
              "id": "1d5222a1-8f53-4940-b7de-93daeae04393",
              "email": "dk@n8nsrv.ru",
              "firstName": "Dmitriy",
              "lastName": "Remacs",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RbSUhceYc7q41M5j",
                "userActivatedAt": 1756286438389
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-23T04:03:34.766Z",
      "createdAt": "2025-11-23T04:03:34.766Z",
      "id": "IbDkJphbr4EygdRZ",
      "name": "Out"
    },
    {
      "updatedAt": "2025-12-09T18:50:08.518Z",
      "createdAt": "2025-12-09T18:50:08.518Z",
      "id": "tMSCjbvPU3xrNUqz",
      "name": "ELO"
    }
  ],
  "activeVersion": null
}