NEW/workflows/Channel Contour/ELO_Out/ELO_Out_WhatsApp.json
{
  "updatedAt": "2025-12-29T11:29:02.101Z",
  "createdAt": "2025-12-10T10:01:53.940Z",
  "id": "j8SAGf1ZIC8uqDya",
  "name": "ELO_Out_WhatsApp",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 3
            }
          ]
        }
      },
      "id": "59cd4f62-3516-4944-89d3-2539af6b306c",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1728,
        160
      ]
    },
    {
      "parameters": {
        "operation": "pop",
        "list": "queue:outgoing:whatsapp",
        "options": {}
      },
      "id": "a0de0a32-33b2-4734-8481-0bfaebd70180",
      "name": "Redis Pop Message",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1504,
        160
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-message",
              "leftValue": "={{ $json.propertyName.message_text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "70c011af-fa6b-4baf-97ac-1276e1c40b7c",
      "name": "IF Has Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1280,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "let message;\n  if ($json.message_json) {\n    message = typeof $json.message_json === 'string'\n      ? JSON.parse($json.message_json)\n      : $json.message_json;\n  } else if ($json.propertyName) {\n    message = typeof $json.propertyName === 'string'\n      ? JSON.parse($json.propertyName)\n      : $json.propertyName;\n  } else {\n    throw new Error('No message data found');\n  }\n\n  return {\n    out_message: message\n  };"
      },
      "id": "995fddb5-479d-49aa-8955-4dcbba4f660b",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        64
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    ca.session_id,\n    ca.ip_node_id,\n    n.server_host,\n    n.ip_address::text as ip_address,\n    n.port_whatsapp as port\n  FROM elo_t_channel_accounts ca\n  LEFT JOIN elo_ip_nodes n ON n.id = ca.ip_node_id\n  WHERE ca.tenant_id = '{{ $json.out_message.tenant_id }}'::uuid\n    AND ca.channel_id = 2\n    AND ca.is_active = true\n    AND ca.session_status = 'connected'\n  LIMIT 1;\n",
        "options": {}
      },
      "id": "10c77e06-1e26-4a57-8ce1-91937182bcc7",
      "name": "Get WhatsApp Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -832,
        64
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-session",
              "leftValue": "={{ $json.session_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c7e551d9-3089-49b0-a08b-1a0989f4afb7",
      "name": "IF Session Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -608,
        64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://155.212.221.189:8769/messages/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"sessionId\": \"{{ $('Get WhatsApp Session').item.json.session_id }}\",\n    \"to\": \"{{ $('Parse Message').item.json.out_message.external_chat_id }}\",\n    \"text\": \"{{ $('Parse Message').item.json.out_message.message_text.replace(/\\\"/g, '\\\\\\\"').replace(/\\n/g, '\\\\n') }}\"\n  }",
        "options": {
          "timeout": 30000
        }
      },
      "id": "98360e13-d3b9-41e1-8d0f-239f2478a211",
      "name": "Send via Baileys",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -384,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse Message').first().json;\nconst sessionData = $('Get WhatsApp Session').first().json;\nconst response = $input.first().json;\n\nconst success = response.success === true;\nconst messageId = response.data?.messageId || Date.now().toString();\n\nreturn {\n  ...parsed,\n  baileys_response: response,\n  message_id: messageId,\n  sent_at: new Date().toISOString(),\n  send_success: success,\n  session_id: sessionData.session_id\n};"
      },
      "id": "f400bceb-522e-465e-9095-1c96f7546402",
      "name": "Process Baileys Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -32
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE elo_t_dialogs SET\n  last_message_at = NOW(),\n  last_operator_message_at = NOW(),\n  updated_at = NOW()\nWHERE id = '{{ $json.out_message.dialog_id }}'::uuid;",
        "options": {}
      },
      "id": "b33a1571-905e-4858-8fa0-36f84d07f3dc",
      "name": "Update Dialog Timestamp",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        64,
        -32
      ],
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// No session found - log error\nconst parsed = $('Parse Message').first().json;\n\nconsole.error('No active WhatsApp session found for tenant:', parsed.out_message?.tenant_id);\n\nreturn {\n  success: false,\n  error: 'No active WhatsApp session found for tenant',\n  tenant_id: parsed.out_message?.tenant_id,\n  out_message: parsed.out_message\n};"
      },
      "id": "37912a38-7d7e-420e-acba-d99483a5274b",
      "name": "No Session Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// No message in queue - just return\nreturn { empty: true };"
      },
      "id": "c22a1ecb-64fa-4cd0-8bbf-9b92a7693e41",
      "name": "No Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        256
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Redis Pop Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Pop Message": {
      "main": [
        [
          {
            "node": "IF Has Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Message": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Get WhatsApp Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get WhatsApp Session": {
      "main": [
        [
          {
            "node": "IF Session Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Session Exists": {
      "main": [
        [
          {
            "node": "Send via Baileys",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Session Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via Baileys": {
      "main": [
        [
          {
            "node": "Process Baileys Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Baileys Response": {
      "main": [
        [
          {
            "node": "Update Dialog Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-12-28T15:39:36.003+04:00",
          "Readable date": "December 28th 2025, 3:39:36 pm",
          "Readable time": "3:39:36 pm",
          "Day of week": "Sunday",
          "Year": "2025",
          "Month": "December",
          "Day of month": "28",
          "Hour": "15",
          "Minute": "39",
          "Second": "36",
          "Timezone": "Europe/Samara (UTC+04:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "267381f8-0e2e-47f5-99b1-ac4edc1721dc",
  "activeVersionId": "267381f8-0e2e-47f5-99b1-ac4edc1721dc",
  "versionCounter": 38,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-10T10:01:53.948Z",
      "createdAt": "2025-12-10T10:01:53.948Z",
      "role": "workflow:owner",
      "workflowId": "j8SAGf1ZIC8uqDya",
      "projectId": "x7frUSUEowDAk8Dt",
      "project": {
        "updatedAt": "2025-08-25T18:57:22.218Z",
        "createdAt": "2025-08-25T08:16:18.805Z",
        "id": "x7frUSUEowDAk8Dt",
        "name": "Dmitriy Remacs <dk@n8nsrv.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-25T08:16:18.805Z",
            "createdAt": "2025-08-25T08:16:18.805Z",
            "userId": "1d5222a1-8f53-4940-b7de-93daeae04393",
            "projectId": "x7frUSUEowDAk8Dt",
            "user": {
              "updatedAt": "2025-12-31T08:56:11.000Z",
              "createdAt": "2025-08-25T08:16:17.784Z",
              "id": "1d5222a1-8f53-4940-b7de-93daeae04393",
              "email": "dk@n8nsrv.ru",
              "firstName": "Dmitriy",
              "lastName": "Remacs",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RbSUhceYc7q41M5j",
                "userActivatedAt": 1756286438389
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-23T04:03:34.766Z",
      "createdAt": "2025-11-23T04:03:34.766Z",
      "id": "IbDkJphbr4EygdRZ",
      "name": "Out"
    },
    {
      "updatedAt": "2025-12-09T18:50:08.518Z",
      "createdAt": "2025-12-09T18:50:08.518Z",
      "id": "tMSCjbvPU3xrNUqz",
      "name": "ELO"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-28T18:37:16.775Z",
    "createdAt": "2025-12-28T18:37:16.775Z",
    "versionId": "267381f8-0e2e-47f5-99b1-ac4edc1721dc",
    "workflowId": "j8SAGf1ZIC8uqDya",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "seconds",
                "secondsInterval": 3
              }
            ]
          }
        },
        "id": "59cd4f62-3516-4944-89d3-2539af6b306c",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -1728,
          160
        ]
      },
      {
        "parameters": {
          "operation": "pop",
          "list": "queue:outgoing:whatsapp",
          "options": {}
        },
        "id": "a0de0a32-33b2-4734-8481-0bfaebd70180",
        "name": "Redis Pop Message",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -1504,
          160
        ],
        "credentials": {
          "redis": {
            "id": "7FQcEivUY94atW24",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "has-message",
                "leftValue": "={{ $json.propertyName.message_text }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "70c011af-fa6b-4baf-97ac-1276e1c40b7c",
        "name": "IF Has Message",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -1280,
          160
        ]
      },
      {
        "parameters": {
          "jsCode": "let message;\n  if ($json.message_json) {\n    message = typeof $json.message_json === 'string'\n      ? JSON.parse($json.message_json)\n      : $json.message_json;\n  } else if ($json.propertyName) {\n    message = typeof $json.propertyName === 'string'\n      ? JSON.parse($json.propertyName)\n      : $json.propertyName;\n  } else {\n    throw new Error('No message data found');\n  }\n\n  return {\n    out_message: message\n  };"
        },
        "id": "995fddb5-479d-49aa-8955-4dcbba4f660b",
        "name": "Parse Message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1056,
          64
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n    ca.session_id,\n    ca.ip_node_id,\n    n.server_host,\n    n.ip_address::text as ip_address,\n    n.port_whatsapp as port\n  FROM elo_t_channel_accounts ca\n  LEFT JOIN elo_ip_nodes n ON n.id = ca.ip_node_id\n  WHERE ca.tenant_id = '{{ $json.out_message.tenant_id }}'::uuid\n    AND ca.channel_id = 2\n    AND ca.is_active = true\n    AND ca.session_status = 'connected'\n  LIMIT 1;\n",
          "options": {}
        },
        "id": "10c77e06-1e26-4a57-8ce1-91937182bcc7",
        "name": "Get WhatsApp Session",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -832,
          64
        ],
        "credentials": {
          "postgres": {
            "id": "n2SyhP9QhMnp1ryk",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "has-session",
                "leftValue": "={{ $json.session_id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "c7e551d9-3089-49b0-a08b-1a0989f4afb7",
        "name": "IF Session Exists",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -608,
          64
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=http://155.212.221.189:8769/messages/text",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"sessionId\": \"{{ $('Get WhatsApp Session').item.json.session_id }}\",\n    \"to\": \"{{ $('Parse Message').item.json.out_message.external_chat_id }}\",\n    \"text\": \"{{ $('Parse Message').item.json.out_message.message_text.replace(/\\\"/g, '\\\\\\\"').replace(/\\n/g, '\\\\n') }}\"\n  }",
          "options": {
            "timeout": 30000
          }
        },
        "id": "98360e13-d3b9-41e1-8d0f-239f2478a211",
        "name": "Send via Baileys",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -384,
          -32
        ]
      },
      {
        "parameters": {
          "jsCode": "const parsed = $('Parse Message').first().json;\nconst sessionData = $('Get WhatsApp Session').first().json;\nconst response = $input.first().json;\n\nconst success = response.success === true;\nconst messageId = response.data?.messageId || Date.now().toString();\n\nreturn {\n  ...parsed,\n  baileys_response: response,\n  message_id: messageId,\n  sent_at: new Date().toISOString(),\n  send_success: success,\n  session_id: sessionData.session_id\n};"
        },
        "id": "f400bceb-522e-465e-9095-1c96f7546402",
        "name": "Process Baileys Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -160,
          -32
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE elo_t_dialogs SET\n  last_message_at = NOW(),\n  last_operator_message_at = NOW(),\n  updated_at = NOW()\nWHERE id = '{{ $json.out_message.dialog_id }}'::uuid;",
          "options": {}
        },
        "id": "b33a1571-905e-4858-8fa0-36f84d07f3dc",
        "name": "Update Dialog Timestamp",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          64,
          -32
        ],
        "credentials": {
          "postgres": {
            "id": "n2SyhP9QhMnp1ryk",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// No session found - log error\nconst parsed = $('Parse Message').first().json;\n\nconsole.error('No active WhatsApp session found for tenant:', parsed.out_message?.tenant_id);\n\nreturn {\n  success: false,\n  error: 'No active WhatsApp session found for tenant',\n  tenant_id: parsed.out_message?.tenant_id,\n  out_message: parsed.out_message\n};"
        },
        "id": "37912a38-7d7e-420e-acba-d99483a5274b",
        "name": "No Session Error",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -384,
          160
        ]
      },
      {
        "parameters": {
          "jsCode": "// No message in queue - just return\nreturn { empty: true };"
        },
        "id": "c22a1ecb-64fa-4cd0-8bbf-9b92a7693e41",
        "name": "No Message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1056,
          256
        ]
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Redis Pop Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis Pop Message": {
        "main": [
          [
            {
              "node": "IF Has Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Has Message": {
        "main": [
          [
            {
              "node": "Parse Message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Message": {
        "main": [
          [
            {
              "node": "Get WhatsApp Session",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get WhatsApp Session": {
        "main": [
          [
            {
              "node": "IF Session Exists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Session Exists": {
        "main": [
          [
            {
              "node": "Send via Baileys",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Session Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send via Baileys": {
        "main": [
          [
            {
              "node": "Process Baileys Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Baileys Response": {
        "main": [
          [
            {
              "node": "Update Dialog Timestamp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dmitriy Remacs",
    "name": null,
    "description": null
  }
}