NEW/MVP/Android Messager/tunnel-server/n8n/ELO_Message_Router.json
{
  "name": "ELO_Message_Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "router",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "router-webhook"
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.item.json.body || $input.item.json;\nconst direction = msg.direction || 'in';\nconst status = msg.status || '';\n\nlet messageType;\nif (direction === 'in') {\n  messageType = 'from_client';\n} else if (direction === 'out') {\n  messageType = (status === 'approved') ? 'approved' : 'from_operator';\n} else {\n  messageType = 'from_client';\n}\n\nreturn {\n  json: {\n    ...msg,\n    _message_type: messageType\n  }\n};"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "Determine Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._message_type }}",
              "rightValue": "from_client",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "Is From Client",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._message_type }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "Is Approved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 520]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.item.json;\n\nreturn {\n  json: {\n    route_action: 'push_to_operator',\n    payload: {\n      action: 'new_message',\n      message: {\n        id: msg.id,\n        channel: msg.channel,\n        chat_id: msg.chat_id,\n        sender_id: msg.sender_id,\n        sender_name: msg.sender_name,\n        sender_phone: msg.sender_phone,\n        text: msg.text,\n        has_audio: msg.has_audio || false,\n        transcription: msg.transcription,\n        has_media: msg.has_media || false,\n        media_type: msg.media_type,\n        media_url: msg.media_url,\n        media_local_path: msg.media_local_path,\n        timestamp: msg.timestamp,\n        server_id: msg.server_id\n      }\n    }\n  }\n};"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "From Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://eldoleado.ru"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-2.0-flash-001\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a Russian text editor. Fix grammar, spelling, and punctuation errors. Keep the meaning intact. Output ONLY the corrected text, nothing else.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.text || '') }}\n    }\n  ],\n  \"max_tokens\": 1000,\n  \"temperature\": 0.1\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "Normalize Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 400]
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Determine Type').item.json;\nconst response = $input.item.json;\nconst normalized = response.choices?.[0]?.message?.content?.trim() || msg.text;\n\nreturn {\n  json: {\n    route_action: 'push_to_operator',\n    payload: {\n      action: 'show_draft',\n      message: {\n        id: msg.id,\n        channel: msg.channel,\n        chat_id: msg.chat_id,\n        original_text: msg.text,\n        normalized_text: normalized,\n        timestamp: msg.timestamp,\n        server_id: msg.server_id\n      }\n    }\n  }\n};"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000007",
      "name": "Build Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 400]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.item.json;\n\nreturn {\n  json: {\n    route_action: 'send_to_client',\n    payload: {\n      action: 'send_message',\n      channel: msg.channel,\n      chat_id: msg.chat_id,\n      text: msg.final_text || msg.text,\n      server_id: msg.server_id,\n      message_id: msg.id\n    }\n  }\n};"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000008",
      "name": "Approved",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 620]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000009",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1360, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Determine Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Type": {
      "main": [
        [
          {
            "node": "Is From Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is From Client": {
      "main": [
        [
          {
            "node": "From Client",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Approved": {
      "main": [
        [
          {
            "node": "Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "From Client": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Text": {
      "main": [
        [
          {
            "node": "Build Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Draft": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-12-17T12:00:00.000Z",
  "versionId": "1"
}
