NEW/workflows/ELO_InOut/ELO_In/ELO_In_Avito.json
{
  "name": "ELO_In_Avito",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "avito",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "fe64d5c7-7982-4d3d-aa9e-f93a078ff6f4",
      "name": "Avito Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1040,
        80
      ],
      "webhookId": "avito-webhook"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $input.first().json;\nconst msg = webhookData.payload?.value;\n\nif (!msg) {\n  throw new Error('Invalid Avito webhook payload');\n}\n\n// AUTH CHECK - простая проверка что это от Avito\nif (!webhookData.id || !webhookData.timestamp) {\n  throw new Error('Invalid webhook format');\n}\n\n// SYSTEM FILTER - пропускаем системные сообщения\nconst isSystem = (\n  msg.author_id === msg.user_id ||\n  msg.author_id === 0 ||\n  !msg.author_id\n);\n\nif (isSystem) {\n  return { skip: true, reason: 'system_message' };\n}\n\nconst messageText = msg.content?.text || '';\nconst authorName = msg.author?.name || null;\n\n// Проверяем типы медиа\nconst hasPhoto = msg.type === 'image';\nconst hasVoice = msg.type === 'voice';\nconst hasVideo = msg.type === 'video';\nconst hasDocument = msg.type === 'file';\n\nconst urls = [];\nlet photoUrl = null;\nlet voiceUrl = null;\nlet videoUrl = null;\n\nif (msg.content?.url) {\n  urls.push(msg.content.url);\n  if (hasPhoto) photoUrl = msg.content.url;\n  if (hasVoice) voiceUrl = msg.content.url;\n  if (hasVideo) videoUrl = msg.content.url;\n}\n\nreturn {\n  skip: false,\n  has_voice: hasVoice,\n  voice_url: voiceUrl,\n  raw_message: msg,\n  user_id: msg.user_id,\n  author_id: msg.author_id,\n  author_name: authorName,\n  chat_id: msg.chat_id,\n  message_id: msg.id,\n  message_text: messageText,\n  message_type: msg.type,\n  created: msg.created,\n  item_id: msg.item_id,\n  has_photo: hasPhoto,\n  photo_url: photoUrl,\n  has_video: hasVideo,\n  video_url: videoUrl,\n  has_document: hasDocument,\n  urls: urls\n};"
      },
      "id": "99c5e201-93fc-49d9-9150-3eded9edeb4f",
      "name": "Parse Auth Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}",
              "value2": true
            }
          ]
        }
      },
      "id": "13395364-4167-4f5e-a011-77440689eb14",
      "name": "Should Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -608,
        80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"skipped\": true } }}",
        "options": {}
      },
      "id": "cfaa7de1-571b-452a-b9d4-ec2df63700fe",
      "name": "Respond Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -384,
        -32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_voice }}",
              "value2": true
            }
          ]
        }
      },
      "id": "15ce4418-91b2-4cf7-b875-e804a1619d50",
      "name": "Has Voice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -384,
        176
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.voice_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "d6bf75a7-6e7c-4ecd-b8d5-e654f7f43b44",
      "name": "Download Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -160,
        80
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        64,
        80
      ],
      "id": "8063b464-5bb2-43c2-bf4f-39fac915c90d",
      "name": "Transcribe Voice",
      "credentials": {
        "openAiApi": {
          "id": "ptoy1RvCOn39G0Af",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse Auth Filter').first().json;\nconst transcription = $input.first().json.text;\n\nlet messageText = data.message_text;\nif (transcription) {\n  messageText = (messageText ? messageText + '\\n\\n' : '') + transcription;\n}\n\nreturn {\n  channel: 'avito',\n  external_user_id: data.author_id.toString(),\n  external_chat_id: data.chat_id,\n  \n  text: messageText,\n  timestamp: new Date(data.created * 1000).toISOString(),\n  \n  client_phone: null,\n  client_name: data.author_name,\n  client_email: null,\n  \n  media: {\n    has_voice: true,\n    voice_transcribed_text: transcription,\n    has_images: data.has_photo,\n    images: data.has_photo ? [{ url: data.photo_url }] : [],\n    has_video: data.has_video,\n    videos: data.has_video ? [{ url: data.video_url }] : [],\n    has_document: data.has_document\n  },\n  \n  meta: {\n    external_message_id: data.message_id,\n    ad_channel: 'avito',\n    ad_id: data.item_id?.toString(),\n    original_media_type: 'voice',\n    raw: data.raw_message,\n    chat_type: data.raw_message.chat_type,\n    user_id: data.user_id\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
      },
      "id": "701a5018-4865-4d80-a788-308ffd13ad6a",
      "name": "Normalize with Voice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn {\n  channel: 'avito',\n  external_user_id: data.author_id.toString(),\n  external_chat_id: data.chat_id,\n  \n  text: data.message_text,\n  timestamp: new Date(data.created * 1000).toISOString(),\n  \n  client_phone: null,\n  client_name: data.author_name,\n  client_email: null,\n  \n  media: {\n    has_voice: false,\n    voice_transcribed_text: null,\n    has_images: data.has_photo,\n    images: data.has_photo ? [{ url: data.photo_url }] : [],\n    has_video: data.has_video,\n    videos: data.has_video ? [{ url: data.video_url }] : [],\n    has_document: data.has_document\n  },\n  \n  meta: {\n    external_message_id: data.message_id,\n    ad_channel: 'avito',\n    ad_id: data.item_id?.toString(),\n    original_media_type: data.has_photo ? 'photo' : data.has_video ? 'video' : 'text',\n    raw: data.raw_message,\n    chat_type: data.raw_message.chat_type,\n    user_id: data.user_id\n  },\n  \n  prefilled_data: {\n    model: null,\n    parts_owner: null\n  }\n};"
      },
      "id": "6a29d3bf-7359-417c-9d29-6aa60899c526",
      "name": "Normalize without Voice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        272
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rRO6sxLqiCdgvLZz",
          "mode": "list",
          "cachedResultUrl": "/workflow/rRO6sxLqiCdgvLZz",
          "cachedResultName": "ELO_Core_Tenant_Resolver"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        496,
        176
      ],
      "id": "518ee5af-c501-43b5-a194-6ef6b386020c",
      "name": "Execute Tenant Resolver"
    },
    {
      "parameters": {
        "jsCode": "// Подготавливаем сообщение для Redis очереди\nconst data = $input.first().json;\n\n// Сериализуем в JSON для Redis\nreturn {\n  message_json: JSON.stringify(data),\n  batch_key: `${data.channel}:${data.external_chat_id}`\n};"
      },
      "id": "4e221e08-67c0-45e6-bc74-194918aeee3c",
      "name": "Prepare for Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        176
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "queue:incoming",
        "messageData": "={{ $json.message_json }}",
        "tail": true
      },
      "id": "e9b439c4-33a6-4b7a-912b-44f9db2f150c",
      "name": "Push to Queue",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        944,
        176
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"queued\": true, \"batch_key\": $('Prepare for Queue').item.json.batch_key } }}",
        "options": {}
      },
      "id": "486cda09-f5dc-4d6a-8efe-29d69a095025",
      "name": "Respond Queued",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1168,
        176
      ]
    }
  ],
  "connections": {
    "Avito Trigger": {
      "main": [
        [
          {
            "node": "Parse Auth Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Auth Filter": {
      "main": [
        [
          {
            "node": "Should Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Skip?": {
      "main": [
        [
          {
            "node": "Respond Skipped",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Voice?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Voice?": {
      "main": [
        [
          {
            "node": "Download Voice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize without Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice": {
      "main": [
        [
          {
            "node": "Transcribe Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voice": {
      "main": [
        [
          {
            "node": "Normalize with Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize with Voice": {
      "main": [
        [
          {
            "node": "Execute Tenant Resolver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize without Voice": {
      "main": [
        [
          {
            "node": "Execute Tenant Resolver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Tenant Resolver": {
      "main": [
        [
          {
            "node": "Prepare for Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Queue": {
      "main": [
        [
          {
            "node": "Push to Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to Queue": {
      "main": [
        [
          {
            "node": "Respond Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "updatedAt": "2025-11-23T03:59:12.594Z",
      "createdAt": "2025-11-23T03:59:12.594Z",
      "name": "Eldoleado"
    },
    {
      "updatedAt": "2025-11-23T04:03:40.721Z",
      "createdAt": "2025-11-23T04:03:40.721Z",
      "name": "In"
    }
  ],
  "updatedAt": "2025-12-05T09:45:49.000Z",
  "createdAt": "2025-10-13T18:30:17.874Z"
}