NEW/workflows/API/API_Android_Send_Message.json
{
  "name": "ELO_API_Android_Send_Message",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "android-messages/android/dialogs/:dialog_id/messages",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-send",
      "name": "Webhook - Send Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-800, 200],
      "webhookId": "android-send-message"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT od.operator_id, od.tenant_id, o.name as operator_name\nFROM elo_t_operator_devices od\nJOIN elo_t_operators o ON od.operator_id = o.id\nWHERE od.session_token = '{{ $json.body.session_token }}'\n  AND od.is_active = true\nLIMIT 1;",
        "options": {}
      },
      "id": "validate-session",
      "name": "Postgres - Validate Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-576, 200],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "session-valid",
              "leftValue": "={{ $json.operator_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-session-valid",
      "name": "IF - Session Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-352, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  d.id as dialog_id,\n  d.tenant_id,\n  d.client_id,\n  d.external_chat_id as chat_id,\n  LOWER(ch.name) as channel,\n  c.name as client_name,\n  c.phone as client_phone\nFROM elo_t_dialogs d\nJOIN elo_t_clients c ON d.client_id = c.id\nJOIN elo_channels ch ON d.channel_id = ch.id\nWHERE d.id = '{{ $('Webhook - Send Message').item.json.params.dialog_id }}'::uuid\n  AND d.tenant_id = '{{ $('Postgres - Validate Session').item.json.tenant_id }}'::uuid\nLIMIT 1;",
        "options": {}
      },
      "id": "get-dialog-info",
      "name": "Postgres - Get Dialog Info",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-128, 100],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO elo_t_messages (\n  tenant_id,\n  dialog_id,\n  client_id,\n  direction_id,\n  message_type_id,\n  actor_type,\n  actor_id,\n  content,\n  media,\n  timestamp\n) VALUES (\n  '{{ $('Postgres - Get Dialog Info').item.json.tenant_id }}'::uuid,\n  '{{ $('Postgres - Get Dialog Info').item.json.dialog_id }}'::uuid,\n  '{{ $('Postgres - Get Dialog Info').item.json.client_id }}'::uuid,\n  2,\n  {{ $('Webhook - Send Message').item.json.body.media_type === 'voice' ? 2 : 1 }},\n  'operator',\n  '{{ $('Postgres - Validate Session').item.json.operator_id }}'::uuid,\n  '{{ $('Webhook - Send Message').item.json.body.text.replace(/'/g, \"''\") }}',\n  '{{ $('Webhook - Send Message').item.json.body.media_data ? JSON.stringify({type: $('Webhook - Send Message').item.json.body.media_type, data: $('Webhook - Send Message').item.json.body.media_data}) : '{}' }}'::jsonb,\n  NOW()\n)\nRETURNING id, content as text, 'out' as direction, 'operator' as sender_type, \n  '{{ $('Postgres - Validate Session').item.json.operator_name }}' as sender_name,\n  EXTRACT(EPOCH FROM timestamp)::bigint * 1000 as timestamp;",
        "options": {}
      },
      "id": "insert-message",
      "name": "Postgres - Insert Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [96, 100],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dialogInfo = $('Postgres - Get Dialog Info').first().json;\nconst message = $('Postgres - Insert Message').first().json;\nconst body = $('Webhook - Send Message').first().json.body;\n\n// Prepare data for channel sending\nreturn {\n  channel: dialogInfo.channel,\n  chat_id: dialogInfo.chat_id,\n  text: body.text,\n  media_type: body.media_type || null,\n  media_data: body.media_data || null,\n  message: {\n    id: message.id,\n    text: message.text,\n    direction: message.direction,\n    sender_type: message.sender_type,\n    sender_name: message.sender_name,\n    timestamp: message.timestamp\n  }\n};"
      },
      "id": "prepare-send",
      "name": "Prepare Channel Send",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": {{ JSON.stringify($json.message) }}\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "response-success",
      "name": "Response - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [544, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"invalid_session\"\n}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "response-unauthorized",
      "name": "Response - Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-128, 300]
    }
  ],
  "connections": {
    "Webhook - Send Message": {
      "main": [
        [
          {
            "node": "Postgres - Validate Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Validate Session": {
      "main": [
        [
          {
            "node": "IF - Session Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Session Valid": {
      "main": [
        [
          {
            "node": "Postgres - Get Dialog Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response - Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Get Dialog Info": {
      "main": [
        [
          {
            "node": "Postgres - Insert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Insert Message": {
      "main": [
        [
          {
            "node": "Prepare Channel Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Channel Send": {
      "main": [
        [
          {
            "node": "Response - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "ELO"
    },
    {
      "name": "API"
    }
  ]
}
