NEW/workflows/API/API_Android_Messages.json
{
  "name": "ELO_API_Android_Messages",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "android/dialogs/:dialog_id/messages",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-messages",
      "name": "Webhook - Get Messages",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-800, 200],
      "webhookId": "android-messages"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT od.operator_id, od.tenant_id\nFROM elo_t_operator_devices od\nWHERE od.session_token = '{{ $json.query.session_token }}'\n  AND od.is_active = true\nLIMIT 1;",
        "options": {}
      },
      "id": "validate-session",
      "name": "Postgres - Validate Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-576, 200],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "session-valid",
              "leftValue": "={{ $json.operator_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-session-valid",
      "name": "IF - Session Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-352, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  d.id as dialog_id,\n  c.name as client_name,\n  c.phone as client_phone,\n  LOWER(ch.name) as channel,\n  d.external_chat_id as chat_id\nFROM elo_t_dialogs d\nJOIN elo_t_clients c ON d.client_id = c.id\nJOIN elo_channels ch ON d.channel_id = ch.id\nWHERE d.id = '{{ $('Webhook - Get Messages').item.json.params.dialog_id }}'::uuid\n  AND d.tenant_id = '{{ $('Postgres - Validate Session').item.json.tenant_id }}'::uuid\nLIMIT 1;",
        "options": {}
      },
      "id": "get-dialog-info",
      "name": "Postgres - Get Dialog Info",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-128, 104],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  m.id,\n  m.content as text,\n  m.direction_id,\n  CASE WHEN m.direction_id = 1 THEN 'in' ELSE 'out' END as direction,\n  m.actor_type as sender_type,\n  CASE \n    WHEN m.actor_type = 'client' THEN (SELECT name FROM elo_t_clients WHERE id = m.client_id)\n    WHEN m.actor_type = 'operator' THEN (SELECT name FROM elo_t_operators WHERE id = m.actor_id)\n    WHEN m.actor_type = 'ai' THEN 'AI'\n    ELSE m.actor_type\n  END as sender_name,\n  m.message_type_id,\n  m.media,\n  EXTRACT(EPOCH FROM m.timestamp)::bigint * 1000 as timestamp\nFROM elo_t_messages m\nWHERE m.dialog_id = '{{ $('Webhook - Get Messages').item.json.params.dialog_id }}'::uuid\nORDER BY m.timestamp ASC\nLIMIT 100;",
        "options": {}
      },
      "id": "get-messages",
      "name": "Postgres - Get Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [96, 104],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dialogInfo = $('Postgres - Get Dialog Info').first().json;\nconst messagesRaw = $('Postgres - Get Messages').all();\n\nconst messages = messagesRaw.map(item => {\n  const m = item.json;\n  return {\n    id: m.id,\n    text: m.text || '',\n    direction: m.direction || 'in',\n    sender_type: m.sender_type || 'client',\n    sender_name: m.sender_name || '',\n    timestamp: m.timestamp || 0,\n    media: m.media || null\n  };\n});\n\nreturn {\n  dialog: {\n    id: dialogInfo.dialog_id,\n    client_name: dialogInfo.client_name,\n    client_phone: dialogInfo.client_phone,\n    channel: dialogInfo.channel,\n    chat_id: dialogInfo.chat_id\n  },\n  messages: messages\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 104]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"dialog\": {{ JSON.stringify($json.dialog) }},\n  \"messages\": {{ JSON.stringify($json.messages) }}\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "response-success",
      "name": "Response - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [544, 104]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"invalid_session\"\n}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "response-unauthorized",
      "name": "Response - Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-128, 296]
    }
  ],
  "connections": {
    "Webhook - Get Messages": {
      "main": [
        [
          {
            "node": "Postgres - Validate Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Validate Session": {
      "main": [
        [
          {
            "node": "IF - Session Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Session Valid": {
      "main": [
        [
          {
            "node": "Postgres - Get Dialog Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response - Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Get Dialog Info": {
      "main": [
        [
          {
            "node": "Postgres - Get Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Get Messages": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Response - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "ELO"
    },
    {
      "name": "API"
    }
  ]
}
