NEW/workflows/API/API_Android_Normalize.json
{
  "name": "ELO_API_Android_Normalize",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "android-messages/android/dialogs/:dialog_id/normalize",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-normalize",
      "name": "Webhook - Normalize",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-800, 200],
      "webhookId": "android-normalize"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT od.operator_id, od.tenant_id\nFROM elo_t_operator_devices od\nWHERE od.session_token = '{{ $json.body.session_token }}'\n  AND od.is_active = true\nLIMIT 1;",
        "options": {}
      },
      "id": "validate-session",
      "name": "Postgres - Validate Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-576, 200],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "session-valid",
              "leftValue": "={{ $json.operator_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-session-valid",
      "name": "IF - Session Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-352, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://eldoleado.ru"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Ты помощник оператора сервисного центра по ремонту телефонов. Твоя задача - нормализовать текст сообщения оператора:\\n1. Исправить орфографические и грамматические ошибки\\n2. Сделать текст более вежливым и профессиональным\\n3. Сохранить смысл и ключевую информацию\\n4. Убрать лишние слова-паразиты\\n5. Отвечай ТОЛЬКО нормализованным текстом, без пояснений\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($('Webhook - Normalize').item.json.body.text) }}\n    }\n  ],\n  \"max_tokens\": 500,\n  \"temperature\": 0.3\n}",
        "options": {}
      },
      "id": "openrouter-call",
      "name": "OpenRouter - Normalize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-128, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "openrouter-api",
          "name": "OpenRouter API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst normalizedText = response.choices?.[0]?.message?.content || '';\n\nreturn {\n  normalized_text: normalizedText.trim()\n};"
      },
      "id": "extract-response",
      "name": "Extract Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [96, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"normalized_text\": {{ JSON.stringify($json.normalized_text) }}\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "response-success",
      "name": "Response - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [320, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"invalid_session\"\n}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "response-unauthorized",
      "name": "Response - Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-128, 300]
    }
  ],
  "connections": {
    "Webhook - Normalize": {
      "main": [
        [
          {
            "node": "Postgres - Validate Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Validate Session": {
      "main": [
        [
          {
            "node": "IF - Session Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Session Valid": {
      "main": [
        [
          {
            "node": "OpenRouter - Normalize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response - Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - Normalize": {
      "main": [
        [
          {
            "node": "Extract Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response": {
      "main": [
        [
          {
            "node": "Response - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "ELO"
    },
    {
      "name": "API"
    }
  ]
}
