NEW/workflows/API/ELO_API_Android_Send_Message.json
{
  "updatedAt": "2025-12-21T11:29:39.856Z",
  "createdAt": "2025-12-19T08:32:18.873Z",
  "id": "6twQI6tVin73BcN1",
  "name": "ELO_API_Android_Send_Message",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "android/messages/send",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "bdd5d9fe-ba82-4941-899a-095d691e3f58",
      "name": "Webhook - Send Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1504,
        272
      ],
      "webhookId": "android-send-message"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT od.operator_id, od.tenant_id, o.name as operator_name\nFROM elo_t_operator_devices od\nJOIN elo_t_operators o ON od.operator_id = o.id\nWHERE od.session_token = '{{ $json.body.session_token }}'\n  AND od.is_active = true\nLIMIT 1;",
        "options": {}
      },
      "id": "5d13793c-55e1-4b41-bd0d-3ce55b4a33c2",
      "name": "Validate Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1280,
        272
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "session-valid",
              "leftValue": "={{ $json.operator_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "81af2790-6abc-4820-9cc4-ac01a2506219",
      "name": "IF Session Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1056,
        272
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  d.id as dialog_id,\n  d.tenant_id,\n  d.client_id,\n  d.channel_id,\n  d.external_chat_id,\n  c.name as client_name,\n  c.phone as client_phone\nFROM elo_t_dialogs d\nJOIN elo_t_clients c ON d.client_id = c.id\nWHERE d.id = '{{ $('Webhook - Send Message').item.json.body.dialog_id }}'::uuid\n  AND d.tenant_id = '{{ $('Validate Session').item.json.tenant_id }}'::uuid\nLIMIT 1;",
        "options": {}
      },
      "id": "305a722e-2951-43e7-a249-4f3d2f1e26a1",
      "name": "Get Dialog Info",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -832,
        160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO elo_t_messages (\n  tenant_id,\n  dialog_id,\n  client_id,\n  direction_id,\n  message_type_id,\n  actor_type,\n  actor_id,\n  content,\n  timestamp\n) VALUES (\n  '{{ $('Get Dialog Info').item.json.tenant_id }}'::uuid,\n  '{{ $('Get Dialog Info').item.json.dialog_id }}'::uuid,\n  '{{ $('Get Dialog Info').item.json.client_id }}'::uuid,\n  2,\n  1,\n  'operator',\n  '{{ $('Validate Session').item.json.operator_id }}'::uuid,\n  '{{ $('Webhook - Send Message').item.json.body.text.replace(/'/g, \"''\") }}',\n  NOW()\n)\nRETURNING id, content as text, 'out' as direction, 'operator' as sender_type,\n  '{{ $('Validate Session').item.json.operator_name }}' as sender_name,\n  EXTRACT(EPOCH FROM timestamp)::bigint * 1000 as timestamp;",
        "options": {}
      },
      "id": "fd5b90a0-8572-4997-958e-65bf64f641ef",
      "name": "Insert Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -608,
        160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dialogInfo = $('Get Dialog Info').first().json;\nconst message = $('Insert Message').first().json;\nconst body = $('Webhook - Send Message').first().json.body;\nconst session = $('Validate Session').first().json;\n\n// Map channel_id to queue name\nconst channelQueues = {\n  1: 'queue:outgoing:telegram',\n  2: 'queue:outgoing:whatsapp',\n  3: 'queue:outgoing:avito',\n  4: 'queue:outgoing:vk',\n  5: 'queue:outgoing:max'\n};\n\nconst queueName = channelQueues[dialogInfo.channel_id] || 'queue:outgoing:unknown';\n\n// Prepare outgoing message for Redis queue\nconst outgoingMessage = {\n  tenant_id: dialogInfo.tenant_id,\n  dialog_id: dialogInfo.dialog_id,\n  client_id: dialogInfo.client_id,\n  external_chat_id: dialogInfo.external_chat_id,\n  message_text: body.text,\n  message_id: message.id,\n  actor_type: 'operator',\n  actor_id: session.operator_id,\n  timestamp: new Date().toISOString()\n};\n\nreturn {\n  queue_name: queueName,\n  outgoing_message: outgoingMessage,\n  message: {\n    id: message.id,\n    text: message.text,\n    direction: message.direction,\n    sender_type: message.sender_type,\n    sender_name: message.sender_name,\n    timestamp: message.timestamp\n  }\n};"
      },
      "id": "84c4b410-679b-45e4-922e-49bc9dc8571c",
      "name": "Prepare Outgoing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        160
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.queue_name }}",
        "messageData": "={{ JSON.stringify($json.outgoing_message) }}",
        "tail": true
      },
      "id": "0022f456-7f71-4083-8745-98a65332984f",
      "name": "Redis Push to Channel Queue",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -160,
        160
      ],
      "credentials": {
        "redis": {
          "id": "7FQcEivUY94atW24",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": {{ JSON.stringify($('Prepare Outgoing').item.json.message) }},\n  \"queued\": true,\n  \"queue\": \"{{ $('Prepare Outgoing').item.json.queue_name }}\"\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "ed53ffed-df3c-402e-a26e-a9c64b033954",
      "name": "Response Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        64,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"invalid_session\"\n}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "1e51c632-f0fc-44bb-ba99-512c3fde886d",
      "name": "Response Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -832,
        368
      ]
    }
  ],
  "connections": {
    "Webhook - Send Message": {
      "main": [
        [
          {
            "node": "Validate Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Session": {
      "main": [
        [
          {
            "node": "IF Session Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Session Valid": {
      "main": [
        [
          {
            "node": "Get Dialog Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dialog Info": {
      "main": [
        [
          {
            "node": "Insert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Message": {
      "main": [
        [
          {
            "node": "Prepare Outgoing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Outgoing": {
      "main": [
        [
          {
            "node": "Redis Push to Channel Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Push to Channel Queue": {
      "main": [
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "eb9236f5-e102-48ca-9add-2708a47e94f8",
  "activeVersionId": "eb9236f5-e102-48ca-9add-2708a47e94f8",
  "versionCounter": 17,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-19T08:32:18.879Z",
      "createdAt": "2025-12-19T08:32:18.879Z",
      "role": "workflow:owner",
      "workflowId": "6twQI6tVin73BcN1",
      "projectId": "x7frUSUEowDAk8Dt",
      "project": {
        "updatedAt": "2025-08-25T18:57:22.218Z",
        "createdAt": "2025-08-25T08:16:18.805Z",
        "id": "x7frUSUEowDAk8Dt",
        "name": "Dmitriy Remacs <dk@n8nsrv.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-25T08:16:18.805Z",
            "createdAt": "2025-08-25T08:16:18.805Z",
            "userId": "1d5222a1-8f53-4940-b7de-93daeae04393",
            "projectId": "x7frUSUEowDAk8Dt",
            "user": {
              "updatedAt": "2025-12-26T07:11:12.000Z",
              "createdAt": "2025-08-25T08:16:17.784Z",
              "id": "1d5222a1-8f53-4940-b7de-93daeae04393",
              "email": "dk@n8nsrv.ru",
              "firstName": "Dmitriy",
              "lastName": "Remacs",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RbSUhceYc7q41M5j",
                "userActivatedAt": 1756286438389
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-25",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-23T03:58:34.844Z",
      "createdAt": "2025-11-23T03:58:34.844Z",
      "id": "0yzk30hhaSzkl8bF",
      "name": "API"
    },
    {
      "updatedAt": "2025-12-09T18:50:08.518Z",
      "createdAt": "2025-12-09T18:50:08.518Z",
      "id": "tMSCjbvPU3xrNUqz",
      "name": "ELO"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-21T11:29:39.858Z",
    "createdAt": "2025-12-21T11:29:39.858Z",
    "versionId": "eb9236f5-e102-48ca-9add-2708a47e94f8",
    "workflowId": "6twQI6tVin73BcN1",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "android/messages/send",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "*"
          }
        },
        "id": "bdd5d9fe-ba82-4941-899a-095d691e3f58",
        "name": "Webhook - Send Message",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -1504,
          272
        ],
        "webhookId": "android-send-message"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT od.operator_id, od.tenant_id, o.name as operator_name\nFROM elo_t_operator_devices od\nJOIN elo_t_operators o ON od.operator_id = o.id\nWHERE od.session_token = '{{ $json.body.session_token }}'\n  AND od.is_active = true\nLIMIT 1;",
          "options": {}
        },
        "id": "5d13793c-55e1-4b41-bd0d-3ce55b4a33c2",
        "name": "Validate Session",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1280,
          272
        ],
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "n2SyhP9QhMnp1ryk",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "session-valid",
                "leftValue": "={{ $json.operator_id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "81af2790-6abc-4820-9cc4-ac01a2506219",
        "name": "IF Session Valid",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -1056,
          272
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n  d.id as dialog_id,\n  d.tenant_id,\n  d.client_id,\n  d.channel_id,\n  d.external_chat_id,\n  c.name as client_name,\n  c.phone as client_phone\nFROM elo_t_dialogs d\nJOIN elo_t_clients c ON d.client_id = c.id\nWHERE d.id = '{{ $('Webhook - Send Message').item.json.body.dialog_id }}'::uuid\n  AND d.tenant_id = '{{ $('Validate Session').item.json.tenant_id }}'::uuid\nLIMIT 1;",
          "options": {}
        },
        "id": "305a722e-2951-43e7-a249-4f3d2f1e26a1",
        "name": "Get Dialog Info",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -832,
          160
        ],
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "n2SyhP9QhMnp1ryk",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO elo_t_messages (\n  tenant_id,\n  dialog_id,\n  client_id,\n  direction_id,\n  message_type_id,\n  actor_type,\n  actor_id,\n  content,\n  timestamp\n) VALUES (\n  '{{ $('Get Dialog Info').item.json.tenant_id }}'::uuid,\n  '{{ $('Get Dialog Info').item.json.dialog_id }}'::uuid,\n  '{{ $('Get Dialog Info').item.json.client_id }}'::uuid,\n  2,\n  1,\n  'operator',\n  '{{ $('Validate Session').item.json.operator_id }}'::uuid,\n  '{{ $('Webhook - Send Message').item.json.body.text.replace(/'/g, \"''\") }}',\n  NOW()\n)\nRETURNING id, content as text, 'out' as direction, 'operator' as sender_type,\n  '{{ $('Validate Session').item.json.operator_name }}' as sender_name,\n  EXTRACT(EPOCH FROM timestamp)::bigint * 1000 as timestamp;",
          "options": {}
        },
        "id": "fd5b90a0-8572-4997-958e-65bf64f641ef",
        "name": "Insert Message",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -608,
          160
        ],
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "n2SyhP9QhMnp1ryk",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const dialogInfo = $('Get Dialog Info').first().json;\nconst message = $('Insert Message').first().json;\nconst body = $('Webhook - Send Message').first().json.body;\nconst session = $('Validate Session').first().json;\n\n// Map channel_id to queue name\nconst channelQueues = {\n  1: 'queue:outgoing:telegram',\n  2: 'queue:outgoing:whatsapp',\n  3: 'queue:outgoing:avito',\n  4: 'queue:outgoing:vk',\n  5: 'queue:outgoing:max'\n};\n\nconst queueName = channelQueues[dialogInfo.channel_id] || 'queue:outgoing:unknown';\n\n// Prepare outgoing message for Redis queue\nconst outgoingMessage = {\n  tenant_id: dialogInfo.tenant_id,\n  dialog_id: dialogInfo.dialog_id,\n  client_id: dialogInfo.client_id,\n  external_chat_id: dialogInfo.external_chat_id,\n  message_text: body.text,\n  message_id: message.id,\n  actor_type: 'operator',\n  actor_id: session.operator_id,\n  timestamp: new Date().toISOString()\n};\n\nreturn {\n  queue_name: queueName,\n  outgoing_message: outgoingMessage,\n  message: {\n    id: message.id,\n    text: message.text,\n    direction: message.direction,\n    sender_type: message.sender_type,\n    sender_name: message.sender_name,\n    timestamp: message.timestamp\n  }\n};"
        },
        "id": "84c4b410-679b-45e4-922e-49bc9dc8571c",
        "name": "Prepare Outgoing",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -384,
          160
        ]
      },
      {
        "parameters": {
          "operation": "push",
          "list": "={{ $json.queue_name }}",
          "messageData": "={{ JSON.stringify($json.outgoing_message) }}",
          "tail": true
        },
        "id": "0022f456-7f71-4083-8745-98a65332984f",
        "name": "Redis Push to Channel Queue",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -160,
          160
        ],
        "credentials": {
          "redis": {
            "id": "7FQcEivUY94atW24",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"success\": true,\n  \"message\": {{ JSON.stringify($('Prepare Outgoing').item.json.message) }},\n  \"queued\": true,\n  \"queue\": \"{{ $('Prepare Outgoing').item.json.queue_name }}\"\n}",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                },
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "ed53ffed-df3c-402e-a26e-a9c64b033954",
        "name": "Response Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          64,
          160
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"success\": false,\n  \"error\": \"invalid_session\"\n}",
          "options": {
            "responseCode": 401,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                },
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "1e51c632-f0fc-44bb-ba99-512c3fde886d",
        "name": "Response Unauthorized",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          -832,
          368
        ]
      }
    ],
    "connections": {
      "Webhook - Send Message": {
        "main": [
          [
            {
              "node": "Validate Session",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Session": {
        "main": [
          [
            {
              "node": "IF Session Valid",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Session Valid": {
        "main": [
          [
            {
              "node": "Get Dialog Info",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Response Unauthorized",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Dialog Info": {
        "main": [
          [
            {
              "node": "Insert Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Message": {
        "main": [
          [
            {
              "node": "Prepare Outgoing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Outgoing": {
        "main": [
          [
            {
              "node": "Redis Push to Channel Queue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis Push to Channel Queue": {
        "main": [
          [
            {
              "node": "Response Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dmitriy Remacs",
    "name": null,
    "description": null
  }
}