NEW/workflows/API/ELO_API_Android_Normalize.json
{
  "updatedAt": "2025-12-29T05:27:57.486Z",
  "createdAt": "2025-12-19T08:32:05.137Z",
  "id": "nsMrS7SmpsxutrfN",
  "name": "ELO_API_Android_Normalize",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v1/normalize",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "4f05fef1-2808-4b6d-acbe-76035c46ad8b",
      "name": "Webhook - Normalize",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -960,
        32
      ],
      "webhookId": "android-normalize"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT od.operator_id, od.tenant_id\nFROM elo_t_operator_devices od\nWHERE od.session_token = '{{ $json.body.session_token }}'\n  AND od.is_active = true\nLIMIT 1;",
        "options": {}
      },
      "id": "01b0a9bd-4d2f-43af-92ab-2f199258e371",
      "name": "Postgres - Validate Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -736,
        32
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "session-valid",
              "leftValue": "={{ $json.operator_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b9ead139-584c-43f5-9fdb-b86a60437ce8",
      "name": "IF - Session Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -512,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://eldoleado.ru"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Ты помощник оператора сервисного центра по ремонту телефонов. Твоя задача - нормализовать текст сообщения оператора:\\n1. Исправить орфографические и грамматические ошибки\\n2. Сделать текст более вежливым и профессиональным\\n3. Сохранить смысл и ключевую информацию\\n4. Убрать лишние слова-паразиты\\n5. Отвечай ТОЛЬКО нормализованным текстом, без пояснений\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($('Webhook - Normalize').item.json.body.text) }}\n    }\n  ],\n  \"max_tokens\": 500,\n  \"temperature\": 0.3\n}",
        "options": {}
      },
      "id": "40906ce7-69dc-462d-80b5-d60bf94de148",
      "name": "OpenRouter - Normalize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -288,
        -80
      ],
      "credentials": {
        "openRouterApi": {
          "id": "ameOTCcGgTm3hbtM",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst normalizedText = response.choices?.[0]?.message?.content || '';\n\nreturn {\n  normalized_text: normalizedText.trim()\n};"
      },
      "id": "682206bd-3ae3-4211-947b-4fba86ab6ea0",
      "name": "Extract Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"normalized_text\": {{ JSON.stringify($json.normalized_text) }}\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "2078f314-c406-4cc1-8c14-6a529392580c",
      "name": "Response - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        160,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"invalid_session\"\n}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "74cd3da3-4e0b-4430-97af-5637bcbf3115",
      "name": "Response - Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -288,
        128
      ]
    }
  ],
  "connections": {
    "Webhook - Normalize": {
      "main": [
        [
          {
            "node": "Postgres - Validate Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Validate Session": {
      "main": [
        [
          {
            "node": "IF - Session Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Session Valid": {
      "main": [
        [
          {
            "node": "OpenRouter - Normalize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response - Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - Normalize": {
      "main": [
        [
          {
            "node": "Extract Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response": {
      "main": [
        [
          {
            "node": "Response - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "72530b3d-c9fa-4101-a4c6-771f049c5302",
  "activeVersionId": "72530b3d-c9fa-4101-a4c6-771f049c5302",
  "versionCounter": 13,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-19T08:32:05.146Z",
      "createdAt": "2025-12-19T08:32:05.146Z",
      "role": "workflow:owner",
      "workflowId": "nsMrS7SmpsxutrfN",
      "projectId": "x7frUSUEowDAk8Dt",
      "project": {
        "updatedAt": "2025-08-25T18:57:22.218Z",
        "createdAt": "2025-08-25T08:16:18.805Z",
        "id": "x7frUSUEowDAk8Dt",
        "name": "Dmitriy Remacs <dk@n8nsrv.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-25T08:16:18.805Z",
            "createdAt": "2025-08-25T08:16:18.805Z",
            "userId": "1d5222a1-8f53-4940-b7de-93daeae04393",
            "projectId": "x7frUSUEowDAk8Dt",
            "user": {
              "updatedAt": "2025-12-31T08:56:11.000Z",
              "createdAt": "2025-08-25T08:16:17.784Z",
              "id": "1d5222a1-8f53-4940-b7de-93daeae04393",
              "email": "dk@n8nsrv.ru",
              "firstName": "Dmitriy",
              "lastName": "Remacs",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RbSUhceYc7q41M5j",
                "userActivatedAt": 1756286438389
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-23T03:58:34.844Z",
      "createdAt": "2025-11-23T03:58:34.844Z",
      "id": "0yzk30hhaSzkl8bF",
      "name": "API"
    },
    {
      "updatedAt": "2025-12-09T18:50:08.518Z",
      "createdAt": "2025-12-09T18:50:08.518Z",
      "id": "tMSCjbvPU3xrNUqz",
      "name": "ELO"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-29T05:27:57.487Z",
    "createdAt": "2025-12-29T05:27:57.487Z",
    "versionId": "72530b3d-c9fa-4101-a4c6-771f049c5302",
    "workflowId": "nsMrS7SmpsxutrfN",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "v1/normalize",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "*"
          }
        },
        "id": "4f05fef1-2808-4b6d-acbe-76035c46ad8b",
        "name": "Webhook - Normalize",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -960,
          32
        ],
        "webhookId": "android-normalize"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT od.operator_id, od.tenant_id\nFROM elo_t_operator_devices od\nWHERE od.session_token = '{{ $json.body.session_token }}'\n  AND od.is_active = true\nLIMIT 1;",
          "options": {}
        },
        "id": "01b0a9bd-4d2f-43af-92ab-2f199258e371",
        "name": "Postgres - Validate Session",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -736,
          32
        ],
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "n2SyhP9QhMnp1ryk",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "session-valid",
                "leftValue": "={{ $json.operator_id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "b9ead139-584c-43f5-9fdb-b86a60437ce8",
        "name": "IF - Session Valid",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -512,
          32
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://openrouter.ai/api/v1/chat/completions",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openRouterApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "HTTP-Referer",
                "value": "https://eldoleado.ru"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"openai/gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Ты помощник оператора сервисного центра по ремонту телефонов. Твоя задача - нормализовать текст сообщения оператора:\\n1. Исправить орфографические и грамматические ошибки\\n2. Сделать текст более вежливым и профессиональным\\n3. Сохранить смысл и ключевую информацию\\n4. Убрать лишние слова-паразиты\\n5. Отвечай ТОЛЬКО нормализованным текстом, без пояснений\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($('Webhook - Normalize').item.json.body.text) }}\n    }\n  ],\n  \"max_tokens\": 500,\n  \"temperature\": 0.3\n}",
          "options": {}
        },
        "id": "40906ce7-69dc-462d-80b5-d60bf94de148",
        "name": "OpenRouter - Normalize",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -288,
          -80
        ],
        "credentials": {
          "openRouterApi": {
            "id": "ameOTCcGgTm3hbtM",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const response = $input.first().json;\nconst normalizedText = response.choices?.[0]?.message?.content || '';\n\nreturn {\n  normalized_text: normalizedText.trim()\n};"
        },
        "id": "682206bd-3ae3-4211-947b-4fba86ab6ea0",
        "name": "Extract Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -64,
          -80
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"success\": true,\n  \"normalized_text\": {{ JSON.stringify($json.normalized_text) }}\n}",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                },
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "2078f314-c406-4cc1-8c14-6a529392580c",
        "name": "Response - Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          160,
          -80
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"success\": false,\n  \"error\": \"invalid_session\"\n}",
          "options": {
            "responseCode": 401,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                },
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "74cd3da3-4e0b-4430-97af-5637bcbf3115",
        "name": "Response - Unauthorized",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          -288,
          128
        ]
      }
    ],
    "connections": {
      "Webhook - Normalize": {
        "main": [
          [
            {
              "node": "Postgres - Validate Session",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres - Validate Session": {
        "main": [
          [
            {
              "node": "IF - Session Valid",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - Session Valid": {
        "main": [
          [
            {
              "node": "OpenRouter - Normalize",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Response - Unauthorized",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter - Normalize": {
        "main": [
          [
            {
              "node": "Extract Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Response": {
        "main": [
          [
            {
              "node": "Response - Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dmitriy Remacs",
    "name": null,
    "description": null
  }
}