NEW/workflows/API/ELO_API_Android_Dialogs.json
{
  "updatedAt": "2025-12-29T05:28:32.419Z",
  "createdAt": "2025-12-18T10:30:02.005Z",
  "id": "2EH6NEVKrvAuGSo6",
  "name": "ELO_API_Android_Dialogs",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "v1/dialogs",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "fc7c818a-9f7e-4e1e-a11e-99ddf452949a",
      "name": "Webhook - Get Dialogs",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -928,
        32
      ],
      "webhookId": "android-dialogs"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT od.operator_id, od.tenant_id, o.name as operator_name\nFROM elo_t_operator_devices od\nJOIN elo_t_operators o ON od.operator_id = o.id\nWHERE od.session_token = '{{ $json.query.session_token }}'\n  AND od.is_active = true\nLIMIT 1;",
        "options": {}
      },
      "id": "8128e0db-4778-4303-9b19-d34aea21dfa3",
      "name": "Postgres - Validate Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -704,
        32
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "session-valid",
              "leftValue": "={{ $json.operator_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d88f7ede-5240-4938-899c-2486310179a9",
      "name": "IF - Session Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -480,
        32
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT\n    d.id,\n    c.name as client_name,\n    c.phone as client_phone,\n    LOWER(ch.name) as channel,\n    d.external_chat_id as chat_id,\n    COALESCE(m.content, '') as last_message_text,\n    EXTRACT(EPOCH FROM d.last_message_at)::bigint * 1000 as last_message_time,\n    false as last_message_is_voice,\n    0 as unread_count\n  FROM elo_t_dialogs d\n  JOIN elo_t_clients c ON d.client_id = c.id\n  JOIN elo_channels ch ON d.channel_id = ch.id\n  LEFT JOIN LATERAL (\n    SELECT content FROM elo_t_messages\n    WHERE dialog_id = d.id\n    ORDER BY timestamp DESC LIMIT 1\n  ) m ON true\n  WHERE d.assigned_operator_id = '{{ $('Postgres - Validate Session').item.json.operator_id }}'::uuid\n    AND d.tenant_id = '{{ $('Postgres - Validate Session').item.json.tenant_id }}'::uuid\n  ORDER BY d.last_message_at DESC NULLS LAST;",
        "options": {}
      },
      "id": "98f2ee89-b0da-4cbd-9303-794ae299949d",
      "name": "Postgres - Get Dialogs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -256,
        -64
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "n2SyhP9QhMnp1ryk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dialogs = $input.all()\n    .filter(item => item.json && item.json.id)  // фильтр пустых\n    .map(item => {\n      const d = item.json;\n      return {\n        id: d.id,\n        client_name: d.client_name || 'Unknown',\n        client_phone: d.client_phone || '',\n        channel: d.channel,\n        chat_id: d.chat_id || '',\n        last_message_text: d.last_message_text || '',\n        last_message_time: d.last_message_time || 0,\n        last_message_is_voice: d.last_message_is_voice || false,\n        unread_count: d.unread_count || 0\n      };\n    });\n\n  return { dialogs };"
      },
      "id": "ac5f3cff-a754-47cd-b16f-8be82d190284",
      "name": "Format Dialogs Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -64
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"dialogs\": {{ JSON.stringify($json.dialogs) }}\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "e0eb2a8c-b9db-4523-8d1e-15abae82b97f",
      "name": "Response - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        192,
        -64
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"invalid_session\"\n}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "6d7bda2e-57ff-4f78-b3a9-3523c12f9236",
      "name": "Response - Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -256,
        128
      ]
    }
  ],
  "connections": {
    "Webhook - Get Dialogs": {
      "main": [
        [
          {
            "node": "Postgres - Validate Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Validate Session": {
      "main": [
        [
          {
            "node": "IF - Session Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Session Valid": {
      "main": [
        [
          {
            "node": "Postgres - Get Dialogs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response - Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Get Dialogs": {
      "main": [
        [
          {
            "node": "Format Dialogs Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Dialogs Response": {
      "main": [
        [
          {
            "node": "Response - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "778930ef-012f-4eac-9be2-252b9a870613",
  "activeVersionId": "778930ef-012f-4eac-9be2-252b9a870613",
  "versionCounter": 15,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-18T10:30:02.012Z",
      "createdAt": "2025-12-18T10:30:02.012Z",
      "role": "workflow:owner",
      "workflowId": "2EH6NEVKrvAuGSo6",
      "projectId": "x7frUSUEowDAk8Dt",
      "project": {
        "updatedAt": "2025-08-25T18:57:22.218Z",
        "createdAt": "2025-08-25T08:16:18.805Z",
        "id": "x7frUSUEowDAk8Dt",
        "name": "Dmitriy Remacs <dk@n8nsrv.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-25T08:16:18.805Z",
            "createdAt": "2025-08-25T08:16:18.805Z",
            "userId": "1d5222a1-8f53-4940-b7de-93daeae04393",
            "projectId": "x7frUSUEowDAk8Dt",
            "user": {
              "updatedAt": "2025-12-31T08:56:11.000Z",
              "createdAt": "2025-08-25T08:16:17.784Z",
              "id": "1d5222a1-8f53-4940-b7de-93daeae04393",
              "email": "dk@n8nsrv.ru",
              "firstName": "Dmitriy",
              "lastName": "Remacs",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RbSUhceYc7q41M5j",
                "userActivatedAt": 1756286438389
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-23T03:58:34.844Z",
      "createdAt": "2025-11-23T03:58:34.844Z",
      "id": "0yzk30hhaSzkl8bF",
      "name": "API"
    },
    {
      "updatedAt": "2025-12-09T18:50:08.518Z",
      "createdAt": "2025-12-09T18:50:08.518Z",
      "id": "tMSCjbvPU3xrNUqz",
      "name": "ELO"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-29T05:28:32.420Z",
    "createdAt": "2025-12-29T05:28:32.420Z",
    "versionId": "778930ef-012f-4eac-9be2-252b9a870613",
    "workflowId": "2EH6NEVKrvAuGSo6",
    "nodes": [
      {
        "parameters": {
          "path": "v1/dialogs",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "*"
          }
        },
        "id": "fc7c818a-9f7e-4e1e-a11e-99ddf452949a",
        "name": "Webhook - Get Dialogs",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -928,
          32
        ],
        "webhookId": "android-dialogs"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT od.operator_id, od.tenant_id, o.name as operator_name\nFROM elo_t_operator_devices od\nJOIN elo_t_operators o ON od.operator_id = o.id\nWHERE od.session_token = '{{ $json.query.session_token }}'\n  AND od.is_active = true\nLIMIT 1;",
          "options": {}
        },
        "id": "8128e0db-4778-4303-9b19-d34aea21dfa3",
        "name": "Postgres - Validate Session",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -704,
          32
        ],
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "n2SyhP9QhMnp1ryk",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "session-valid",
                "leftValue": "={{ $json.operator_id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "d88f7ede-5240-4938-899c-2486310179a9",
        "name": "IF - Session Valid",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -480,
          32
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": " SELECT\n    d.id,\n    c.name as client_name,\n    c.phone as client_phone,\n    LOWER(ch.name) as channel,\n    d.external_chat_id as chat_id,\n    COALESCE(m.content, '') as last_message_text,\n    EXTRACT(EPOCH FROM d.last_message_at)::bigint * 1000 as last_message_time,\n    false as last_message_is_voice,\n    0 as unread_count\n  FROM elo_t_dialogs d\n  JOIN elo_t_clients c ON d.client_id = c.id\n  JOIN elo_channels ch ON d.channel_id = ch.id\n  LEFT JOIN LATERAL (\n    SELECT content FROM elo_t_messages\n    WHERE dialog_id = d.id\n    ORDER BY timestamp DESC LIMIT 1\n  ) m ON true\n  WHERE d.assigned_operator_id = '{{ $('Postgres - Validate Session').item.json.operator_id }}'::uuid\n    AND d.tenant_id = '{{ $('Postgres - Validate Session').item.json.tenant_id }}'::uuid\n  ORDER BY d.last_message_at DESC NULLS LAST;",
          "options": {}
        },
        "id": "98f2ee89-b0da-4cbd-9303-794ae299949d",
        "name": "Postgres - Get Dialogs",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -256,
          -64
        ],
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "n2SyhP9QhMnp1ryk",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const dialogs = $input.all()\n    .filter(item => item.json && item.json.id)  // фильтр пустых\n    .map(item => {\n      const d = item.json;\n      return {\n        id: d.id,\n        client_name: d.client_name || 'Unknown',\n        client_phone: d.client_phone || '',\n        channel: d.channel,\n        chat_id: d.chat_id || '',\n        last_message_text: d.last_message_text || '',\n        last_message_time: d.last_message_time || 0,\n        last_message_is_voice: d.last_message_is_voice || false,\n        unread_count: d.unread_count || 0\n      };\n    });\n\n  return { dialogs };"
        },
        "id": "ac5f3cff-a754-47cd-b16f-8be82d190284",
        "name": "Format Dialogs Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -32,
          -64
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"success\": true,\n  \"dialogs\": {{ JSON.stringify($json.dialogs) }}\n}",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                },
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "e0eb2a8c-b9db-4523-8d1e-15abae82b97f",
        "name": "Response - Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          192,
          -64
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"success\": false,\n  \"error\": \"invalid_session\"\n}",
          "options": {
            "responseCode": 401,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                },
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "6d7bda2e-57ff-4f78-b3a9-3523c12f9236",
        "name": "Response - Unauthorized",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          -256,
          128
        ]
      }
    ],
    "connections": {
      "Webhook - Get Dialogs": {
        "main": [
          [
            {
              "node": "Postgres - Validate Session",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres - Validate Session": {
        "main": [
          [
            {
              "node": "IF - Session Valid",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - Session Valid": {
        "main": [
          [
            {
              "node": "Postgres - Get Dialogs",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Response - Unauthorized",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres - Get Dialogs": {
        "main": [
          [
            {
              "node": "Format Dialogs Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Dialogs Response": {
        "main": [
          [
            {
              "node": "Response - Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dmitriy Remacs",
    "name": null,
    "description": null
  }
}